@color-menu-prefix-class: tui-color-menu;
@trigger-prefix-class: tui-trigger;

.@{color-menu-prefix-class}-btn {
  background: var(--color-background-popup) !important;
  border: solid 1px var(--color-border-2) !important;
  box-shadow: var(--box-shadow-popup) !important;
  & svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    font-size: 16px !important;
  }
}
.@{color-menu-prefix-class} {
  padding: 4px 0;
  border-radius: var(--border-radius-medium);
  &.tui-menu {
    & .tui-menu-inner {
      padding: 0;
      & li {
        padding: 0 8px;
        &:hover {
          background-color: var(--color-fill-2);
        }
        &.tui-menu-item-selected {
          color: rgb(var(--primary-6));
        }
      }
    }
  }
}
.@{color-menu-prefix-class}-trigger {
  &.@{trigger-prefix-class} {
    & .@{trigger-prefix-class}-inner {
      //background-color: var(--color-background-popup);
      padding: 0;
    }
  }
}
