.tui-button.btn-colormode {
  background: var(--color-background-popup) !important;
  border: solid 1px var(--color-border-2) !important;
  box-shadow: var(--box-shadow-popup) !important;
  & svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    font-size: 16px;
  }
}
