@form-item-prefix-class: tui-form-item;
@input-prefix-class: tui-input;

.@{form-item-prefix-class} {
  margin-bottom: 16px;
  .@{form-item-prefix-class}-control {

  }
  .@{form-item-prefix-class}-tip {
    font-size: 12px;
    margin: 8px 0 0;
  }
  &.has-error {
    .@{form-item-prefix-class}-tip {
      color: rgb(var(--red-6));
    }
    & .@{input-prefix-class}-root {
      & .@{input-prefix-class} {
        border: solid 1px rgb(var(--red-6));
        &:hover {
          border: solid 1px rgb(var(--red-6));
        }
        &:focus {
          box-shadow: 0px 0px 0px 3px rgb(var(--red-2));;
        }
      }
    }
  }
}