// text
@btn-standard-color: rgb(var(--tt-primary-6));
@btn-standard-color-bg: transparent;
@btn-standard-color-bg-hover: var(--tt-color-primary-1);
@btn-standard-color-bg-active: var(--tt-color-primary-2);
@btn-standard-color-disabled: rgb(var(--tt-grey-5));
@btn-standard-color-border-disabled: none;
@btn-standard-color-bg-disabled: transparent;
@btn-standard-shadow: none;
@btn-standard-shadow-hover: none;
@btn-standard-shadow-disabled: none;

@btn-standard-primary-color: rgb(var(--tt-primary-6));
@btn-standard-primary-border: none;
@btn-standard-primary-border-hover: none;
@btn-standard-primary-border-active: none;
@btn-standard-primary-color-bg: transparent;
@btn-standard-primary-color-bg-hover: var(--tt-color-primary-1);
@btn-standard-primary-color-bg-active: var(--tt-color-primary-2);

@btn-standard-info-color: rgb(var(--tt-primary-6));
@btn-standard-info-border: none;
@btn-standard-info-border-hover: none;
@btn-standard-info-border-active: none;
@btn-standard-info-color-bg: transparent;
@btn-standard-info-color-bg-hover: var(--tt-color-primary-1);
@btn-standard-info-color-bg-active: var(--tt-color-primary-2);

@btn-standard-secondary-color: rgb(var(--tt-grey-8));
@btn-standard-secondary-border: none;
@btn-standard-secondary-border-hover: none;
@btn-standard-secondary-border-active: none;
@btn-standard-secondary-color-bg: transparent;
@btn-standard-secondary-color-bg-hover: var(--tt-color-secondary-1);
@btn-standard-secondary-color-bg-active: var(--tt-color-secondary-2);

@btn-standard-success-color: rgb(var(--tt-green-6));
@btn-standard-success-border: none;
@btn-standard-success-border-hover: none;
@btn-standard-success-border-active: none;
@btn-standard-success-color-bg: transparent;
@btn-standard-success-color-bg-hover: var(--tt-color-success-1);
@btn-standard-success-color-bg-active: var(--tt-color-success-2);

@btn-standard-error-color: rgb(var(--tt-red-6));
@btn-standard-error-border: none;
@btn-standard-error-border-hover: none;
@btn-standard-error-border-active: none;
@btn-standard-error-color-bg: transparent;
@btn-standard-error-color-bg-hover: var(--tt-color-error-1);
@btn-standard-error-color-bg-active: var(--tt-color-error-2);

@btn-standard-warning-color: rgb(var(--tt-orange-6));
@btn-standard-warning-border: none;
@btn-standard-warning-border-hover: none;
@btn-standard-warning-border-active: none;
@btn-standard-warning-color-bg: transparent;
@btn-standard-warning-color-bg-hover: var(--tt-color-warning-1);
@btn-standard-warning-color-bg-active: var(--tt-color-warning-2);

//filled
@btn-filled-color: #fff;
@btn-filled-color-bg: rgb(var(--tt-primary-6));
@btn-filled-color-bg-hover: rgb(var(--tt-primary-5));
@btn-filled-color-bg-active: rgb(var(--tt-primary-7));
@btn-filled-color-disabled: rgb(var(--tt-grey-5));
@btn-filled-color-border-disabled: none;
@btn-filled-color-bg-disabled: rgb(var(--tt-grey-2));
@btn-filled-shadow: none;
@btn-filled-shadow-hover: var(--tt-box-shadow-btn);
@btn-filled-shadow-disabled: none;

@btn-filled-primary-color: #fff;
@btn-filled-primary-border: none;
@btn-filled-primary-border-hover: none;
@btn-filled-primary-border-active: none;
@btn-filled-primary-color-bg: rgb(var(--tt-primary-6));
@btn-filled-primary-color-bg-hover: rgb(var(--tt-primary-5));
@btn-filled-primary-color-bg-active: rgb(var(--tt-primary-7));

@btn-filled-info-color: #fff;
@btn-filled-info-border: none;
@btn-filled-info-border-hover: none;
@btn-filled-info-border-active: none;
@btn-filled-info-color-bg: rgb(var(--tt-primary-6));
@btn-filled-info-color-bg-hover: rgb(var(--tt-primary-5));
@btn-filled-info-color-bg-active: rgb(var(--tt-primary-7));

@btn-filled-secondary-color: rgb(var(--tt-grey-8));
@btn-filled-secondary-border: none;
@btn-filled-secondary-border-hover: none;
@btn-filled-secondary-border-active: none;
@btn-filled-secondary-color-bg: rgb(var(--tt-grey-3));
@btn-filled-secondary-color-bg-hover: rgb(var(--tt-grey-4));
@btn-filled-secondary-color-bg-active: rgb(var(--tt-grey-5));

@btn-filled-success-color: #fff;
@btn-filled-success-border: none;
@btn-filled-success-border-hover: none;
@btn-filled-success-border-active: none;
@btn-filled-success-color-bg: rgb(var(--tt-green-6));
@btn-filled-success-color-bg-hover: rgb(var(--tt-green-5));
@btn-filled-success-color-bg-active: rgb(var(--tt-green-7));

@btn-filled-error-color: #fff;
@btn-filled-error-border: none;
@btn-filled-error-border-hover: none;
@btn-filled-error-border-active: none;
@btn-filled-error-color-bg: rgb(var(--tt-red-6));
@btn-filled-error-color-bg-hover: rgb(var(--tt-red-5));
@btn-filled-error-color-bg-active: rgb(var(--tt-red-7));

@btn-filled-warning-color: #fff;
@btn-filled-warning-border: none;
@btn-filled-warning-border-hover: none;
@btn-filled-warning-border-active: none;
@btn-filled-warning-color-bg: rgb(var(--tt-orange-6));
@btn-filled-warning-color-bg-hover: rgb(var(--tt-orange-5));
@btn-filled-warning-color-bg-active: rgb(var(--tt-orange-6));

//outlined
@btn-outlined-color: rgb(var(--tt-primary-6));
@btn-outlined-color-bg: transparent;
@btn-outlined-color-bg-hover: var(--tt-color-primary-1);
@btn-outlined-color-bg-active: var(--tt-color-primary-2);
@btn-outlined-color-disabled: rgb(var(--tt-grey-5));
@btn-outlined-color-border-disabled: solid 1px rgb(var(--tt-grey-4));
@btn-outlined-color-bg-disabled: transparent;
@btn-outlined-shadow: none;
@btn-outlined-shadow-hover: none;
@btn-outlined-shadow-disabled: none;

@btn-outlined-primary-color: rgb(var(--tt-primary-6));
@btn-outlined-primary-border: solid 1px rgb(var(--tt-primary-5));
@btn-outlined-primary-border-hover: solid 1px rgb(var(--tt-primary-6));
@btn-outlined-primary-border-active: solid 1px rgb(var(--tt-primary-7));
@btn-outlined-primary-color-bg: transparent;
@btn-outlined-primary-color-bg-hover: var(--tt-color-primary-1);
@btn-outlined-primary-color-bg-active: var(--tt-color-primary-2);

@btn-outlined-info-color: rgb(var(--tt-primary-6));
@btn-outlined-info-border: solid 1px rgb(var(--tt-primary-5));
@btn-outlined-info-border-hover: solid 1px rgb(var(--tt-primary-6));
@btn-outlined-info-border-active: solid 1px rgb(var(--tt-primary-7));
@btn-outlined-info-color-bg: transparent;
@btn-outlined-info-color-bg-hover: var(--tt-color-primary-1);
@btn-outlined-info-color-bg-active: var(--tt-color-primary-2);

@btn-outlined-secondary-color: rgb(var(--tt-grey-8));
@btn-outlined-secondary-border: solid 1px rgb(var(--tt-grey-5));
@btn-outlined-secondary-border-hover: solid 1px rgb(var(--tt-grey-6));
@btn-outlined-secondary-border-active: solid 1px rgb(var(--tt-grey-7));
@btn-outlined-secondary-color-bg: transparent;
@btn-outlined-secondary-color-bg-hover: var(--tt-color-secondary-1);
@btn-outlined-secondary-color-bg-active: var(--tt-color-secondary-2);

@btn-outlined-success-color: rgb(var(--tt-green-6));
@btn-outlined-success-border: solid 1px rgb(var(--tt-green-5));
@btn-outlined-success-border-hover: solid 1px rgb(var(--tt-green-6));
@btn-outlined-success-border-active: solid 1px rgb(var(--tt-green-7));
@btn-outlined-success-color-bg: transparent;
@btn-outlined-success-color-bg-hover: var(--tt-color-success-1);
@btn-outlined-success-color-bg-active: var(--tt-color-success-2);

@btn-outlined-error-color: rgb(var(--tt-red-6));
@btn-outlined-error-border: solid 1px rgb(var(--tt-red-5));
@btn-outlined-error-border-hover: solid 1px rgb(var(--tt-red-6));
@btn-outlined-error-border-active: solid 1px rgb(var(--tt-red-7));
@btn-outlined-error-color-bg: transparent;
@btn-outlined-error-color-bg-hover: var(--tt-color-error-1);
@btn-outlined-error-color-bg-active: var(--tt-color-error-2);

@btn-outlined-warning-color: rgb(var(--tt-orange-6));
@btn-outlined-warning-border: solid 1px rgb(var(--tt-orange-5));
@btn-outlined-warning-border-hover: solid 1px rgb(var(--tt-orange-6));
@btn-outlined-warning-border-active: solid 1px rgb(var(--tt-orange-7));
@btn-outlined-warning-color-bg: transparent;
@btn-outlined-warning-color-bg-hover: var(--tt-color-warning-1);
@btn-outlined-warning-color-bg-active: var(--tt-color-warning-2);
