@select-prefix-class: tui-select;

.@{select-prefix-class} {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  height: var(--size-medium);
  padding: 0 10px;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius-small);
  color: var(--color-foreground-1);
  background: var(--color-fill-3);
  max-width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  &[disabled] {
    color: rgb(var(--grey-5));
    background: rbg(var(--grey-2));
    border: solid 1px rgb(var(--grey-3));
    &:hover,
    &:focus {
      color: rgb(var(--grey-5));
      background: rbg(var(--grey-2));
      border: solid 1px rgb(var(--grey-3));
    }
  }
  &:hover {
    border: solid 1px rgb(var(--primary-5));
    background: var(--color-fill-3);
  }
  // &:focus,
  &.@{select-prefix-class}-focused {
    border: solid 1px rgb(var(--primary-6));
    background: var(--color-fill-2);
    box-shadow: 0px 0px 0px 3px var(--color-primary-2);
  }
  &.disabled {
    color: rgb(var(--grey-5));
  }
  & .@{select-prefix-class}-suffix {
    margin-left: 10px;
  }
  &.@{select-prefix-class}-size-large {
    & .@{select-prefix-class}-suffix {
      margin-left: 12px;
    }
    font-size: 14px;
    height: var(--size-large);
    padding: 0 12px;
    border-radius: var(--border-radius-small);
  }
  &.@{select-prefix-class}-size-small {
    & .@{select-prefix-class}-suffix {
      margin-left: 8px;
    }
    font-size: 12px;
    height: var(--size-small);
    padding: 0 8px;
    border-radius: var(--border-radius-small);
  }
  &.@{select-prefix-class}-size-tiny {
    & .@{select-prefix-class}-suffix {
      margin-left: 6px;
    }
    font-size: 12px;
    height: var(--size-tiny);
    padding: 0 6px;
    border-radius: var(--border-radius-small);
  }
  & .@{select-prefix-class}-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 12px;
    margin-top: 4px;
    color: var(--color-foreground-1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &::before {
      position: absolute;
      width: 6px;
      height: 1.5px;
      background-color: currentcolor;
      border-radius: 2px;
      transform: rotate(-45deg) translate(2.5px);
      transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      content: "";
    }
    &::after {
      position: absolute;
      width: 6px;
      height: 1.5px;
      background-color: currentcolor;
      border-radius: 2px;
      transform: rotate(45deg) translate(-2.5px);
      transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      content: "";
    }
  }

  &.@{select-prefix-class}-open {
    & .@{select-prefix-class}-arrow {
      transform: translateY(-4px);
      &::before {
        transform: rotate(45deg) translate(2.5px);
      }
      &::after {
        transform: rotate(-45deg) translate(-2.5px);
      }
    }
  }
}

.@{select-prefix-class}-options {
  cursor: pointer;
  list-style: none;
  margin: 6px 0;
  & li {
    padding: 8px 16px;
    &:hover {
      background: var(--color-fill-4);
    }
  }
}
