@import "./color/colors";

@primary-color: @blue-6;
@primary-1: @blue-1;
@primary-2: @blue-2;
@primary-3: @blue-3;
@primary-4: @blue-4;
@primary-5: @blue-5;
@primary-6: @blue-6;
@primary-7: @blue-7;
@primary-8: @blue-8;
@primary-9: @blue-9;
@primary-10: @blue-10;

@info-color: @blue-6;
@error-color: @red-6;

@disable-backgroud-color: #f1f1f1;
@disable-color: #dadada;
@normal-color: #4e4e4e;

@heading-color: #202020;
@text-color: #4e4e4e;
@text-color-secondary: #929292;

@border-color-base: #dadada;
@border-color-split: #eeeeee;

@shadow: rgb(0 0 0 / 15%);
@maskShadow: rgb(0 0 0 / 65%);

.light() {
  color-scheme: light;
  --red-1: @red-1;
  --red-2: @red-2;
  --red-3: @red-3;
  --red-4: @red-4;
  --red-5: @red-5;
  --red-6: @red-6;
  --red-7: @red-7;
  --red-8: @red-8;
  --red-9: @red-9;
  --red-10: @red-10;
  --pink-1: @pink-1;
  --pink-2: @pink-2;
  --pink-3: @pink-3;
  --pink-4: @pink-4;
  --pink-5: @pink-5;
  --pink-6: @pink-6;
  --pink-7: @pink-7;
  --pink-8: @pink-8;
  --pink-9: @pink-9;
  --pink-10: @pink-10;
  --purple-1: @purple-1;
  --purple-2: @purple-2;
  --purple-3: @purple-3;
  --purple-4: @purple-4;
  --purple-5: @purple-5;
  --purple-6: @purple-6;
  --purple-7: @purple-7;
  --purple-8: @purple-8;
  --purple-9: @purple-9;
  --purple-10: @purple-10;
  --deeppurple-1: @deeppurple-1;
  --deeppurple-2: @deeppurple-2;
  --deeppurple-3: @deeppurple-3;
  --deeppurple-4: @deeppurple-4;
  --deeppurple-5: @deeppurple-5;
  --deeppurple-6: @deeppurple-6;
  --deeppurple-7: @deeppurple-7;
  --deeppurple-8: @deeppurple-8;
  --deeppurple-9: @deeppurple-9;
  --deeppurple-10: @deeppurple-10;
  --blue-1: @blue-1;
  --blue-2: @blue-2;
  --blue-3: @blue-3;
  --blue-4: @blue-4;
  --blue-5: @blue-5;
  --blue-6: @blue-6;
  --blue-7: @blue-7;
  --blue-8: @blue-8;
  --blue-9: @blue-9;
  --blue-10: @blue-10;
  --cyan-1: @cyan-1;
  --cyan-2: @cyan-2;
  --cyan-3: @cyan-3;
  --cyan-4: @cyan-4;
  --cyan-5: @cyan-5;
  --cyan-6: @cyan-6;
  --cyan-7: @cyan-7;
  --cyan-8: @cyan-8;
  --cyan-9: @cyan-9;
  --cyan-10: @cyan-10;
  --green-1: @green-1;
  --green-2: @green-2;
  --green-3: @green-3;
  --green-4: @green-4;
  --green-5: @green-5;
  --green-6: @green-6;
  --green-7: @green-7;
  --green-8: @green-8;
  --green-9: @green-9;
  --green-10: @green-10;
  --lime-1: @lime-1;
  --lime-2: @lime-2;
  --lime-3: @lime-3;
  --lime-4: @lime-4;
  --lime-5: @lime-5;
  --lime-6: @lime-6;
  --lime-7: @lime-7;
  --lime-8: @lime-8;
  --lime-9: @lime-9;
  --lime-10: @lime-10;
  --yellow-1: @yellow-1;
  --yellow-2: @yellow-2;
  --yellow-3: @yellow-3;
  --yellow-4: @yellow-4;
  --yellow-5: @yellow-5;
  --yellow-6: @yellow-6;
  --yellow-7: @yellow-7;
  --yellow-8: @yellow-8;
  --yellow-9: @yellow-9;
  --yellow-10: @yellow-10;
  --amber-1: @amber-1;
  --amber-2: @amber-2;
  --amber-3: @amber-3;
  --amber-4: @amber-4;
  --amber-5: @amber-5;
  --amber-6: @amber-6;
  --amber-7: @amber-7;
  --amber-8: @amber-8;
  --amber-9: @amber-9;
  --amber-10: @amber-10;
  --orange-1: @orange-1;
  --orange-2: @orange-2;
  --orange-3: @orange-3;
  --orange-4: @orange-4;
  --orange-5: @orange-5;
  --orange-6: @orange-6;
  --orange-7: @orange-7;
  --orange-8: @orange-8;
  --orange-9: @orange-9;
  --orange-10: @orange-10;
  --deeporange-1: @deeporange-1;
  --deeporange-2: @deeporange-2;
  --deeporange-3: @deeporange-3;
  --deeporange-4: @deeporange-4;
  --deeporange-5: @deeporange-5;
  --deeporange-6: @deeporange-6;
  --deeporange-7: @deeporange-7;
  --deeporange-8: @deeporange-8;
  --deeporange-9: @deeporange-9;
  --deeporange-10: @deeporange-10;
  --grey-1: @grey-1;
  --grey-2: @grey-2;
  --grey-3: @grey-3;
  --grey-4: @grey-4;
  --grey-5: @grey-5;
  --grey-6: @grey-6;
  --grey-7: @grey-7;
  --grey-8: @grey-8;
  --grey-9: @grey-9;
  --grey-10: @grey-10;

  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);

  //前景色
  --color-foreground-1: rgb(var(--grey-10));
  --color-foreground-2: rgb(var(--grey-9));
  --color-foreground-3: rgb(var(--grey-8));
  --color-foreground-4: rgb(var(--grey-7));
  //填充颜色
  --color-fill-1: rgb(var(--grey-1));
  --color-fill-2: rgb(var(--grey-2));
  --color-fill-3: rgb(var(--grey-3));
  --color-fill-4: rgb(var(--grey-4));
  //背景色
  --color-background-1: #fff;
  --color-background-2: #fff;
  --color-background-3: rgb(var(--grey-2));
  --color-background-4: rgb(var(--grey-3));
  //边框
  --color-border-1: rgba(0, 0, 0, 0.2);
  --color-border-2: rgba(0, 0, 0, 0.14);
  --color-border-3: rgba(0, 0, 0, 0.1);
  --color-border-4: rgba(0, 0, 0, 0.08);
  //主色调
  --color-primary-1: rgb(var(--primary-1));
  --color-primary-2: rgb(var(--primary-2));
  --color-primary-3: rgb(var(--primary-3));
  --color-primary-4: rgb(var(--primary-4));
  //次色调
  --color-secondary-1: rgb(var(--grey-2));
  --color-secondary-2: rgb(var(--grey-4));
  --color-secondary-3: rgb(var(--grey-5));
  --color-secondary-4: rgb(var(--grey-6));
  //success
  --color-success-1: rgb(var(--green-1));
  --color-success-2: rgb(var(--green-2));
  --color-success-3: rgb(var(--green-3));
  --color-success-4: rgb(var(--green-4));
  //error
  --color-error-1: rgb(var(--red-1));
  --color-error-2: rgb(var(--red-2));
  --color-error-3: rgb(var(--red-3));
  --color-error-4: rgb(var(--red-4));
  //warning
  --color-warning-1: rgb(var(--orange-1));
  --color-warning-2: rgb(var(--orange-2));
  --color-warning-3: rgb(var(--orange-3));
  --color-warning-4: rgb(var(--orange-4));
  //yellow
  --color-yellow-1: rgb(var(--yellow-1));
  --color-yellow-2: rgb(var(--yellow-2));
  --color-yellow-3: rgb(var(--yellow-3));
  --color-yellow-4: rgb(var(--yellow-4));
  //amber
  --color-amber-1: rgb(var(--amber-1));
  --color-amber-2: rgb(var(--amber-2));
  --color-amber-3: rgb(var(--amber-3));
  --color-amber-4: rgb(var(--amber-4));
  //mask
  --color-mask-bg: rgba(29, 33, 41, 0.6);
}

.dark() {
  color-scheme: dark;
  --red-1: @red-10;
  --red-2: @red-9;
  --red-3: @red-8;
  --red-4: @red-7;
  --red-5: @red-6;
  --red-6: @red-5;
  --red-7: @red-4;
  --red-8: @red-3;
  --red-9: @red-2;
  --red-10: @red-1;
  --pink-1: @pink-10;
  --pink-2: @pink-9;
  --pink-3: @pink-8;
  --pink-4: @pink-7;
  --pink-5: @pink-6;
  --pink-6: @pink-5;
  --pink-7: @pink-4;
  --pink-8: @pink-3;
  --pink-9: @pink-2;
  --pink-10: @pink-1;
  --purple-1: @purple-10;
  --purple-2: @purple-9;
  --purple-3: @purple-8;
  --purple-4: @purple-7;
  --purple-5: @purple-6;
  --purple-6: @purple-5;
  --purple-7: @purple-4;
  --purple-8: @purple-3;
  --purple-9: @purple-2;
  --purple-10: @purple-1;
  --deeppurple-1: @deeppurple-10;
  --deeppurple-2: @deeppurple-9;
  --deeppurple-3: @deeppurple-8;
  --deeppurple-4: @deeppurple-7;
  --deeppurple-5: @deeppurple-6;
  --deeppurple-6: @deeppurple-5;
  --deeppurple-7: @deeppurple-4;
  --deeppurple-8: @deeppurple-3;
  --deeppurple-9: @deeppurple-2;
  --deeppurple-10: @deeppurple-1;
  --blue-1: @blue-10;
  --blue-2: @blue-9;
  --blue-3: @blue-8;
  --blue-4: @blue-7;
  --blue-5: @blue-6;
  --blue-6: @blue-5;
  --blue-7: @blue-4;
  --blue-8: @blue-3;
  --blue-9: @blue-2;
  --blue-10: @blue-1;
  --cyan-1: @cyan-10;
  --cyan-2: @cyan-9;
  --cyan-3: @cyan-8;
  --cyan-4: @cyan-7;
  --cyan-5: @cyan-6;
  --cyan-6: @cyan-5;
  --cyan-7: @cyan-4;
  --cyan-8: @cyan-3;
  --cyan-9: @cyan-2;
  --cyan-10: @cyan-1;
  --green-1: @green-10;
  --green-2: @green-9;
  --green-3: @green-8;
  --green-4: @green-7;
  --green-5: @green-6;
  --green-6: @green-5;
  --green-7: @green-4;
  --green-8: @green-3;
  --green-9: @green-2;
  --green-10: @green-1;
  --lime-1: @lime-10;
  --lime-2: @lime-9;
  --lime-3: @lime-8;
  --lime-4: @lime-7;
  --lime-5: @lime-6;
  --lime-6: @lime-5;
  --lime-7: @lime-4;
  --lime-8: @lime-3;
  --lime-9: @lime-2;
  --lime-10: @lime-1;
  --yellow-1: @yellow-10;
  --yellow-2: @yellow-9;
  --yellow-3: @yellow-8;
  --yellow-4: @yellow-7;
  --yellow-5: @yellow-6;
  --yellow-6: @yellow-5;
  --yellow-7: @yellow-4;
  --yellow-8: @yellow-3;
  --yellow-9: @yellow-2;
  --yellow-10: @yellow-1;
  --amber-1: @amber-10;
  --amber-2: @amber-9;
  --amber-3: @amber-8;
  --amber-4: @amber-7;
  --amber-5: @amber-6;
  --amber-6: @amber-5;
  --amber-7: @amber-4;
  --amber-8: @amber-3;
  --amber-9: @amber-2;
  --amber-10: @amber-1;
  --orange-1: @orange-10;
  --orange-2: @orange-9;
  --orange-3: @orange-8;
  --orange-4: @orange-7;
  --orange-5: @orange-6;
  --orange-6: @orange-5;
  --orange-7: @orange-4;
  --orange-8: @orange-3;
  --orange-9: @orange-2;
  --orange-10: @orange-1;
  --deeporange-1: @deeporange-10;
  --deeporange-2: @deeporange-9;
  --deeporange-3: @deeporange-8;
  --deeporange-4: @deeporange-7;
  --deeporange-5: @deeporange-6;
  --deeporange-6: @deeporange-5;
  --deeporange-7: @deeporange-4;
  --deeporange-8: @deeporange-3;
  --deeporange-9: @deeporange-2;
  --deeporange-10: @deeporange-1;
  --grey-1: @grey-10;
  --grey-2: @grey-9;
  --grey-3: @grey-8;
  --grey-4: @grey-7;
  --grey-5: @grey-6;
  --grey-6: @grey-5;
  --grey-7: @grey-4;
  --grey-8: @grey-3;
  --grey-9: @grey-2;
  --grey-10: @grey-1;

  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);

  //前景色
  --color-foreground-1: rgba(255, 255, 255, 0.9);
  --color-foreground-2: rgba(255, 255, 255, 0.7);
  --color-foreground-3: rgba(255, 255, 255, 0.5);
  --color-foreground-4: rgba(255, 255, 255, 0.3);
  //填充颜色
  --color-fill-1: hsla(0, 0%, 100%, 0.04);
  --color-fill-2: hsla(0, 0%, 100%, 0.08);
  --color-fill-3: hsla(0, 0%, 100%, 0.12);
  --color-fill-4: hsla(0, 0%, 100%, 0.16);
  //背景色
  --color-background-1: #16181a;
  --color-background-2: #232324;
  --color-background-3: #2a2a2b;
  --color-background-4: #313132;
  //边框
  --color-border-1: rgba(255, 255, 255, 0.2);
  --color-border-2: rgba(255, 255, 255, 0.14);
  --color-border-3: rgba(255, 255, 255, 0.1);
  --color-border-4: rgba(255, 255, 255, 0.08);
  //主色调
  --color-primary-1: rgba(var(--primary-6), 0.3);
  --color-primary-2: rgba(var(--primary-6), 0.4);
  --color-primary-3: rgba(var(--primary-6), 0.5);
  --color-primary-4: rgba(var(--primary-6), 0.6);
  //次色调
  --color-secondary-1: rgba(255, 255, 255, 0.15);
  --color-secondary-2: rgba(255, 255, 255, 0.25);
  --color-secondary-3: rgba(255, 255, 255, 0.35);
  --color-secondary-4: rgba(255, 255, 255, 0.45);
  //success
  --color-success-1: rgba(var(--green-6), 0.25);
  --color-success-2: rgba(var(--green-6), 0.35);
  --color-success-3: rgba(var(--green-6), 0.45);
  --color-success-4: rgba(var(--green-6), 0.55);
  //error
  --color-error-1: rgba(var(--red-6), 0.2);
  --color-error-2: rgba(var(--red-6), 0.3);
  --color-error-3: rgba(var(--red-6), 0.4);
  --color-error-4: rgba(var(--red-6), 0.5);
  //warning
  --color-warning-1: rgba(var(--orange-6), 0.2);
  --color-warning-2: rgba(var(--orange-6), 0.3);
  --color-warning-3: rgba(var(--orange-6), 0.4);
  --color-warning-4: rgba(var(--orange-6), 0.5);
  //yellow
  --color-yellow-1: rgba(var(--yellow-6), 0.2);
  --color-yellow-2: rgba(var(--yellow-6), 0.3);
  --color-yellow-3: rgba(var(--yellow-6), 0.4);
  --color-yellow-4: rgba(var(--yellow-6), 0.5);
  //amber
  --color-amber-1: rgba(var(--amber-6), 0.2);
  --color-amber-2: rgba(var(--amber-6), 0.3);
  --color-amber-3: rgba(var(--amber-6), 0.4);
  --color-amber-4: rgba(var(--amber-6), 0.5);
  //mask
  --color-mask-bg: rgba(23, 23, 26, 0.6);
}

:root {
  .light();
  --border-radius-none: 0;
  --border-radius-small: 2px;
  --border-radius-medium: 3px;
  --border-radius-large: 4px;
  --border-radius-circle: 50%;
  --size-large: 36px;
  --size-medium: 32px;
  --size-small: 28px;
  --size-tiny: 24px;
  --size-button-padding-large: 0 20px;
  --size-button-padding-medium: 0 16px;
  --size-button-padding-small: 0 12px;
  --size-button-padding-tiny: 0 8px;
  --size-button-outlined-padding-large: 0 19px;
  --size-button-outlined-padding-medium: 0 15px;
  --size-button-outlined-padding-small: 0 11px;
  --size-button-outlined-padding-tiny: 0 7px;
  --btn-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 1px rgba(0, 0, 0, 0.1);
  --box-shadow-1: 0 -1px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 4px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 -1px 4px 0 rgba(0, 0, 0, 0.06),
    0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 1px 8px rgba(0, 0, 0, 0.06);
}

[data-color-mode="light"][data-light-theme*="light"] {
  .light();
}

[data-color-mode="dark"][data-dark-theme*="dark"] {
  .dark();
}

@media (prefers-color-scheme: light) {
  [data-color-mode="auto"][data-light-theme*="light"] {
    .light();
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode="auto"][data-dark-theme*="dark"] {
    .dark();
  }
}
