@import "./color/colors";

@primary-color     : @blue-6;
@primary-1         : @blue-1;
@primary-2         : @blue-2;
@primary-3         : @blue-3;
@primary-4         : @blue-4;
@primary-5         : @blue-5;
@primary-6         : @blue-6;
@primary-7         : @blue-7;
@primary-8         : @blue-8;
@primary-9         : @blue-9;
@primary-10        : @blue-10;

@info-color             : @blue-6;
@error-color            : @red-6;

@disable-backgroud-color: #f1f1f1;
@disable-color          : #dadada;
@normal-color           : #4e4e4e;

@heading-color          : #202020;
@text-color             : #4e4e4e;
@text-color-secondary   : #929292;

@border-color-base      : #dadada;
@border-color-split     : #eeeeee;


@shadow: rgb(0 0 0 / 15%);
@maskShadow: rgb(0 0 0 / 65%);