@import "./color/colors";

// @primary-color: @blue-6;
// @primary-1: @blue-1;
// @primary-2: @blue-2;
// @primary-3: @blue-3;
// @primary-4: @blue-4;
// @primary-5: @blue-5;
// @primary-6: @blue-6;
// @primary-7: @blue-7;
// @primary-8: @blue-8;
// @primary-9: @blue-9;
// @primary-10: @blue-10;

// @info-color: @blue-6;
// @error-color: @red-6;

// @disable-backgroud-color: #f1f1f1;
// @disable-color: #dadada;
// @normal-color: #4e4e4e;

// @heading-color: #202020;
// @text-color: #4e4e4e;
// @text-color-secondary: #929292;

// @border-color-base: #dadada;
// @border-color-split: #eeeeee;

// @shadow: rgb(0 0 0 / 15%);
// @maskShadow: rgb(0 0 0 / 65%);

.light() {
  color-scheme: light;
  --tt-red-1: @red-1;
  --tt-red-2: @red-2;
  --tt-red-3: @red-3;
  --tt-red-4: @red-4;
  --tt-red-5: @red-5;
  --tt-red-6: @red-6;
  --tt-red-7: @red-7;
  --tt-red-8: @red-8;
  --tt-red-9: @red-9;
  --tt-red-10: @red-10;
  --tt-pink-1: @pink-1;
  --tt-pink-2: @pink-2;
  --tt-pink-3: @pink-3;
  --tt-pink-4: @pink-4;
  --tt-pink-5: @pink-5;
  --tt-pink-6: @pink-6;
  --tt-pink-7: @pink-7;
  --tt-pink-8: @pink-8;
  --tt-pink-9: @pink-9;
  --tt-pink-10: @pink-10;
  --tt-purple-1: @purple-1;
  --tt-purple-2: @purple-2;
  --tt-purple-3: @purple-3;
  --tt-purple-4: @purple-4;
  --tt-purple-5: @purple-5;
  --tt-purple-6: @purple-6;
  --tt-purple-7: @purple-7;
  --tt-purple-8: @purple-8;
  --tt-purple-9: @purple-9;
  --tt-purple-10: @purple-10;
  --tt-deeppurple-1: @deeppurple-1;
  --tt-deeppurple-2: @deeppurple-2;
  --tt-deeppurple-3: @deeppurple-3;
  --tt-deeppurple-4: @deeppurple-4;
  --tt-deeppurple-5: @deeppurple-5;
  --tt-deeppurple-6: @deeppurple-6;
  --tt-deeppurple-7: @deeppurple-7;
  --tt-deeppurple-8: @deeppurple-8;
  --tt-deeppurple-9: @deeppurple-9;
  --tt-deeppurple-10: @deeppurple-10;
  --tt-blue-1: @blue-1;
  --tt-blue-2: @blue-2;
  --tt-blue-3: @blue-3;
  --tt-blue-4: @blue-4;
  --tt-blue-5: @blue-5;
  --tt-blue-6: @blue-6;
  --tt-blue-7: @blue-7;
  --tt-blue-8: @blue-8;
  --tt-blue-9: @blue-9;
  --tt-blue-10: @blue-10;
  --tt-cyan-1: @cyan-1;
  --tt-cyan-2: @cyan-2;
  --tt-cyan-3: @cyan-3;
  --tt-cyan-4: @cyan-4;
  --tt-cyan-5: @cyan-5;
  --tt-cyan-6: @cyan-6;
  --tt-cyan-7: @cyan-7;
  --tt-cyan-8: @cyan-8;
  --tt-cyan-9: @cyan-9;
  --tt-cyan-10: @cyan-10;
  --tt-green-1: @green-1;
  --tt-green-2: @green-2;
  --tt-green-3: @green-3;
  --tt-green-4: @green-4;
  --tt-green-5: @green-5;
  --tt-green-6: @green-6;
  --tt-green-7: @green-7;
  --tt-green-8: @green-8;
  --tt-green-9: @green-9;
  --tt-green-10: @green-10;
  --tt-lime-1: @lime-1;
  --tt-lime-2: @lime-2;
  --tt-lime-3: @lime-3;
  --tt-lime-4: @lime-4;
  --tt-lime-5: @lime-5;
  --tt-lime-6: @lime-6;
  --tt-lime-7: @lime-7;
  --tt-lime-8: @lime-8;
  --tt-lime-9: @lime-9;
  --tt-lime-10: @lime-10;
  --tt-yellow-1: @yellow-1;
  --tt-yellow-2: @yellow-2;
  --tt-yellow-3: @yellow-3;
  --tt-yellow-4: @yellow-4;
  --tt-yellow-5: @yellow-5;
  --tt-yellow-6: @yellow-6;
  --tt-yellow-7: @yellow-7;
  --tt-yellow-8: @yellow-8;
  --tt-yellow-9: @yellow-9;
  --tt-yellow-10: @yellow-10;
  --tt-amber-1: @amber-1;
  --tt-amber-2: @amber-2;
  --tt-amber-3: @amber-3;
  --tt-amber-4: @amber-4;
  --tt-amber-5: @amber-5;
  --tt-amber-6: @amber-6;
  --tt-amber-7: @amber-7;
  --tt-amber-8: @amber-8;
  --tt-amber-9: @amber-9;
  --tt-amber-10: @amber-10;
  --tt-orange-1: @orange-1;
  --tt-orange-2: @orange-2;
  --tt-orange-3: @orange-3;
  --tt-orange-4: @orange-4;
  --tt-orange-5: @orange-5;
  --tt-orange-6: @orange-6;
  --tt-orange-7: @orange-7;
  --tt-orange-8: @orange-8;
  --tt-orange-9: @orange-9;
  --tt-orange-10: @orange-10;
  --tt-deeporange-1: @deeporange-1;
  --tt-deeporange-2: @deeporange-2;
  --tt-deeporange-3: @deeporange-3;
  --tt-deeporange-4: @deeporange-4;
  --tt-deeporange-5: @deeporange-5;
  --tt-deeporange-6: @deeporange-6;
  --tt-deeporange-7: @deeporange-7;
  --tt-deeporange-8: @deeporange-8;
  --tt-deeporange-9: @deeporange-9;
  --tt-deeporange-10: @deeporange-10;
  --tt-grey-1: @grey-1;
  --tt-grey-2: @grey-2;
  --tt-grey-3: @grey-3;
  --tt-grey-4: @grey-4;
  --tt-grey-5: @grey-5;
  --tt-grey-6: @grey-6;
  --tt-grey-7: @grey-7;
  --tt-grey-8: @grey-8;
  --tt-grey-9: @grey-9;
  --tt-grey-10: @grey-10;

  --tt-primary-1: var(--tt-blue-1);
  --tt-primary-2: var(--tt-blue-2);
  --tt-primary-3: var(--tt-blue-3);
  --tt-primary-4: var(--tt-blue-4);
  --tt-primary-5: var(--tt-blue-5);
  --tt-primary-6: var(--tt-blue-6);
  --tt-primary-7: var(--tt-blue-7);
  --tt-primary-8: var(--tt-blue-8);
  --tt-primary-9: var(--tt-blue-9);
  --tt-primary-10: var(--tt-blue-10);

  //前景色
  --tt-color-foreground-1: rgb(var(--tt-grey-10));
  --tt-color-foreground-2: rgb(var(--tt-grey-9));
  --tt-color-foreground-3: rgb(var(--tt-grey-8));
  --tt-color-foreground-4: rgb(var(--tt-grey-7));
  --tt-color-foreground-tooltip: #fff;
  //填充颜色
  --tt-color-fill-1: rgb(var(--tt-grey-1));
  --tt-color-fill-2: rgb(var(--tt-grey-2));
  --tt-color-fill-3: rgb(var(--tt-grey-3));
  --tt-color-fill-4: rgb(var(--tt-grey-4));
  //背景色
  --tt-color-background-1: #fff;
  --tt-color-background-2: #fff;
  --tt-color-background-3: #fff;
  --tt-color-background-4: #fff;
  --tt-color-background-5: #fff;
  --tt-color-background-popup: #fff;
  --tt-color-background-tooltip: #414141;
  //边框
  --tt-color-border-1: rgba(0, 0, 0, 0.2);
  --tt-color-border-2: rgba(0, 0, 0, 0.14);
  --tt-color-border-3: rgba(0, 0, 0, 0.1);
  --tt-color-border-4: rgba(0, 0, 0, 0.08);
  //主色调
  --tt-color-primary-1: rgb(var(--tt-primary-1));
  --tt-color-primary-2: rgb(var(--tt-primary-2));
  --tt-color-primary-3: rgb(var(--tt-primary-3));
  --tt-color-primary-4: rgb(var(--tt-primary-4));
  //次色调
  --tt-color-secondary-1: rgb(var(--tt-grey-2));
  --tt-color-secondary-2: rgb(var(--tt-grey-4));
  --tt-color-secondary-3: rgb(var(--tt-grey-5));
  --tt-color-secondary-4: rgb(var(--tt-grey-6));
  //success
  --tt-color-success-1: rgb(var(--tt-green-1));
  --tt-color-success-2: rgb(var(--tt-green-2));
  --tt-color-success-3: rgb(var(--tt-green-3));
  --tt-color-success-4: rgb(var(--tt-green-4));
  //error
  --tt-color-error-1: rgb(var(--tt-red-1));
  --tt-color-error-2: rgb(var(--tt-red-2));
  --tt-color-error-3: rgb(var(--tt-red-3));
  --tt-color-error-4: rgb(var(--tt-red-4));
  //warning
  --tt-color-warning-1: rgb(var(--tt-orange-1));
  --tt-color-warning-2: rgb(var(--tt-orange-2));
  --tt-color-warning-3: rgb(var(--tt-orange-3));
  --tt-color-warning-4: rgb(var(--tt-orange-4));
  //yellow
  --tt-color-yellow-1: rgb(var(--tt-yellow-1));
  --tt-color-yellow-2: rgb(var(--tt-yellow-2));
  --tt-color-yellow-3: rgb(var(--tt-yellow-3));
  --tt-color-yellow-4: rgb(var(--tt-yellow-4));
  //amber
  --tt-color-amber-1: rgb(var(--tt-amber-1));
  --tt-color-amber-2: rgb(var(--tt-amber-2));
  --tt-color-amber-3: rgb(var(--tt-amber-3));
  --tt-color-amber-4: rgb(var(--tt-amber-4));
  //mask
  --tt-color-mask-bg: rgba(29, 33, 41, 0.6);
}

.dark() {
  color-scheme: dark;
  --tt-red-1: @red-10;
  --tt-red-2: @red-9;
  --tt-red-3: @red-8;
  --tt-red-4: @red-7;
  --tt-red-5: @red-6;
  --tt-red-6: @red-5;
  --tt-red-7: @red-4;
  --tt-red-8: @red-3;
  --tt-red-9: @red-2;
  --tt-red-10: @red-1;
  --tt-pink-1: @pink-10;
  --tt-pink-2: @pink-9;
  --tt-pink-3: @pink-8;
  --tt-pink-4: @pink-7;
  --tt-pink-5: @pink-6;
  --tt-pink-6: @pink-5;
  --tt-pink-7: @pink-4;
  --tt-pink-8: @pink-3;
  --tt-pink-9: @pink-2;
  --tt-pink-10: @pink-1;
  --tt-purple-1: @purple-10;
  --tt-purple-2: @purple-9;
  --tt-purple-3: @purple-8;
  --tt-purple-4: @purple-7;
  --tt-purple-5: @purple-6;
  --tt-purple-6: @purple-5;
  --tt-purple-7: @purple-4;
  --tt-purple-8: @purple-3;
  --tt-purple-9: @purple-2;
  --tt-purple-10: @purple-1;
  --tt-deeppurple-1: @deeppurple-10;
  --tt-deeppurple-2: @deeppurple-9;
  --tt-deeppurple-3: @deeppurple-8;
  --tt-deeppurple-4: @deeppurple-7;
  --tt-deeppurple-5: @deeppurple-6;
  --tt-deeppurple-6: @deeppurple-5;
  --tt-deeppurple-7: @deeppurple-4;
  --tt-deeppurple-8: @deeppurple-3;
  --tt-deeppurple-9: @deeppurple-2;
  --tt-deeppurple-10: @deeppurple-1;
  --tt-blue-1: @blue-10;
  --tt-blue-2: @blue-9;
  --tt-blue-3: @blue-8;
  --tt-blue-4: @blue-7;
  --tt-blue-5: @blue-6;
  --tt-blue-6: @blue-5;
  --tt-blue-7: @blue-4;
  --tt-blue-8: @blue-3;
  --tt-blue-9: @blue-2;
  --tt-blue-10: @blue-1;
  --tt-cyan-1: @cyan-10;
  --tt-cyan-2: @cyan-9;
  --tt-cyan-3: @cyan-8;
  --tt-cyan-4: @cyan-7;
  --tt-cyan-5: @cyan-6;
  --tt-cyan-6: @cyan-5;
  --tt-cyan-7: @cyan-4;
  --tt-cyan-8: @cyan-3;
  --tt-cyan-9: @cyan-2;
  --tt-cyan-10: @cyan-1;
  --tt-green-1: @green-10;
  --tt-green-2: @green-9;
  --tt-green-3: @green-8;
  --tt-green-4: @green-7;
  --tt-green-5: @green-6;
  --tt-green-6: @green-5;
  --tt-green-7: @green-4;
  --tt-green-8: @green-3;
  --tt-green-9: @green-2;
  --tt-green-10: @green-1;
  --tt-lime-1: @lime-10;
  --tt-lime-2: @lime-9;
  --tt-lime-3: @lime-8;
  --tt-lime-4: @lime-7;
  --tt-lime-5: @lime-6;
  --tt-lime-6: @lime-5;
  --tt-lime-7: @lime-4;
  --tt-lime-8: @lime-3;
  --tt-lime-9: @lime-2;
  --tt-lime-10: @lime-1;
  --tt-yellow-1: @yellow-10;
  --tt-yellow-2: @yellow-9;
  --tt-yellow-3: @yellow-8;
  --tt-yellow-4: @yellow-7;
  --tt-yellow-5: @yellow-6;
  --tt-yellow-6: @yellow-5;
  --tt-yellow-7: @yellow-4;
  --tt-yellow-8: @yellow-3;
  --tt-yellow-9: @yellow-2;
  --tt-yellow-10: @yellow-1;
  --tt-amber-1: @amber-10;
  --tt-amber-2: @amber-9;
  --tt-amber-3: @amber-8;
  --tt-amber-4: @amber-7;
  --tt-amber-5: @amber-6;
  --tt-amber-6: @amber-5;
  --tt-amber-7: @amber-4;
  --tt-amber-8: @amber-3;
  --tt-amber-9: @amber-2;
  --tt-amber-10: @amber-1;
  --tt-orange-1: @orange-10;
  --tt-orange-2: @orange-9;
  --tt-orange-3: @orange-8;
  --tt-orange-4: @orange-7;
  --tt-orange-5: @orange-6;
  --tt-orange-6: @orange-5;
  --tt-orange-7: @orange-4;
  --tt-orange-8: @orange-3;
  --tt-orange-9: @orange-2;
  --tt-orange-10: @orange-1;
  --tt-deeporange-1: @deeporange-10;
  --tt-deeporange-2: @deeporange-9;
  --tt-deeporange-3: @deeporange-8;
  --tt-deeporange-4: @deeporange-7;
  --tt-deeporange-5: @deeporange-6;
  --tt-deeporange-6: @deeporange-5;
  --tt-deeporange-7: @deeporange-4;
  --tt-deeporange-8: @deeporange-3;
  --tt-deeporange-9: @deeporange-2;
  --tt-deeporange-10: @deeporange-1;
  --tt-grey-1: @grey-10;
  --tt-grey-2: @grey-9;
  --tt-grey-3: @grey-8;
  --tt-grey-4: @grey-7;
  --tt-grey-5: @grey-6;
  --tt-grey-6: @grey-5;
  --tt-grey-7: @grey-4;
  --tt-grey-8: @grey-3;
  --tt-grey-9: @grey-2;
  --tt-grey-10: @grey-1;

  --tt-primary-1: var(--tt-blue-1);
  --tt-primary-2: var(--tt-blue-2);
  --tt-primary-3: var(--tt-blue-3);
  --tt-primary-4: var(--tt-blue-4);
  --tt-primary-5: var(--tt-blue-5);
  --tt-primary-6: var(--tt-blue-6);
  --tt-primary-7: var(--tt-blue-7);
  --tt-primary-8: var(--tt-blue-8);
  --tt-primary-9: var(--tt-blue-9);
  --tt-primary-10: var(--tt-blue-10);

  //前景色
  --tt-color-foreground-1: #e8e8e8;
  --tt-color-foreground-2: #bbbbbb;
  --tt-color-foreground-3: #8b8b8b;
  --tt-color-foreground-4: #5d5d5d;
  --tt-color-foreground-tooltip: #fff;
  //填充颜色

  --tt-color-fill-1: rgba(255, 255, 255, 0.04);
  --tt-color-fill-2: rgba(255, 255, 255, 0.08);
  --tt-color-fill-3: rgba(255, 255, 255, 0.12);
  --tt-color-fill-4: rgba(255, 255, 255, 0.16);
  // --tt-color-fill-1: #2c2c2c;
  // --tt-color-fill-2: #343434;
  // --tt-color-fill-3: #3f3f3f;
  // --tt-color-fill-4: #464646;
  //背景色
  --tt-color-background-1: #161616;
  --tt-color-background-2: #232323;
  --tt-color-background-3: #2a2a2a;
  --tt-color-background-4: #313131;
  --tt-color-background-5: #373737;
  --tt-color-background-popup: #373737;
  --tt-color-background-tooltip: #616161;
  //边框
  --tt-color-border-1: #4d4d4d;
  --tt-color-border-2: #464646;
  --tt-color-border-3: #414141;
  --tt-color-border-4: #353535;
  //主色调
  --tt-color-primary-1: rgba(var(--tt-primary-6), 0.3);
  --tt-color-primary-2: rgba(var(--tt-primary-6), 0.4);
  --tt-color-primary-3: rgba(var(--tt-primary-6), 0.5);
  --tt-color-primary-4: rgba(var(--tt-primary-6), 0.6);
  //次色调
  --tt-color-secondary-1: rgba(255, 255, 255, 0.15);
  --tt-color-secondary-2: rgba(255, 255, 255, 0.25);
  --tt-color-secondary-3: rgba(255, 255, 255, 0.35);
  --tt-color-secondary-4: rgba(255, 255, 255, 0.45);
  //success
  --tt-color-success-1: rgba(var(--tt-green-6), 0.25);
  --tt-color-success-2: rgba(var(--tt-green-6), 0.35);
  --tt-color-success-3: rgba(var(--tt-green-6), 0.45);
  --tt-color-success-4: rgba(var(--tt-green-6), 0.55);
  //error
  --tt-color-error-1: rgba(var(--tt-red-6), 0.2);
  --tt-color-error-2: rgba(var(--tt-red-6), 0.3);
  --tt-color-error-3: rgba(var(--tt-red-6), 0.4);
  --tt-color-error-4: rgba(var(--tt-red-6), 0.5);
  //warning
  --tt-color-warning-1: rgba(var(--tt-orange-6), 0.2);
  --tt-color-warning-2: rgba(var(--tt-orange-6), 0.3);
  --tt-color-warning-3: rgba(var(--tt-orange-6), 0.4);
  --tt-color-warning-4: rgba(var(--tt-orange-6), 0.5);
  //yellow
  --tt-color-yellow-1: rgba(var(--tt-yellow-6), 0.2);
  --tt-color-yellow-2: rgba(var(--tt-yellow-6), 0.3);
  --tt-color-yellow-3: rgba(var(--tt-yellow-6), 0.4);
  --tt-color-yellow-4: rgba(var(--tt-yellow-6), 0.5);
  //amber
  --tt-color-amber-1: rgba(var(--tt-amber-6), 0.2);
  --tt-color-amber-2: rgba(var(--tt-amber-6), 0.3);
  --tt-color-amber-3: rgba(var(--tt-amber-6), 0.4);
  --tt-color-amber-4: rgba(var(--tt-amber-6), 0.5);
  //mask
  --tt-color-mask-bg: rgba(23, 23, 26, 0.6);
}

:root {
  .light();
  --tt-border-radius-none: 0;
  --tt-border-radius-small: 2px;
  --tt-border-radius-medium: 3px;
  --tt-border-radius-large: 4px;
  --tt-border-radius-circle: 50%;
  --tt-size-large: 36px;
  --tt-size-medium: 32px;
  --tt-size-small: 28px;
  --tt-size-tiny: 24px;
  --tt-size-button-padding-large: 0 20px;
  --tt-size-button-padding-medium: 0 16px;
  --tt-size-button-padding-small: 0 12px;
  --tt-size-button-padding-tiny: 0 8px;
  --tt-size-button-outlined-padding-large: 0 19px;
  --tt-size-button-outlined-padding-medium: 0 15px;
  --tt-size-button-outlined-padding-small: 0 11px;
  --tt-size-button-outlined-padding-tiny: 0 7px;

  --tt-box-shadow-1: 0px 0px 1px 0px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 7%);
  --tt-box-shadow-2: 0px 0px 2px 0px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 10%);
  --tt-box-shadow-3: 0px 0px 3px 0px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 12%);
  --tt-box-shadow-4: 0px 0px 4px 0px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-btn: 0px 0px 2px 1px rgb(0 0 0 / 10%), 0px 2px 3px 1px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup: 0px 0px 3px 0px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup-down: 0px 0px 3px 0px rgb(0 0 0 / 10%), 0 -4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup-up: 0px 0px 3px 0px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup-arrow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

[data-color-mode="light"][data-light-theme*="light"] {
  .light();
}

[data-color-mode="dark"][data-dark-theme*="dark"] {
  .dark();
}

@media (prefers-color-scheme: light) {
  [data-color-mode="auto"][data-light-theme*="light"] {
    .light();
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-mode="auto"][data-dark-theme*="dark"] {
    .dark();
  }
}
