@import "./base";
body {
  font-size: 14px;
  color: var(--color-foreground-2);
  background: var(--color-background-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
