// @blue-1: lighten(@blue-6, 50%);
// @blue-2: lighten(@blue-6, 45%);
// @blue-3: lighten(@blue-6, 40%);
// @blue-4: lighten(@blue-6, 30%);
// @blue-5: lighten(@blue-6, 15%);
@blue-1: rgb(26 115 232 /10%);
@blue-2: rgb(26 115 232 /25%);
@blue-3: rgb(26 115 232 /40%);
@blue-4: rgb(26 115 232 /60%);
@blue-5: rgb(26 115 232 /80%);
@blue-6: #1974dc;
@blue-7: darken(@blue-6, 8%);
@blue-8: darken(@blue-6, 16%);
@blue-9: darken(@blue-6, 24%);
@blue-10: darken(@blue-6, 32%);

// @red-1: lighten(@red-6, 50%);
// @red-2: lighten(@red-6, 45%);
// @red-3: lighten(@red-6, 40%);
// @red-4: lighten(@red-6, 30%);
// @red-5: lighten(@red-6, 15%);
@red-1: rgb(220 25 25 /10%);
@red-2: rgb(220 25 25 /25%);
@red-3: rgb(220 25 25 /40%);
@red-4: rgb(220 25 25 /60%);
@red-5: rgb(220 25 25 /80%);
@red-6: #dc1919;
@red-7: darken(@red-6, 8%);
@red-8: darken(@red-6, 16%);
@red-9: darken(@red-6, 24%);
@red-10: darken(@red-6, 32%);

// @grey-1: lighten(@grey-6, 50%);
// @grey-2: lighten(@grey-6, 45%);
// @grey-3: lighten(@grey-6, 40%);
// @grey-4: lighten(@grey-6, 30%);
// @grey-5: lighten(@grey-6, 15%);
@grey-1: rgb(119 119 119 /10%);
@grey-2: rgb(119 119 119 /25%);
@grey-3: rgb(119 119 119 /40%);
@grey-4: rgb(119 119 119 /60%);
@grey-5: rgb(119 119 119 /80%);
@grey-6: #777777;
@grey-7: darken(@grey-6, 8%);
@grey-8: darken(@grey-6, 16%);
@grey-9: darken(@grey-6, 24%);
@grey-10: darken(@grey-6, 32%);