@menu-prefix-class: tui-menu;

.@{menu-prefix-class} {
  list-style: none;
  padding: 0;
  .@{menu-prefix-class}-item {
    cursor: pointer;
    a {
      display: block;
      padding: 8px 16px;
      color: var(--color-foreground-2);
      transition: all 0.3s cubic-bezier(0.44, 0.9, 0.6, 0.94);
      &:hover {
        color: rgb(var(--primary-6));
      }
      &.active {
        background: var(--color-primary-2);
        color: rgb(var(--primary-6));
      }
    }
  }
}
