/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
:root {
  color-scheme: light;
  --red-1: 255, 238, 235;
  --red-2: 255, 202, 194;
  --red-3: 255, 163, 153;
  --red-4: 255, 122, 112;
  --red-5: 255, 78, 71;
  --red-6: 253, 30, 30;
  --red-7: 214, 15, 22;
  --red-8: 176, 4, 15;
  --red-9: 138, 0, 14;
  --red-10: 99, 0, 13;
  --pink-1: 255, 235, 238;
  --pink-2: 255, 194, 206;
  --pink-3: 255, 153, 177;
  --pink-4: 255, 112, 150;
  --pink-5: 255, 71, 126;
  --pink-6: 255, 31, 106;
  --pink-7: 217, 15, 89;
  --pink-8: 179, 4, 74;
  --pink-9: 140, 0, 61;
  --pink-10: 102, 0, 48;
  --purple-1: 255, 232, 255;
  --purple-2: 254, 191, 255;
  --purple-3: 250, 150, 255;
  --purple-4: 243, 110, 255;
  --purple-5: 233, 69, 255;
  --purple-6: 221, 29, 255;
  --purple-7: 179, 13, 217;
  --purple-8: 140, 2, 179;
  --purple-9: 105, 0, 140;
  --purple-10: 73, 0, 102;
  --deeppurple-1: 247, 237, 255;
  --deeppurple-2: 226, 196, 255;
  --deeppurple-3: 202, 156, 255;
  --deeppurple-4: 176, 115, 255;
  --deeppurple-5: 146, 74, 255;
  --deeppurple-6: 114, 33, 255;
  --deeppurple-7: 84, 17, 217;
  --deeppurple-8: 57, 5, 179;
  --deeppurple-9: 37, 0, 140;
  --deeppurple-10: 24, 0, 102;
  --blue-1: 232, 244, 255;
  --blue-2: 186, 216, 247;
  --blue-3: 138, 183, 235;
  --blue-4: 95, 150, 222;
  --blue-5: 56, 118, 209;
  --blue-6: 21, 86, 197;
  --blue-7: 9, 59, 158;
  --blue-8: 1, 37, 120;
  --blue-9: 0, 22, 82;
  --blue-10: 0, 10, 43;
  --cyan-1: 230, 255, 254;
  --cyan-2: 164, 252, 251;
  --cyan-3: 117, 238, 240;
  --cyan-4: 75, 219, 227;
  --cyan-5: 36, 199, 214;
  --cyan-6: 3, 178, 201;
  --cyan-7: 0, 139, 163;
  --cyan-8: 0, 102, 125;
  --cyan-9: 0, 68, 87;
  --cyan-10: 0, 36, 48;
  --green-1: 225, 245, 227;
  --green-2: 176, 232, 182;
  --green-3: 132, 219, 143;
  --green-4: 91, 207, 110;
  --green-5: 54, 194, 82;
  --green-6: 21, 180, 59;
  --green-7: 10, 143, 45;
  --green-8: 2, 105, 33;
  --green-9: 0, 66, 22;
  --green-10: 0, 28, 10;
  --lime-1: 255, 254, 240;
  --lime-2: 255, 253, 199;
  --lime-3: 245, 245, 152;
  --lime-4: 228, 232, 107;
  --lime-5: 209, 219, 66;
  --lime-6: 188, 206, 29;
  --lime-7: 148, 168, 15;
  --lime-8: 109, 130, 5;
  --lime-9: 73, 92, 0;
  --lime-10: 41, 54, 0;
  --yellow-1: 255, 255, 240;
  --yellow-2: 255, 253, 209;
  --yellow-3: 255, 249, 168;
  --yellow-4: 255, 242, 128;
  --yellow-5: 255, 233, 87;
  --yellow-6: 249, 215, 44;
  --yellow-7: 212, 175, 28;
  --yellow-8: 173, 136, 14;
  --yellow-9: 135, 100, 4;
  --yellow-10: 97, 68, 2;
  --amber-1: 250, 248, 225;
  --amber-2: 237, 229, 166;
  --amber-3: 224, 209, 121;
  --amber-4: 212, 188, 80;
  --amber-5: 199, 165, 44;
  --amber-6: 187, 143, 11;
  --amber-7: 148, 106, 1;
  --amber-8: 110, 75, 0;
  --amber-9: 71, 46, 0;
  --amber-10: 33, 20, 0;
  --orange-1: 255, 244, 230;
  --orange-2: 255, 221, 181;
  --orange-3: 255, 198, 140;
  --orange-4: 255, 172, 99;
  --orange-5: 250, 141, 57;
  --orange-6: 238, 105, 17;
  --orange-7: 199, 75, 4;
  --orange-8: 161, 54, 0;
  --orange-9: 122, 37, 0;
  --orange-10: 84, 22, 0;
  --deeporange-1: 255, 246, 237;
  --deeporange-2: 255, 223, 196;
  --deeporange-3: 255, 197, 156;
  --deeporange-4: 255, 169, 115;
  --deeporange-5: 255, 137, 74;
  --deeporange-6: 255, 104, 34;
  --deeporange-7: 217, 74, 17;
  --deeporange-8: 179, 49, 5;
  --deeporange-9: 140, 30, 0;
  --deeporange-10: 102, 19, 0;
  --grey-1: 250, 250, 250;
  --grey-2: 245, 245, 245;
  --grey-3: 238, 238, 238;
  --grey-4: 224, 224, 224;
  --grey-5: 189, 189, 189;
  --grey-6: 158, 158, 158;
  --grey-7: 117, 117, 117;
  --grey-8: 97, 97, 97;
  --grey-9: 66, 66, 66;
  --grey-10: 33, 33, 33;
  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);
  --color-foreground-1: rgb(var(--grey-10));
  --color-foreground-2: rgb(var(--grey-9));
  --color-foreground-3: rgb(var(--grey-8));
  --color-foreground-4: rgb(var(--grey-7));
  --color-fill-1: rgb(var(--grey-1));
  --color-fill-2: rgb(var(--grey-2));
  --color-fill-3: rgb(var(--grey-3));
  --color-fill-4: rgb(var(--grey-4));
  --color-background-1: #fff;
  --color-background-2: #fff;
  --color-background-3: rgb(var(--grey-2));
  --color-background-4: rgb(var(--grey-3));
  --color-border-1: rgba(0, 0, 0, 0.2);
  --color-border-2: rgba(0, 0, 0, 0.14);
  --color-border-3: rgba(0, 0, 0, 0.1);
  --color-border-4: rgba(0, 0, 0, 0.08);
  --color-primary-1: rgb(var(--primary-1));
  --color-primary-2: rgb(var(--primary-2));
  --color-primary-3: rgb(var(--primary-3));
  --color-primary-4: rgb(var(--primary-4));
  --color-secondary-1: rgb(var(--grey-2));
  --color-secondary-2: rgb(var(--grey-4));
  --color-secondary-3: rgb(var(--grey-5));
  --color-secondary-4: rgb(var(--grey-6));
  --color-success-1: rgb(var(--green-1));
  --color-success-2: rgb(var(--green-2));
  --color-success-3: rgb(var(--green-3));
  --color-success-4: rgb(var(--green-4));
  --color-error-1: rgb(var(--red-1));
  --color-error-2: rgb(var(--red-2));
  --color-error-3: rgb(var(--red-3));
  --color-error-4: rgb(var(--red-4));
  --color-warning-1: rgb(var(--orange-1));
  --color-warning-2: rgb(var(--orange-2));
  --color-warning-3: rgb(var(--orange-3));
  --color-warning-4: rgb(var(--orange-4));
  --color-yellow-1: rgb(var(--yellow-1));
  --color-yellow-2: rgb(var(--yellow-2));
  --color-yellow-3: rgb(var(--yellow-3));
  --color-yellow-4: rgb(var(--yellow-4));
  --color-amber-1: rgb(var(--amber-1));
  --color-amber-2: rgb(var(--amber-2));
  --color-amber-3: rgb(var(--amber-3));
  --color-amber-4: rgb(var(--amber-4));
  --border-radius-none: 0;
  --border-radius-small: 2px;
  --border-radius-medium: 3px;
  --border-radius-large: 4px;
  --border-radius-circle: 50%;
  --btn-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 1px rgba(0, 0, 0, 0.1);
  --box-shadow-1: 0 -1px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 4px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 -1px 4px 0 rgba(0, 0, 0, 0.06),
    0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 1px 8px rgba(0, 0, 0, 0.06);
}
[data-color-mode="light"][data-light-theme*="light"] {
  color-scheme: light;
  --red-1: 255, 238, 235;
  --red-2: 255, 202, 194;
  --red-3: 255, 163, 153;
  --red-4: 255, 122, 112;
  --red-5: 255, 78, 71;
  --red-6: 253, 30, 30;
  --red-7: 214, 15, 22;
  --red-8: 176, 4, 15;
  --red-9: 138, 0, 14;
  --red-10: 99, 0, 13;
  --pink-1: 255, 235, 238;
  --pink-2: 255, 194, 206;
  --pink-3: 255, 153, 177;
  --pink-4: 255, 112, 150;
  --pink-5: 255, 71, 126;
  --pink-6: 255, 31, 106;
  --pink-7: 217, 15, 89;
  --pink-8: 179, 4, 74;
  --pink-9: 140, 0, 61;
  --pink-10: 102, 0, 48;
  --purple-1: 255, 232, 255;
  --purple-2: 254, 191, 255;
  --purple-3: 250, 150, 255;
  --purple-4: 243, 110, 255;
  --purple-5: 233, 69, 255;
  --purple-6: 221, 29, 255;
  --purple-7: 179, 13, 217;
  --purple-8: 140, 2, 179;
  --purple-9: 105, 0, 140;
  --purple-10: 73, 0, 102;
  --deeppurple-1: 247, 237, 255;
  --deeppurple-2: 226, 196, 255;
  --deeppurple-3: 202, 156, 255;
  --deeppurple-4: 176, 115, 255;
  --deeppurple-5: 146, 74, 255;
  --deeppurple-6: 114, 33, 255;
  --deeppurple-7: 84, 17, 217;
  --deeppurple-8: 57, 5, 179;
  --deeppurple-9: 37, 0, 140;
  --deeppurple-10: 24, 0, 102;
  --blue-1: 232, 244, 255;
  --blue-2: 186, 216, 247;
  --blue-3: 138, 183, 235;
  --blue-4: 95, 150, 222;
  --blue-5: 56, 118, 209;
  --blue-6: 21, 86, 197;
  --blue-7: 9, 59, 158;
  --blue-8: 1, 37, 120;
  --blue-9: 0, 22, 82;
  --blue-10: 0, 10, 43;
  --cyan-1: 230, 255, 254;
  --cyan-2: 164, 252, 251;
  --cyan-3: 117, 238, 240;
  --cyan-4: 75, 219, 227;
  --cyan-5: 36, 199, 214;
  --cyan-6: 3, 178, 201;
  --cyan-7: 0, 139, 163;
  --cyan-8: 0, 102, 125;
  --cyan-9: 0, 68, 87;
  --cyan-10: 0, 36, 48;
  --green-1: 225, 245, 227;
  --green-2: 176, 232, 182;
  --green-3: 132, 219, 143;
  --green-4: 91, 207, 110;
  --green-5: 54, 194, 82;
  --green-6: 21, 180, 59;
  --green-7: 10, 143, 45;
  --green-8: 2, 105, 33;
  --green-9: 0, 66, 22;
  --green-10: 0, 28, 10;
  --lime-1: 255, 254, 240;
  --lime-2: 255, 253, 199;
  --lime-3: 245, 245, 152;
  --lime-4: 228, 232, 107;
  --lime-5: 209, 219, 66;
  --lime-6: 188, 206, 29;
  --lime-7: 148, 168, 15;
  --lime-8: 109, 130, 5;
  --lime-9: 73, 92, 0;
  --lime-10: 41, 54, 0;
  --yellow-1: 255, 255, 240;
  --yellow-2: 255, 253, 209;
  --yellow-3: 255, 249, 168;
  --yellow-4: 255, 242, 128;
  --yellow-5: 255, 233, 87;
  --yellow-6: 249, 215, 44;
  --yellow-7: 212, 175, 28;
  --yellow-8: 173, 136, 14;
  --yellow-9: 135, 100, 4;
  --yellow-10: 97, 68, 2;
  --amber-1: 250, 248, 225;
  --amber-2: 237, 229, 166;
  --amber-3: 224, 209, 121;
  --amber-4: 212, 188, 80;
  --amber-5: 199, 165, 44;
  --amber-6: 187, 143, 11;
  --amber-7: 148, 106, 1;
  --amber-8: 110, 75, 0;
  --amber-9: 71, 46, 0;
  --amber-10: 33, 20, 0;
  --orange-1: 255, 244, 230;
  --orange-2: 255, 221, 181;
  --orange-3: 255, 198, 140;
  --orange-4: 255, 172, 99;
  --orange-5: 250, 141, 57;
  --orange-6: 238, 105, 17;
  --orange-7: 199, 75, 4;
  --orange-8: 161, 54, 0;
  --orange-9: 122, 37, 0;
  --orange-10: 84, 22, 0;
  --deeporange-1: 255, 246, 237;
  --deeporange-2: 255, 223, 196;
  --deeporange-3: 255, 197, 156;
  --deeporange-4: 255, 169, 115;
  --deeporange-5: 255, 137, 74;
  --deeporange-6: 255, 104, 34;
  --deeporange-7: 217, 74, 17;
  --deeporange-8: 179, 49, 5;
  --deeporange-9: 140, 30, 0;
  --deeporange-10: 102, 19, 0;
  --grey-1: 250, 250, 250;
  --grey-2: 245, 245, 245;
  --grey-3: 238, 238, 238;
  --grey-4: 224, 224, 224;
  --grey-5: 189, 189, 189;
  --grey-6: 158, 158, 158;
  --grey-7: 117, 117, 117;
  --grey-8: 97, 97, 97;
  --grey-9: 66, 66, 66;
  --grey-10: 33, 33, 33;
  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);
  --color-foreground-1: rgb(var(--grey-10));
  --color-foreground-2: rgb(var(--grey-9));
  --color-foreground-3: rgb(var(--grey-8));
  --color-foreground-4: rgb(var(--grey-7));
  --color-fill-1: rgb(var(--grey-1));
  --color-fill-2: rgb(var(--grey-2));
  --color-fill-3: rgb(var(--grey-3));
  --color-fill-4: rgb(var(--grey-4));
  --color-background-1: #fff;
  --color-background-2: #fff;
  --color-background-3: rgb(var(--grey-2));
  --color-background-4: rgb(var(--grey-3));
  --color-border-1: rgba(0, 0, 0, 0.2);
  --color-border-2: rgba(0, 0, 0, 0.14);
  --color-border-3: rgba(0, 0, 0, 0.1);
  --color-border-4: rgba(0, 0, 0, 0.08);
  --color-primary-1: rgb(var(--primary-1));
  --color-primary-2: rgb(var(--primary-2));
  --color-primary-3: rgb(var(--primary-3));
  --color-primary-4: rgb(var(--primary-4));
  --color-secondary-1: rgb(var(--grey-2));
  --color-secondary-2: rgb(var(--grey-4));
  --color-secondary-3: rgb(var(--grey-5));
  --color-secondary-4: rgb(var(--grey-6));
  --color-success-1: rgb(var(--green-1));
  --color-success-2: rgb(var(--green-2));
  --color-success-3: rgb(var(--green-3));
  --color-success-4: rgb(var(--green-4));
  --color-error-1: rgb(var(--red-1));
  --color-error-2: rgb(var(--red-2));
  --color-error-3: rgb(var(--red-3));
  --color-error-4: rgb(var(--red-4));
  --color-warning-1: rgb(var(--orange-1));
  --color-warning-2: rgb(var(--orange-2));
  --color-warning-3: rgb(var(--orange-3));
  --color-warning-4: rgb(var(--orange-4));
  --color-yellow-1: rgb(var(--yellow-1));
  --color-yellow-2: rgb(var(--yellow-2));
  --color-yellow-3: rgb(var(--yellow-3));
  --color-yellow-4: rgb(var(--yellow-4));
  --color-amber-1: rgb(var(--amber-1));
  --color-amber-2: rgb(var(--amber-2));
  --color-amber-3: rgb(var(--amber-3));
  --color-amber-4: rgb(var(--amber-4));
}
[data-color-mode="dark"][data-dark-theme*="dark"] {
  color-scheme: dark;
  --red-1: 99, 0, 13;
  --red-2: 138, 0, 14;
  --red-3: 176, 4, 15;
  --red-4: 214, 15, 22;
  --red-5: 253, 30, 30;
  --red-6: 255, 78, 71;
  --red-7: 255, 122, 112;
  --red-8: 255, 163, 153;
  --red-9: 255, 202, 194;
  --red-10: 255, 238, 235;
  --pink-1: 102, 0, 48;
  --pink-2: 140, 0, 61;
  --pink-3: 179, 4, 74;
  --pink-4: 217, 15, 89;
  --pink-5: 255, 31, 106;
  --pink-6: 255, 71, 126;
  --pink-7: 255, 112, 150;
  --pink-8: 255, 153, 177;
  --pink-9: 255, 194, 206;
  --pink-10: 255, 235, 238;
  --purple-1: 73, 0, 102;
  --purple-2: 105, 0, 140;
  --purple-3: 140, 2, 179;
  --purple-4: 179, 13, 217;
  --purple-5: 221, 29, 255;
  --purple-6: 233, 69, 255;
  --purple-7: 243, 110, 255;
  --purple-8: 250, 150, 255;
  --purple-9: 254, 191, 255;
  --purple-10: 255, 232, 255;
  --deeppurple-1: 24, 0, 102;
  --deeppurple-2: 37, 0, 140;
  --deeppurple-3: 57, 5, 179;
  --deeppurple-4: 84, 17, 217;
  --deeppurple-5: 114, 33, 255;
  --deeppurple-6: 146, 74, 255;
  --deeppurple-7: 176, 115, 255;
  --deeppurple-8: 202, 156, 255;
  --deeppurple-9: 226, 196, 255;
  --deeppurple-10: 247, 237, 255;
  --blue-1: 0, 10, 43;
  --blue-2: 0, 22, 82;
  --blue-3: 1, 37, 120;
  --blue-4: 9, 59, 158;
  --blue-5: 21, 86, 197;
  --blue-6: 56, 118, 209;
  --blue-7: 95, 150, 222;
  --blue-8: 138, 183, 235;
  --blue-9: 186, 216, 247;
  --blue-10: 232, 244, 255;
  --cyan-1: 0, 36, 48;
  --cyan-2: 0, 68, 87;
  --cyan-3: 0, 102, 125;
  --cyan-4: 0, 139, 163;
  --cyan-5: 3, 178, 201;
  --cyan-6: 36, 199, 214;
  --cyan-7: 75, 219, 227;
  --cyan-8: 117, 238, 240;
  --cyan-9: 164, 252, 251;
  --cyan-10: 230, 255, 254;
  --green-1: 0, 28, 10;
  --green-2: 0, 66, 22;
  --green-3: 2, 105, 33;
  --green-4: 10, 143, 45;
  --green-5: 21, 180, 59;
  --green-6: 54, 194, 82;
  --green-7: 91, 207, 110;
  --green-8: 132, 219, 143;
  --green-9: 176, 232, 182;
  --green-10: 225, 245, 227;
  --lime-1: 41, 54, 0;
  --lime-2: 73, 92, 0;
  --lime-3: 109, 130, 5;
  --lime-4: 148, 168, 15;
  --lime-5: 188, 206, 29;
  --lime-6: 209, 219, 66;
  --lime-7: 228, 232, 107;
  --lime-8: 245, 245, 152;
  --lime-9: 255, 253, 199;
  --lime-10: 255, 254, 240;
  --yellow-1: 97, 68, 2;
  --yellow-2: 135, 100, 4;
  --yellow-3: 173, 136, 14;
  --yellow-4: 212, 175, 28;
  --yellow-5: 249, 215, 44;
  --yellow-6: 255, 233, 87;
  --yellow-7: 255, 242, 128;
  --yellow-8: 255, 249, 168;
  --yellow-9: 255, 253, 209;
  --yellow-10: 255, 255, 240;
  --amber-1: 33, 20, 0;
  --amber-2: 71, 46, 0;
  --amber-3: 110, 75, 0;
  --amber-4: 148, 106, 1;
  --amber-5: 187, 143, 11;
  --amber-6: 199, 165, 44;
  --amber-7: 212, 188, 80;
  --amber-8: 224, 209, 121;
  --amber-9: 237, 229, 166;
  --amber-10: 250, 248, 225;
  --orange-1: 84, 22, 0;
  --orange-2: 122, 37, 0;
  --orange-3: 161, 54, 0;
  --orange-4: 199, 75, 4;
  --orange-5: 238, 105, 17;
  --orange-6: 250, 141, 57;
  --orange-7: 255, 172, 99;
  --orange-8: 255, 198, 140;
  --orange-9: 255, 221, 181;
  --orange-10: 255, 244, 230;
  --deeporange-1: 102, 19, 0;
  --deeporange-2: 140, 30, 0;
  --deeporange-3: 179, 49, 5;
  --deeporange-4: 217, 74, 17;
  --deeporange-5: 255, 104, 34;
  --deeporange-6: 255, 137, 74;
  --deeporange-7: 255, 169, 115;
  --deeporange-8: 255, 197, 156;
  --deeporange-9: 255, 223, 196;
  --deeporange-10: 255, 246, 237;
  --grey-1: 33, 33, 33;
  --grey-2: 66, 66, 66;
  --grey-3: 97, 97, 97;
  --grey-4: 117, 117, 117;
  --grey-5: 158, 158, 158;
  --grey-6: 189, 189, 189;
  --grey-7: 224, 224, 224;
  --grey-8: 238, 238, 238;
  --grey-9: 245, 245, 245;
  --grey-10: 250, 250, 250;
  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);
  --color-foreground-1: rgba(255, 255, 255, 0.9);
  --color-foreground-2: rgba(255, 255, 255, 0.7);
  --color-foreground-3: rgba(255, 255, 255, 0.5);
  --color-foreground-4: rgba(255, 255, 255, 0.3);
  --color-fill-1: hsla(0, 0%, 100%, 0.04);
  --color-fill-2: hsla(0, 0%, 100%, 0.08);
  --color-fill-3: hsla(0, 0%, 100%, 0.12);
  --color-fill-4: hsla(0, 0%, 100%, 0.16);
  --color-background-1: #16181a;
  --color-background-2: #232324;
  --color-background-3: #2a2a2b;
  --color-background-4: #313132;
  --color-border-1: rgba(255, 255, 255, 0.2);
  --color-border-2: rgba(255, 255, 255, 0.14);
  --color-border-3: rgba(255, 255, 255, 0.1);
  --color-border-4: rgba(255, 255, 255, 0.08);
  --color-primary-1: rgba(var(--primary-6), 0.3);
  --color-primary-2: rgba(var(--primary-6), 0.4);
  --color-primary-3: rgba(var(--primary-6), 0.5);
  --color-primary-4: rgba(var(--primary-6), 0.6);
  --color-secondary-1: rgba(255, 255, 255, 0.15);
  --color-secondary-2: rgba(255, 255, 255, 0.25);
  --color-secondary-3: rgba(255, 255, 255, 0.35);
  --color-secondary-4: rgba(255, 255, 255, 0.45);
  --color-success-1: rgba(var(--green-6), 0.25);
  --color-success-2: rgba(var(--green-6), 0.35);
  --color-success-3: rgba(var(--green-6), 0.45);
  --color-success-4: rgba(var(--green-6), 0.55);
  --color-error-1: rgba(var(--red-6), 0.2);
  --color-error-2: rgba(var(--red-6), 0.3);
  --color-error-3: rgba(var(--red-6), 0.4);
  --color-error-4: rgba(var(--red-6), 0.5);
  --color-warning-1: rgba(var(--orange-6), 0.2);
  --color-warning-2: rgba(var(--orange-6), 0.3);
  --color-warning-3: rgba(var(--orange-6), 0.4);
  --color-warning-4: rgba(var(--orange-6), 0.5);
  --color-yellow-1: rgba(var(--yellow-6), 0.2);
  --color-yellow-2: rgba(var(--yellow-6), 0.3);
  --color-yellow-3: rgba(var(--yellow-6), 0.4);
  --color-yellow-4: rgba(var(--yellow-6), 0.5);
  --color-amber-1: rgba(var(--amber-6), 0.2);
  --color-amber-2: rgba(var(--amber-6), 0.3);
  --color-amber-3: rgba(var(--amber-6), 0.4);
  --color-amber-4: rgba(var(--amber-6), 0.5);
}
@media (prefers-color-scheme: light) {
  [data-color-mode="auto"][data-light-theme*="light"] {
    color-scheme: light;
    --red-1: 255, 238, 235;
    --red-2: 255, 202, 194;
    --red-3: 255, 163, 153;
    --red-4: 255, 122, 112;
    --red-5: 255, 78, 71;
    --red-6: 253, 30, 30;
    --red-7: 214, 15, 22;
    --red-8: 176, 4, 15;
    --red-9: 138, 0, 14;
    --red-10: 99, 0, 13;
    --pink-1: 255, 235, 238;
    --pink-2: 255, 194, 206;
    --pink-3: 255, 153, 177;
    --pink-4: 255, 112, 150;
    --pink-5: 255, 71, 126;
    --pink-6: 255, 31, 106;
    --pink-7: 217, 15, 89;
    --pink-8: 179, 4, 74;
    --pink-9: 140, 0, 61;
    --pink-10: 102, 0, 48;
    --purple-1: 255, 232, 255;
    --purple-2: 254, 191, 255;
    --purple-3: 250, 150, 255;
    --purple-4: 243, 110, 255;
    --purple-5: 233, 69, 255;
    --purple-6: 221, 29, 255;
    --purple-7: 179, 13, 217;
    --purple-8: 140, 2, 179;
    --purple-9: 105, 0, 140;
    --purple-10: 73, 0, 102;
    --deeppurple-1: 247, 237, 255;
    --deeppurple-2: 226, 196, 255;
    --deeppurple-3: 202, 156, 255;
    --deeppurple-4: 176, 115, 255;
    --deeppurple-5: 146, 74, 255;
    --deeppurple-6: 114, 33, 255;
    --deeppurple-7: 84, 17, 217;
    --deeppurple-8: 57, 5, 179;
    --deeppurple-9: 37, 0, 140;
    --deeppurple-10: 24, 0, 102;
    --blue-1: 232, 244, 255;
    --blue-2: 186, 216, 247;
    --blue-3: 138, 183, 235;
    --blue-4: 95, 150, 222;
    --blue-5: 56, 118, 209;
    --blue-6: 21, 86, 197;
    --blue-7: 9, 59, 158;
    --blue-8: 1, 37, 120;
    --blue-9: 0, 22, 82;
    --blue-10: 0, 10, 43;
    --cyan-1: 230, 255, 254;
    --cyan-2: 164, 252, 251;
    --cyan-3: 117, 238, 240;
    --cyan-4: 75, 219, 227;
    --cyan-5: 36, 199, 214;
    --cyan-6: 3, 178, 201;
    --cyan-7: 0, 139, 163;
    --cyan-8: 0, 102, 125;
    --cyan-9: 0, 68, 87;
    --cyan-10: 0, 36, 48;
    --green-1: 225, 245, 227;
    --green-2: 176, 232, 182;
    --green-3: 132, 219, 143;
    --green-4: 91, 207, 110;
    --green-5: 54, 194, 82;
    --green-6: 21, 180, 59;
    --green-7: 10, 143, 45;
    --green-8: 2, 105, 33;
    --green-9: 0, 66, 22;
    --green-10: 0, 28, 10;
    --lime-1: 255, 254, 240;
    --lime-2: 255, 253, 199;
    --lime-3: 245, 245, 152;
    --lime-4: 228, 232, 107;
    --lime-5: 209, 219, 66;
    --lime-6: 188, 206, 29;
    --lime-7: 148, 168, 15;
    --lime-8: 109, 130, 5;
    --lime-9: 73, 92, 0;
    --lime-10: 41, 54, 0;
    --yellow-1: 255, 255, 240;
    --yellow-2: 255, 253, 209;
    --yellow-3: 255, 249, 168;
    --yellow-4: 255, 242, 128;
    --yellow-5: 255, 233, 87;
    --yellow-6: 249, 215, 44;
    --yellow-7: 212, 175, 28;
    --yellow-8: 173, 136, 14;
    --yellow-9: 135, 100, 4;
    --yellow-10: 97, 68, 2;
    --amber-1: 250, 248, 225;
    --amber-2: 237, 229, 166;
    --amber-3: 224, 209, 121;
    --amber-4: 212, 188, 80;
    --amber-5: 199, 165, 44;
    --amber-6: 187, 143, 11;
    --amber-7: 148, 106, 1;
    --amber-8: 110, 75, 0;
    --amber-9: 71, 46, 0;
    --amber-10: 33, 20, 0;
    --orange-1: 255, 244, 230;
    --orange-2: 255, 221, 181;
    --orange-3: 255, 198, 140;
    --orange-4: 255, 172, 99;
    --orange-5: 250, 141, 57;
    --orange-6: 238, 105, 17;
    --orange-7: 199, 75, 4;
    --orange-8: 161, 54, 0;
    --orange-9: 122, 37, 0;
    --orange-10: 84, 22, 0;
    --deeporange-1: 255, 246, 237;
    --deeporange-2: 255, 223, 196;
    --deeporange-3: 255, 197, 156;
    --deeporange-4: 255, 169, 115;
    --deeporange-5: 255, 137, 74;
    --deeporange-6: 255, 104, 34;
    --deeporange-7: 217, 74, 17;
    --deeporange-8: 179, 49, 5;
    --deeporange-9: 140, 30, 0;
    --deeporange-10: 102, 19, 0;
    --grey-1: 250, 250, 250;
    --grey-2: 245, 245, 245;
    --grey-3: 238, 238, 238;
    --grey-4: 224, 224, 224;
    --grey-5: 189, 189, 189;
    --grey-6: 158, 158, 158;
    --grey-7: 117, 117, 117;
    --grey-8: 97, 97, 97;
    --grey-9: 66, 66, 66;
    --grey-10: 33, 33, 33;
    --primary-1: var(--blue-1);
    --primary-2: var(--blue-2);
    --primary-3: var(--blue-3);
    --primary-4: var(--blue-4);
    --primary-5: var(--blue-5);
    --primary-6: var(--blue-6);
    --primary-7: var(--blue-7);
    --primary-8: var(--blue-8);
    --primary-9: var(--blue-9);
    --primary-10: var(--blue-10);
    --color-foreground-1: rgb(var(--grey-10));
    --color-foreground-2: rgb(var(--grey-9));
    --color-foreground-3: rgb(var(--grey-8));
    --color-foreground-4: rgb(var(--grey-7));
    --color-fill-1: rgb(var(--grey-1));
    --color-fill-2: rgb(var(--grey-2));
    --color-fill-3: rgb(var(--grey-3));
    --color-fill-4: rgb(var(--grey-4));
    --color-background-1: #fff;
    --color-background-2: #fff;
    --color-background-3: rgb(var(--grey-2));
    --color-background-4: rgb(var(--grey-3));
    --color-border-1: rgba(0, 0, 0, 0.2);
    --color-border-2: rgba(0, 0, 0, 0.14);
    --color-border-3: rgba(0, 0, 0, 0.1);
    --color-border-4: rgba(0, 0, 0, 0.08);
    --color-primary-1: rgb(var(--primary-1));
    --color-primary-2: rgb(var(--primary-2));
    --color-primary-3: rgb(var(--primary-3));
    --color-primary-4: rgb(var(--primary-4));
    --color-secondary-1: rgb(var(--grey-2));
    --color-secondary-2: rgb(var(--grey-4));
    --color-secondary-3: rgb(var(--grey-5));
    --color-secondary-4: rgb(var(--grey-6));
    --color-success-1: rgb(var(--green-1));
    --color-success-2: rgb(var(--green-2));
    --color-success-3: rgb(var(--green-3));
    --color-success-4: rgb(var(--green-4));
    --color-error-1: rgb(var(--red-1));
    --color-error-2: rgb(var(--red-2));
    --color-error-3: rgb(var(--red-3));
    --color-error-4: rgb(var(--red-4));
    --color-warning-1: rgb(var(--orange-1));
    --color-warning-2: rgb(var(--orange-2));
    --color-warning-3: rgb(var(--orange-3));
    --color-warning-4: rgb(var(--orange-4));
    --color-yellow-1: rgb(var(--yellow-1));
    --color-yellow-2: rgb(var(--yellow-2));
    --color-yellow-3: rgb(var(--yellow-3));
    --color-yellow-4: rgb(var(--yellow-4));
    --color-amber-1: rgb(var(--amber-1));
    --color-amber-2: rgb(var(--amber-2));
    --color-amber-3: rgb(var(--amber-3));
    --color-amber-4: rgb(var(--amber-4));
  }
}
@media (prefers-color-scheme: dark) {
  [data-color-mode="auto"][data-dark-theme*="dark"] {
    color-scheme: dark;
    --red-1: 99, 0, 13;
    --red-2: 138, 0, 14;
    --red-3: 176, 4, 15;
    --red-4: 214, 15, 22;
    --red-5: 253, 30, 30;
    --red-6: 255, 78, 71;
    --red-7: 255, 122, 112;
    --red-8: 255, 163, 153;
    --red-9: 255, 202, 194;
    --red-10: 255, 238, 235;
    --pink-1: 102, 0, 48;
    --pink-2: 140, 0, 61;
    --pink-3: 179, 4, 74;
    --pink-4: 217, 15, 89;
    --pink-5: 255, 31, 106;
    --pink-6: 255, 71, 126;
    --pink-7: 255, 112, 150;
    --pink-8: 255, 153, 177;
    --pink-9: 255, 194, 206;
    --pink-10: 255, 235, 238;
    --purple-1: 73, 0, 102;
    --purple-2: 105, 0, 140;
    --purple-3: 140, 2, 179;
    --purple-4: 179, 13, 217;
    --purple-5: 221, 29, 255;
    --purple-6: 233, 69, 255;
    --purple-7: 243, 110, 255;
    --purple-8: 250, 150, 255;
    --purple-9: 254, 191, 255;
    --purple-10: 255, 232, 255;
    --deeppurple-1: 24, 0, 102;
    --deeppurple-2: 37, 0, 140;
    --deeppurple-3: 57, 5, 179;
    --deeppurple-4: 84, 17, 217;
    --deeppurple-5: 114, 33, 255;
    --deeppurple-6: 146, 74, 255;
    --deeppurple-7: 176, 115, 255;
    --deeppurple-8: 202, 156, 255;
    --deeppurple-9: 226, 196, 255;
    --deeppurple-10: 247, 237, 255;
    --blue-1: 0, 10, 43;
    --blue-2: 0, 22, 82;
    --blue-3: 1, 37, 120;
    --blue-4: 9, 59, 158;
    --blue-5: 21, 86, 197;
    --blue-6: 56, 118, 209;
    --blue-7: 95, 150, 222;
    --blue-8: 138, 183, 235;
    --blue-9: 186, 216, 247;
    --blue-10: 232, 244, 255;
    --cyan-1: 0, 36, 48;
    --cyan-2: 0, 68, 87;
    --cyan-3: 0, 102, 125;
    --cyan-4: 0, 139, 163;
    --cyan-5: 3, 178, 201;
    --cyan-6: 36, 199, 214;
    --cyan-7: 75, 219, 227;
    --cyan-8: 117, 238, 240;
    --cyan-9: 164, 252, 251;
    --cyan-10: 230, 255, 254;
    --green-1: 0, 28, 10;
    --green-2: 0, 66, 22;
    --green-3: 2, 105, 33;
    --green-4: 10, 143, 45;
    --green-5: 21, 180, 59;
    --green-6: 54, 194, 82;
    --green-7: 91, 207, 110;
    --green-8: 132, 219, 143;
    --green-9: 176, 232, 182;
    --green-10: 225, 245, 227;
    --lime-1: 41, 54, 0;
    --lime-2: 73, 92, 0;
    --lime-3: 109, 130, 5;
    --lime-4: 148, 168, 15;
    --lime-5: 188, 206, 29;
    --lime-6: 209, 219, 66;
    --lime-7: 228, 232, 107;
    --lime-8: 245, 245, 152;
    --lime-9: 255, 253, 199;
    --lime-10: 255, 254, 240;
    --yellow-1: 97, 68, 2;
    --yellow-2: 135, 100, 4;
    --yellow-3: 173, 136, 14;
    --yellow-4: 212, 175, 28;
    --yellow-5: 249, 215, 44;
    --yellow-6: 255, 233, 87;
    --yellow-7: 255, 242, 128;
    --yellow-8: 255, 249, 168;
    --yellow-9: 255, 253, 209;
    --yellow-10: 255, 255, 240;
    --amber-1: 33, 20, 0;
    --amber-2: 71, 46, 0;
    --amber-3: 110, 75, 0;
    --amber-4: 148, 106, 1;
    --amber-5: 187, 143, 11;
    --amber-6: 199, 165, 44;
    --amber-7: 212, 188, 80;
    --amber-8: 224, 209, 121;
    --amber-9: 237, 229, 166;
    --amber-10: 250, 248, 225;
    --orange-1: 84, 22, 0;
    --orange-2: 122, 37, 0;
    --orange-3: 161, 54, 0;
    --orange-4: 199, 75, 4;
    --orange-5: 238, 105, 17;
    --orange-6: 250, 141, 57;
    --orange-7: 255, 172, 99;
    --orange-8: 255, 198, 140;
    --orange-9: 255, 221, 181;
    --orange-10: 255, 244, 230;
    --deeporange-1: 102, 19, 0;
    --deeporange-2: 140, 30, 0;
    --deeporange-3: 179, 49, 5;
    --deeporange-4: 217, 74, 17;
    --deeporange-5: 255, 104, 34;
    --deeporange-6: 255, 137, 74;
    --deeporange-7: 255, 169, 115;
    --deeporange-8: 255, 197, 156;
    --deeporange-9: 255, 223, 196;
    --deeporange-10: 255, 246, 237;
    --grey-1: 33, 33, 33;
    --grey-2: 66, 66, 66;
    --grey-3: 97, 97, 97;
    --grey-4: 117, 117, 117;
    --grey-5: 158, 158, 158;
    --grey-6: 189, 189, 189;
    --grey-7: 224, 224, 224;
    --grey-8: 238, 238, 238;
    --grey-9: 245, 245, 245;
    --grey-10: 250, 250, 250;
    --primary-1: var(--blue-1);
    --primary-2: var(--blue-2);
    --primary-3: var(--blue-3);
    --primary-4: var(--blue-4);
    --primary-5: var(--blue-5);
    --primary-6: var(--blue-6);
    --primary-7: var(--blue-7);
    --primary-8: var(--blue-8);
    --primary-9: var(--blue-9);
    --primary-10: var(--blue-10);
    --color-foreground-1: rgba(255, 255, 255, 0.9);
    --color-foreground-2: rgba(255, 255, 255, 0.7);
    --color-foreground-3: rgba(255, 255, 255, 0.5);
    --color-foreground-4: rgba(255, 255, 255, 0.3);
    --color-fill-1: hsla(0, 0%, 100%, 0.04);
    --color-fill-2: hsla(0, 0%, 100%, 0.08);
    --color-fill-3: hsla(0, 0%, 100%, 0.12);
    --color-fill-4: hsla(0, 0%, 100%, 0.16);
    --color-background-1: #16181a;
    --color-background-2: #232324;
    --color-background-3: #2a2a2b;
    --color-background-4: #313132;
    --color-border-1: rgba(255, 255, 255, 0.2);
    --color-border-2: rgba(255, 255, 255, 0.14);
    --color-border-3: rgba(255, 255, 255, 0.1);
    --color-border-4: rgba(255, 255, 255, 0.08);
    --color-primary-1: rgba(var(--primary-6), 0.3);
    --color-primary-2: rgba(var(--primary-6), 0.4);
    --color-primary-3: rgba(var(--primary-6), 0.5);
    --color-primary-4: rgba(var(--primary-6), 0.6);
    --color-secondary-1: rgba(255, 255, 255, 0.15);
    --color-secondary-2: rgba(255, 255, 255, 0.25);
    --color-secondary-3: rgba(255, 255, 255, 0.35);
    --color-secondary-4: rgba(255, 255, 255, 0.45);
    --color-success-1: rgba(var(--green-6), 0.25);
    --color-success-2: rgba(var(--green-6), 0.35);
    --color-success-3: rgba(var(--green-6), 0.45);
    --color-success-4: rgba(var(--green-6), 0.55);
    --color-error-1: rgba(var(--red-6), 0.2);
    --color-error-2: rgba(var(--red-6), 0.3);
    --color-error-3: rgba(var(--red-6), 0.4);
    --color-error-4: rgba(var(--red-6), 0.5);
    --color-warning-1: rgba(var(--orange-6), 0.2);
    --color-warning-2: rgba(var(--orange-6), 0.3);
    --color-warning-3: rgba(var(--orange-6), 0.4);
    --color-warning-4: rgba(var(--orange-6), 0.5);
    --color-yellow-1: rgba(var(--yellow-6), 0.2);
    --color-yellow-2: rgba(var(--yellow-6), 0.3);
    --color-yellow-3: rgba(var(--yellow-6), 0.4);
    --color-yellow-4: rgba(var(--yellow-6), 0.5);
    --color-amber-1: rgba(var(--amber-6), 0.2);
    --color-amber-2: rgba(var(--amber-6), 0.3);
    --color-amber-3: rgba(var(--amber-6), 0.4);
    --color-amber-4: rgba(var(--amber-6), 0.5);
  }
}
.tui-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

