/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
:root {
  color-scheme: light;
  --tt-red-1: 255, 238, 235;
  --tt-red-2: 255, 202, 194;
  --tt-red-3: 255, 163, 153;
  --tt-red-4: 255, 122, 112;
  --tt-red-5: 255, 78, 71;
  --tt-red-6: 253, 30, 30;
  --tt-red-7: 214, 15, 22;
  --tt-red-8: 176, 4, 15;
  --tt-red-9: 138, 0, 14;
  --tt-red-10: 99, 0, 13;
  --tt-pink-1: 255, 235, 238;
  --tt-pink-2: 255, 194, 206;
  --tt-pink-3: 255, 153, 177;
  --tt-pink-4: 255, 112, 150;
  --tt-pink-5: 255, 71, 126;
  --tt-pink-6: 255, 31, 106;
  --tt-pink-7: 217, 15, 89;
  --tt-pink-8: 179, 4, 74;
  --tt-pink-9: 140, 0, 61;
  --tt-pink-10: 102, 0, 48;
  --tt-purple-1: 255, 232, 255;
  --tt-purple-2: 254, 191, 255;
  --tt-purple-3: 250, 150, 255;
  --tt-purple-4: 243, 110, 255;
  --tt-purple-5: 233, 69, 255;
  --tt-purple-6: 221, 29, 255;
  --tt-purple-7: 179, 13, 217;
  --tt-purple-8: 140, 2, 179;
  --tt-purple-9: 105, 0, 140;
  --tt-purple-10: 73, 0, 102;
  --tt-deeppurple-1: 247, 237, 255;
  --tt-deeppurple-2: 226, 196, 255;
  --tt-deeppurple-3: 202, 156, 255;
  --tt-deeppurple-4: 176, 115, 255;
  --tt-deeppurple-5: 146, 74, 255;
  --tt-deeppurple-6: 114, 33, 255;
  --tt-deeppurple-7: 84, 17, 217;
  --tt-deeppurple-8: 57, 5, 179;
  --tt-deeppurple-9: 37, 0, 140;
  --tt-deeppurple-10: 24, 0, 102;
  --tt-blue-1: 232, 244, 255;
  --tt-blue-2: 186, 216, 247;
  --tt-blue-3: 138, 183, 235;
  --tt-blue-4: 95, 150, 222;
  --tt-blue-5: 56, 118, 209;
  --tt-blue-6: 21, 86, 197;
  --tt-blue-7: 9, 59, 158;
  --tt-blue-8: 1, 37, 120;
  --tt-blue-9: 0, 22, 82;
  --tt-blue-10: 0, 10, 43;
  --tt-cyan-1: 230, 255, 254;
  --tt-cyan-2: 164, 252, 251;
  --tt-cyan-3: 117, 238, 240;
  --tt-cyan-4: 75, 219, 227;
  --tt-cyan-5: 36, 199, 214;
  --tt-cyan-6: 3, 178, 201;
  --tt-cyan-7: 0, 139, 163;
  --tt-cyan-8: 0, 102, 125;
  --tt-cyan-9: 0, 68, 87;
  --tt-cyan-10: 0, 36, 48;
  --tt-green-1: 225, 245, 227;
  --tt-green-2: 176, 232, 182;
  --tt-green-3: 132, 219, 143;
  --tt-green-4: 91, 207, 110;
  --tt-green-5: 54, 194, 82;
  --tt-green-6: 21, 180, 59;
  --tt-green-7: 10, 143, 45;
  --tt-green-8: 2, 105, 33;
  --tt-green-9: 0, 66, 22;
  --tt-green-10: 0, 28, 10;
  --tt-lime-1: 255, 254, 240;
  --tt-lime-2: 255, 253, 199;
  --tt-lime-3: 245, 245, 152;
  --tt-lime-4: 228, 232, 107;
  --tt-lime-5: 209, 219, 66;
  --tt-lime-6: 188, 206, 29;
  --tt-lime-7: 148, 168, 15;
  --tt-lime-8: 109, 130, 5;
  --tt-lime-9: 73, 92, 0;
  --tt-lime-10: 41, 54, 0;
  --tt-yellow-1: 255, 255, 240;
  --tt-yellow-2: 255, 253, 209;
  --tt-yellow-3: 255, 249, 168;
  --tt-yellow-4: 255, 242, 128;
  --tt-yellow-5: 255, 233, 87;
  --tt-yellow-6: 249, 215, 44;
  --tt-yellow-7: 212, 175, 28;
  --tt-yellow-8: 173, 136, 14;
  --tt-yellow-9: 135, 100, 4;
  --tt-yellow-10: 97, 68, 2;
  --tt-amber-1: 250, 248, 225;
  --tt-amber-2: 237, 229, 166;
  --tt-amber-3: 224, 209, 121;
  --tt-amber-4: 212, 188, 80;
  --tt-amber-5: 199, 165, 44;
  --tt-amber-6: 187, 143, 11;
  --tt-amber-7: 148, 106, 1;
  --tt-amber-8: 110, 75, 0;
  --tt-amber-9: 71, 46, 0;
  --tt-amber-10: 33, 20, 0;
  --tt-orange-1: 255, 244, 230;
  --tt-orange-2: 255, 221, 181;
  --tt-orange-3: 255, 198, 140;
  --tt-orange-4: 255, 172, 99;
  --tt-orange-5: 250, 141, 57;
  --tt-orange-6: 238, 105, 17;
  --tt-orange-7: 199, 75, 4;
  --tt-orange-8: 161, 54, 0;
  --tt-orange-9: 122, 37, 0;
  --tt-orange-10: 84, 22, 0;
  --tt-deeporange-1: 255, 246, 237;
  --tt-deeporange-2: 255, 223, 196;
  --tt-deeporange-3: 255, 197, 156;
  --tt-deeporange-4: 255, 169, 115;
  --tt-deeporange-5: 255, 137, 74;
  --tt-deeporange-6: 255, 104, 34;
  --tt-deeporange-7: 217, 74, 17;
  --tt-deeporange-8: 179, 49, 5;
  --tt-deeporange-9: 140, 30, 0;
  --tt-deeporange-10: 102, 19, 0;
  --tt-grey-1: 247, 247, 247;
  --tt-grey-2: 243, 243, 243;
  --tt-grey-3: 238, 238, 238;
  --tt-grey-4: 224, 224, 224;
  --tt-grey-5: 189, 189, 189;
  --tt-grey-6: 158, 158, 158;
  --tt-grey-7: 117, 117, 117;
  --tt-grey-8: 97, 97, 97;
  --tt-grey-9: 66, 66, 66;
  --tt-grey-10: 33, 33, 33;
  --tt-primary-1: var(--tt-blue-1);
  --tt-primary-2: var(--tt-blue-2);
  --tt-primary-3: var(--tt-blue-3);
  --tt-primary-4: var(--tt-blue-4);
  --tt-primary-5: var(--tt-blue-5);
  --tt-primary-6: var(--tt-blue-6);
  --tt-primary-7: var(--tt-blue-7);
  --tt-primary-8: var(--tt-blue-8);
  --tt-primary-9: var(--tt-blue-9);
  --tt-primary-10: var(--tt-blue-10);
  --tt-color-foreground-1: rgb(var(--tt-grey-10));
  --tt-color-foreground-2: rgb(var(--tt-grey-9));
  --tt-color-foreground-3: rgb(var(--tt-grey-8));
  --tt-color-foreground-4: rgb(var(--tt-grey-7));
  --tt-color-foreground-tooltip: #fff;
  --tt-color-fill-1: rgb(var(--tt-grey-1));
  --tt-color-fill-2: rgb(var(--tt-grey-2));
  --tt-color-fill-3: rgb(var(--tt-grey-3));
  --tt-color-fill-4: rgb(var(--tt-grey-4));
  --tt-color-background-1: #fff;
  --tt-color-background-2: #fff;
  --tt-color-background-3: #fff;
  --tt-color-background-4: #fff;
  --tt-color-background-5: #fff;
  --tt-color-background-popup: #fff;
  --tt-color-background-tooltip: #414141;
  --tt-color-border-1: rgba(0, 0, 0, 0.2);
  --tt-color-border-2: rgba(0, 0, 0, 0.14);
  --tt-color-border-3: rgba(0, 0, 0, 0.1);
  --tt-color-border-4: rgba(0, 0, 0, 0.08);
  --tt-color-primary-1: rgb(var(--tt-primary-1));
  --tt-color-primary-2: rgb(var(--tt-primary-2));
  --tt-color-primary-3: rgb(var(--tt-primary-3));
  --tt-color-primary-4: rgb(var(--tt-primary-4));
  --tt-color-secondary-1: rgb(var(--tt-grey-2));
  --tt-color-secondary-2: rgb(var(--tt-grey-4));
  --tt-color-secondary-3: rgb(var(--tt-grey-5));
  --tt-color-secondary-4: rgb(var(--tt-grey-6));
  --tt-color-success-1: rgb(var(--tt-green-1));
  --tt-color-success-2: rgb(var(--tt-green-2));
  --tt-color-success-3: rgb(var(--tt-green-3));
  --tt-color-success-4: rgb(var(--tt-green-4));
  --tt-color-error-1: rgb(var(--tt-red-1));
  --tt-color-error-2: rgb(var(--tt-red-2));
  --tt-color-error-3: rgb(var(--tt-red-3));
  --tt-color-error-4: rgb(var(--tt-red-4));
  --tt-color-warning-1: rgb(var(--tt-orange-1));
  --tt-color-warning-2: rgb(var(--tt-orange-2));
  --tt-color-warning-3: rgb(var(--tt-orange-3));
  --tt-color-warning-4: rgb(var(--tt-orange-4));
  --tt-color-yellow-1: rgb(var(--tt-yellow-1));
  --tt-color-yellow-2: rgb(var(--tt-yellow-2));
  --tt-color-yellow-3: rgb(var(--tt-yellow-3));
  --tt-color-yellow-4: rgb(var(--tt-yellow-4));
  --tt-color-amber-1: rgb(var(--tt-amber-1));
  --tt-color-amber-2: rgb(var(--tt-amber-2));
  --tt-color-amber-3: rgb(var(--tt-amber-3));
  --tt-color-amber-4: rgb(var(--tt-amber-4));
  --tt-color-mask-bg: rgba(29, 33, 41, 0.6);
  --tt-border-radius-none: 0;
  --tt-border-radius-small: 2px;
  --tt-border-radius-medium: 3px;
  --tt-border-radius-large: 4px;
  --tt-border-radius-circle: 50%;
  --tt-size-large: 36px;
  --tt-size-medium: 32px;
  --tt-size-small: 28px;
  --tt-size-tiny: 24px;
  --tt-size-button-padding-large: 0 20px;
  --tt-size-button-padding-medium: 0 16px;
  --tt-size-button-padding-small: 0 12px;
  --tt-size-button-padding-tiny: 0 8px;
  --tt-size-button-outlined-padding-large: 0 19px;
  --tt-size-button-outlined-padding-medium: 0 15px;
  --tt-size-button-outlined-padding-small: 0 11px;
  --tt-size-button-outlined-padding-tiny: 0 7px;
  --tt-box-shadow-1: 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0 4px 12px rgb(0 0 0 / 7%);
  --tt-box-shadow-2: 0px 0px 2px 0px rgba(0, 0, 0, 0.1), 0 4px 12px rgb(0 0 0 / 10%);
  --tt-box-shadow-3: 0px 0px 3px 0px rgba(0, 0, 0, 0.1), 0 4px 12px rgb(0 0 0 / 12%);
  --tt-box-shadow-4: 0px 0px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-btn: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 2px 3px 1px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup: 0px 0px 3px 0px rgba(0, 0, 0, 0.1), 0 4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup-down: 0px 0px 3px 0px rgba(0, 0, 0, 0.1), 0 -4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup-up: 0px 0px 3px 0px rgba(0, 0, 0, 0.1), 0 4px 12px rgb(0 0 0 / 15%);
  --tt-box-shadow-popup-arrow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
}
[data-color-mode="light"][data-light-theme*="light"] {
  color-scheme: light;
  --tt-red-1: 255, 238, 235;
  --tt-red-2: 255, 202, 194;
  --tt-red-3: 255, 163, 153;
  --tt-red-4: 255, 122, 112;
  --tt-red-5: 255, 78, 71;
  --tt-red-6: 253, 30, 30;
  --tt-red-7: 214, 15, 22;
  --tt-red-8: 176, 4, 15;
  --tt-red-9: 138, 0, 14;
  --tt-red-10: 99, 0, 13;
  --tt-pink-1: 255, 235, 238;
  --tt-pink-2: 255, 194, 206;
  --tt-pink-3: 255, 153, 177;
  --tt-pink-4: 255, 112, 150;
  --tt-pink-5: 255, 71, 126;
  --tt-pink-6: 255, 31, 106;
  --tt-pink-7: 217, 15, 89;
  --tt-pink-8: 179, 4, 74;
  --tt-pink-9: 140, 0, 61;
  --tt-pink-10: 102, 0, 48;
  --tt-purple-1: 255, 232, 255;
  --tt-purple-2: 254, 191, 255;
  --tt-purple-3: 250, 150, 255;
  --tt-purple-4: 243, 110, 255;
  --tt-purple-5: 233, 69, 255;
  --tt-purple-6: 221, 29, 255;
  --tt-purple-7: 179, 13, 217;
  --tt-purple-8: 140, 2, 179;
  --tt-purple-9: 105, 0, 140;
  --tt-purple-10: 73, 0, 102;
  --tt-deeppurple-1: 247, 237, 255;
  --tt-deeppurple-2: 226, 196, 255;
  --tt-deeppurple-3: 202, 156, 255;
  --tt-deeppurple-4: 176, 115, 255;
  --tt-deeppurple-5: 146, 74, 255;
  --tt-deeppurple-6: 114, 33, 255;
  --tt-deeppurple-7: 84, 17, 217;
  --tt-deeppurple-8: 57, 5, 179;
  --tt-deeppurple-9: 37, 0, 140;
  --tt-deeppurple-10: 24, 0, 102;
  --tt-blue-1: 232, 244, 255;
  --tt-blue-2: 186, 216, 247;
  --tt-blue-3: 138, 183, 235;
  --tt-blue-4: 95, 150, 222;
  --tt-blue-5: 56, 118, 209;
  --tt-blue-6: 21, 86, 197;
  --tt-blue-7: 9, 59, 158;
  --tt-blue-8: 1, 37, 120;
  --tt-blue-9: 0, 22, 82;
  --tt-blue-10: 0, 10, 43;
  --tt-cyan-1: 230, 255, 254;
  --tt-cyan-2: 164, 252, 251;
  --tt-cyan-3: 117, 238, 240;
  --tt-cyan-4: 75, 219, 227;
  --tt-cyan-5: 36, 199, 214;
  --tt-cyan-6: 3, 178, 201;
  --tt-cyan-7: 0, 139, 163;
  --tt-cyan-8: 0, 102, 125;
  --tt-cyan-9: 0, 68, 87;
  --tt-cyan-10: 0, 36, 48;
  --tt-green-1: 225, 245, 227;
  --tt-green-2: 176, 232, 182;
  --tt-green-3: 132, 219, 143;
  --tt-green-4: 91, 207, 110;
  --tt-green-5: 54, 194, 82;
  --tt-green-6: 21, 180, 59;
  --tt-green-7: 10, 143, 45;
  --tt-green-8: 2, 105, 33;
  --tt-green-9: 0, 66, 22;
  --tt-green-10: 0, 28, 10;
  --tt-lime-1: 255, 254, 240;
  --tt-lime-2: 255, 253, 199;
  --tt-lime-3: 245, 245, 152;
  --tt-lime-4: 228, 232, 107;
  --tt-lime-5: 209, 219, 66;
  --tt-lime-6: 188, 206, 29;
  --tt-lime-7: 148, 168, 15;
  --tt-lime-8: 109, 130, 5;
  --tt-lime-9: 73, 92, 0;
  --tt-lime-10: 41, 54, 0;
  --tt-yellow-1: 255, 255, 240;
  --tt-yellow-2: 255, 253, 209;
  --tt-yellow-3: 255, 249, 168;
  --tt-yellow-4: 255, 242, 128;
  --tt-yellow-5: 255, 233, 87;
  --tt-yellow-6: 249, 215, 44;
  --tt-yellow-7: 212, 175, 28;
  --tt-yellow-8: 173, 136, 14;
  --tt-yellow-9: 135, 100, 4;
  --tt-yellow-10: 97, 68, 2;
  --tt-amber-1: 250, 248, 225;
  --tt-amber-2: 237, 229, 166;
  --tt-amber-3: 224, 209, 121;
  --tt-amber-4: 212, 188, 80;
  --tt-amber-5: 199, 165, 44;
  --tt-amber-6: 187, 143, 11;
  --tt-amber-7: 148, 106, 1;
  --tt-amber-8: 110, 75, 0;
  --tt-amber-9: 71, 46, 0;
  --tt-amber-10: 33, 20, 0;
  --tt-orange-1: 255, 244, 230;
  --tt-orange-2: 255, 221, 181;
  --tt-orange-3: 255, 198, 140;
  --tt-orange-4: 255, 172, 99;
  --tt-orange-5: 250, 141, 57;
  --tt-orange-6: 238, 105, 17;
  --tt-orange-7: 199, 75, 4;
  --tt-orange-8: 161, 54, 0;
  --tt-orange-9: 122, 37, 0;
  --tt-orange-10: 84, 22, 0;
  --tt-deeporange-1: 255, 246, 237;
  --tt-deeporange-2: 255, 223, 196;
  --tt-deeporange-3: 255, 197, 156;
  --tt-deeporange-4: 255, 169, 115;
  --tt-deeporange-5: 255, 137, 74;
  --tt-deeporange-6: 255, 104, 34;
  --tt-deeporange-7: 217, 74, 17;
  --tt-deeporange-8: 179, 49, 5;
  --tt-deeporange-9: 140, 30, 0;
  --tt-deeporange-10: 102, 19, 0;
  --tt-grey-1: 247, 247, 247;
  --tt-grey-2: 243, 243, 243;
  --tt-grey-3: 238, 238, 238;
  --tt-grey-4: 224, 224, 224;
  --tt-grey-5: 189, 189, 189;
  --tt-grey-6: 158, 158, 158;
  --tt-grey-7: 117, 117, 117;
  --tt-grey-8: 97, 97, 97;
  --tt-grey-9: 66, 66, 66;
  --tt-grey-10: 33, 33, 33;
  --tt-primary-1: var(--tt-blue-1);
  --tt-primary-2: var(--tt-blue-2);
  --tt-primary-3: var(--tt-blue-3);
  --tt-primary-4: var(--tt-blue-4);
  --tt-primary-5: var(--tt-blue-5);
  --tt-primary-6: var(--tt-blue-6);
  --tt-primary-7: var(--tt-blue-7);
  --tt-primary-8: var(--tt-blue-8);
  --tt-primary-9: var(--tt-blue-9);
  --tt-primary-10: var(--tt-blue-10);
  --tt-color-foreground-1: rgb(var(--tt-grey-10));
  --tt-color-foreground-2: rgb(var(--tt-grey-9));
  --tt-color-foreground-3: rgb(var(--tt-grey-8));
  --tt-color-foreground-4: rgb(var(--tt-grey-7));
  --tt-color-foreground-tooltip: #fff;
  --tt-color-fill-1: rgb(var(--tt-grey-1));
  --tt-color-fill-2: rgb(var(--tt-grey-2));
  --tt-color-fill-3: rgb(var(--tt-grey-3));
  --tt-color-fill-4: rgb(var(--tt-grey-4));
  --tt-color-background-1: #fff;
  --tt-color-background-2: #fff;
  --tt-color-background-3: #fff;
  --tt-color-background-4: #fff;
  --tt-color-background-5: #fff;
  --tt-color-background-popup: #fff;
  --tt-color-background-tooltip: #414141;
  --tt-color-border-1: rgba(0, 0, 0, 0.2);
  --tt-color-border-2: rgba(0, 0, 0, 0.14);
  --tt-color-border-3: rgba(0, 0, 0, 0.1);
  --tt-color-border-4: rgba(0, 0, 0, 0.08);
  --tt-color-primary-1: rgb(var(--tt-primary-1));
  --tt-color-primary-2: rgb(var(--tt-primary-2));
  --tt-color-primary-3: rgb(var(--tt-primary-3));
  --tt-color-primary-4: rgb(var(--tt-primary-4));
  --tt-color-secondary-1: rgb(var(--tt-grey-2));
  --tt-color-secondary-2: rgb(var(--tt-grey-4));
  --tt-color-secondary-3: rgb(var(--tt-grey-5));
  --tt-color-secondary-4: rgb(var(--tt-grey-6));
  --tt-color-success-1: rgb(var(--tt-green-1));
  --tt-color-success-2: rgb(var(--tt-green-2));
  --tt-color-success-3: rgb(var(--tt-green-3));
  --tt-color-success-4: rgb(var(--tt-green-4));
  --tt-color-error-1: rgb(var(--tt-red-1));
  --tt-color-error-2: rgb(var(--tt-red-2));
  --tt-color-error-3: rgb(var(--tt-red-3));
  --tt-color-error-4: rgb(var(--tt-red-4));
  --tt-color-warning-1: rgb(var(--tt-orange-1));
  --tt-color-warning-2: rgb(var(--tt-orange-2));
  --tt-color-warning-3: rgb(var(--tt-orange-3));
  --tt-color-warning-4: rgb(var(--tt-orange-4));
  --tt-color-yellow-1: rgb(var(--tt-yellow-1));
  --tt-color-yellow-2: rgb(var(--tt-yellow-2));
  --tt-color-yellow-3: rgb(var(--tt-yellow-3));
  --tt-color-yellow-4: rgb(var(--tt-yellow-4));
  --tt-color-amber-1: rgb(var(--tt-amber-1));
  --tt-color-amber-2: rgb(var(--tt-amber-2));
  --tt-color-amber-3: rgb(var(--tt-amber-3));
  --tt-color-amber-4: rgb(var(--tt-amber-4));
  --tt-color-mask-bg: rgba(29, 33, 41, 0.6);
}
[data-color-mode="dark"][data-dark-theme*="dark"] {
  color-scheme: dark;
  --tt-red-1: 99, 0, 13;
  --tt-red-2: 138, 0, 14;
  --tt-red-3: 176, 4, 15;
  --tt-red-4: 214, 15, 22;
  --tt-red-5: 253, 30, 30;
  --tt-red-6: 255, 78, 71;
  --tt-red-7: 255, 122, 112;
  --tt-red-8: 255, 163, 153;
  --tt-red-9: 255, 202, 194;
  --tt-red-10: 255, 238, 235;
  --tt-pink-1: 102, 0, 48;
  --tt-pink-2: 140, 0, 61;
  --tt-pink-3: 179, 4, 74;
  --tt-pink-4: 217, 15, 89;
  --tt-pink-5: 255, 31, 106;
  --tt-pink-6: 255, 71, 126;
  --tt-pink-7: 255, 112, 150;
  --tt-pink-8: 255, 153, 177;
  --tt-pink-9: 255, 194, 206;
  --tt-pink-10: 255, 235, 238;
  --tt-purple-1: 73, 0, 102;
  --tt-purple-2: 105, 0, 140;
  --tt-purple-3: 140, 2, 179;
  --tt-purple-4: 179, 13, 217;
  --tt-purple-5: 221, 29, 255;
  --tt-purple-6: 233, 69, 255;
  --tt-purple-7: 243, 110, 255;
  --tt-purple-8: 250, 150, 255;
  --tt-purple-9: 254, 191, 255;
  --tt-purple-10: 255, 232, 255;
  --tt-deeppurple-1: 24, 0, 102;
  --tt-deeppurple-2: 37, 0, 140;
  --tt-deeppurple-3: 57, 5, 179;
  --tt-deeppurple-4: 84, 17, 217;
  --tt-deeppurple-5: 114, 33, 255;
  --tt-deeppurple-6: 146, 74, 255;
  --tt-deeppurple-7: 176, 115, 255;
  --tt-deeppurple-8: 202, 156, 255;
  --tt-deeppurple-9: 226, 196, 255;
  --tt-deeppurple-10: 247, 237, 255;
  --tt-blue-1: 0, 10, 43;
  --tt-blue-2: 0, 22, 82;
  --tt-blue-3: 1, 37, 120;
  --tt-blue-4: 9, 59, 158;
  --tt-blue-5: 21, 86, 197;
  --tt-blue-6: 56, 118, 209;
  --tt-blue-7: 95, 150, 222;
  --tt-blue-8: 138, 183, 235;
  --tt-blue-9: 186, 216, 247;
  --tt-blue-10: 232, 244, 255;
  --tt-cyan-1: 0, 36, 48;
  --tt-cyan-2: 0, 68, 87;
  --tt-cyan-3: 0, 102, 125;
  --tt-cyan-4: 0, 139, 163;
  --tt-cyan-5: 3, 178, 201;
  --tt-cyan-6: 36, 199, 214;
  --tt-cyan-7: 75, 219, 227;
  --tt-cyan-8: 117, 238, 240;
  --tt-cyan-9: 164, 252, 251;
  --tt-cyan-10: 230, 255, 254;
  --tt-green-1: 0, 28, 10;
  --tt-green-2: 0, 66, 22;
  --tt-green-3: 2, 105, 33;
  --tt-green-4: 10, 143, 45;
  --tt-green-5: 21, 180, 59;
  --tt-green-6: 54, 194, 82;
  --tt-green-7: 91, 207, 110;
  --tt-green-8: 132, 219, 143;
  --tt-green-9: 176, 232, 182;
  --tt-green-10: 225, 245, 227;
  --tt-lime-1: 41, 54, 0;
  --tt-lime-2: 73, 92, 0;
  --tt-lime-3: 109, 130, 5;
  --tt-lime-4: 148, 168, 15;
  --tt-lime-5: 188, 206, 29;
  --tt-lime-6: 209, 219, 66;
  --tt-lime-7: 228, 232, 107;
  --tt-lime-8: 245, 245, 152;
  --tt-lime-9: 255, 253, 199;
  --tt-lime-10: 255, 254, 240;
  --tt-yellow-1: 97, 68, 2;
  --tt-yellow-2: 135, 100, 4;
  --tt-yellow-3: 173, 136, 14;
  --tt-yellow-4: 212, 175, 28;
  --tt-yellow-5: 249, 215, 44;
  --tt-yellow-6: 255, 233, 87;
  --tt-yellow-7: 255, 242, 128;
  --tt-yellow-8: 255, 249, 168;
  --tt-yellow-9: 255, 253, 209;
  --tt-yellow-10: 255, 255, 240;
  --tt-amber-1: 33, 20, 0;
  --tt-amber-2: 71, 46, 0;
  --tt-amber-3: 110, 75, 0;
  --tt-amber-4: 148, 106, 1;
  --tt-amber-5: 187, 143, 11;
  --tt-amber-6: 199, 165, 44;
  --tt-amber-7: 212, 188, 80;
  --tt-amber-8: 224, 209, 121;
  --tt-amber-9: 237, 229, 166;
  --tt-amber-10: 250, 248, 225;
  --tt-orange-1: 84, 22, 0;
  --tt-orange-2: 122, 37, 0;
  --tt-orange-3: 161, 54, 0;
  --tt-orange-4: 199, 75, 4;
  --tt-orange-5: 238, 105, 17;
  --tt-orange-6: 250, 141, 57;
  --tt-orange-7: 255, 172, 99;
  --tt-orange-8: 255, 198, 140;
  --tt-orange-9: 255, 221, 181;
  --tt-orange-10: 255, 244, 230;
  --tt-deeporange-1: 102, 19, 0;
  --tt-deeporange-2: 140, 30, 0;
  --tt-deeporange-3: 179, 49, 5;
  --tt-deeporange-4: 217, 74, 17;
  --tt-deeporange-5: 255, 104, 34;
  --tt-deeporange-6: 255, 137, 74;
  --tt-deeporange-7: 255, 169, 115;
  --tt-deeporange-8: 255, 197, 156;
  --tt-deeporange-9: 255, 223, 196;
  --tt-deeporange-10: 255, 246, 237;
  --tt-grey-1: 33, 33, 33;
  --tt-grey-2: 66, 66, 66;
  --tt-grey-3: 97, 97, 97;
  --tt-grey-4: 117, 117, 117;
  --tt-grey-5: 158, 158, 158;
  --tt-grey-6: 189, 189, 189;
  --tt-grey-7: 224, 224, 224;
  --tt-grey-8: 238, 238, 238;
  --tt-grey-9: 243, 243, 243;
  --tt-grey-10: 247, 247, 247;
  --tt-primary-1: var(--tt-blue-1);
  --tt-primary-2: var(--tt-blue-2);
  --tt-primary-3: var(--tt-blue-3);
  --tt-primary-4: var(--tt-blue-4);
  --tt-primary-5: var(--tt-blue-5);
  --tt-primary-6: var(--tt-blue-6);
  --tt-primary-7: var(--tt-blue-7);
  --tt-primary-8: var(--tt-blue-8);
  --tt-primary-9: var(--tt-blue-9);
  --tt-primary-10: var(--tt-blue-10);
  --tt-color-foreground-1: #e8e8e8;
  --tt-color-foreground-2: #bbbbbb;
  --tt-color-foreground-3: #8b8b8b;
  --tt-color-foreground-4: #5d5d5d;
  --tt-color-foreground-tooltip: #fff;
  --tt-color-fill-1: rgba(255, 255, 255, 0.04);
  --tt-color-fill-2: rgba(255, 255, 255, 0.08);
  --tt-color-fill-3: rgba(255, 255, 255, 0.12);
  --tt-color-fill-4: rgba(255, 255, 255, 0.16);
  --tt-color-background-1: #161616;
  --tt-color-background-2: #232323;
  --tt-color-background-3: #2a2a2a;
  --tt-color-background-4: #313131;
  --tt-color-background-5: #373737;
  --tt-color-background-popup: #373737;
  --tt-color-background-tooltip: #616161;
  --tt-color-border-1: #4d4d4d;
  --tt-color-border-2: #464646;
  --tt-color-border-3: #414141;
  --tt-color-border-4: #353535;
  --tt-color-primary-1: rgba(var(--tt-primary-6), 0.3);
  --tt-color-primary-2: rgba(var(--tt-primary-6), 0.4);
  --tt-color-primary-3: rgba(var(--tt-primary-6), 0.5);
  --tt-color-primary-4: rgba(var(--tt-primary-6), 0.6);
  --tt-color-secondary-1: rgba(255, 255, 255, 0.15);
  --tt-color-secondary-2: rgba(255, 255, 255, 0.25);
  --tt-color-secondary-3: rgba(255, 255, 255, 0.35);
  --tt-color-secondary-4: rgba(255, 255, 255, 0.45);
  --tt-color-success-1: rgba(var(--tt-green-6), 0.25);
  --tt-color-success-2: rgba(var(--tt-green-6), 0.35);
  --tt-color-success-3: rgba(var(--tt-green-6), 0.45);
  --tt-color-success-4: rgba(var(--tt-green-6), 0.55);
  --tt-color-error-1: rgba(var(--tt-red-6), 0.2);
  --tt-color-error-2: rgba(var(--tt-red-6), 0.3);
  --tt-color-error-3: rgba(var(--tt-red-6), 0.4);
  --tt-color-error-4: rgba(var(--tt-red-6), 0.5);
  --tt-color-warning-1: rgba(var(--tt-orange-6), 0.2);
  --tt-color-warning-2: rgba(var(--tt-orange-6), 0.3);
  --tt-color-warning-3: rgba(var(--tt-orange-6), 0.4);
  --tt-color-warning-4: rgba(var(--tt-orange-6), 0.5);
  --tt-color-yellow-1: rgba(var(--tt-yellow-6), 0.2);
  --tt-color-yellow-2: rgba(var(--tt-yellow-6), 0.3);
  --tt-color-yellow-3: rgba(var(--tt-yellow-6), 0.4);
  --tt-color-yellow-4: rgba(var(--tt-yellow-6), 0.5);
  --tt-color-amber-1: rgba(var(--tt-amber-6), 0.2);
  --tt-color-amber-2: rgba(var(--tt-amber-6), 0.3);
  --tt-color-amber-3: rgba(var(--tt-amber-6), 0.4);
  --tt-color-amber-4: rgba(var(--tt-amber-6), 0.5);
  --tt-color-mask-bg: rgba(23, 23, 26, 0.6);
}
@media (prefers-color-scheme: light) {
  [data-color-mode="auto"][data-light-theme*="light"] {
    color-scheme: light;
    --tt-red-1: 255, 238, 235;
    --tt-red-2: 255, 202, 194;
    --tt-red-3: 255, 163, 153;
    --tt-red-4: 255, 122, 112;
    --tt-red-5: 255, 78, 71;
    --tt-red-6: 253, 30, 30;
    --tt-red-7: 214, 15, 22;
    --tt-red-8: 176, 4, 15;
    --tt-red-9: 138, 0, 14;
    --tt-red-10: 99, 0, 13;
    --tt-pink-1: 255, 235, 238;
    --tt-pink-2: 255, 194, 206;
    --tt-pink-3: 255, 153, 177;
    --tt-pink-4: 255, 112, 150;
    --tt-pink-5: 255, 71, 126;
    --tt-pink-6: 255, 31, 106;
    --tt-pink-7: 217, 15, 89;
    --tt-pink-8: 179, 4, 74;
    --tt-pink-9: 140, 0, 61;
    --tt-pink-10: 102, 0, 48;
    --tt-purple-1: 255, 232, 255;
    --tt-purple-2: 254, 191, 255;
    --tt-purple-3: 250, 150, 255;
    --tt-purple-4: 243, 110, 255;
    --tt-purple-5: 233, 69, 255;
    --tt-purple-6: 221, 29, 255;
    --tt-purple-7: 179, 13, 217;
    --tt-purple-8: 140, 2, 179;
    --tt-purple-9: 105, 0, 140;
    --tt-purple-10: 73, 0, 102;
    --tt-deeppurple-1: 247, 237, 255;
    --tt-deeppurple-2: 226, 196, 255;
    --tt-deeppurple-3: 202, 156, 255;
    --tt-deeppurple-4: 176, 115, 255;
    --tt-deeppurple-5: 146, 74, 255;
    --tt-deeppurple-6: 114, 33, 255;
    --tt-deeppurple-7: 84, 17, 217;
    --tt-deeppurple-8: 57, 5, 179;
    --tt-deeppurple-9: 37, 0, 140;
    --tt-deeppurple-10: 24, 0, 102;
    --tt-blue-1: 232, 244, 255;
    --tt-blue-2: 186, 216, 247;
    --tt-blue-3: 138, 183, 235;
    --tt-blue-4: 95, 150, 222;
    --tt-blue-5: 56, 118, 209;
    --tt-blue-6: 21, 86, 197;
    --tt-blue-7: 9, 59, 158;
    --tt-blue-8: 1, 37, 120;
    --tt-blue-9: 0, 22, 82;
    --tt-blue-10: 0, 10, 43;
    --tt-cyan-1: 230, 255, 254;
    --tt-cyan-2: 164, 252, 251;
    --tt-cyan-3: 117, 238, 240;
    --tt-cyan-4: 75, 219, 227;
    --tt-cyan-5: 36, 199, 214;
    --tt-cyan-6: 3, 178, 201;
    --tt-cyan-7: 0, 139, 163;
    --tt-cyan-8: 0, 102, 125;
    --tt-cyan-9: 0, 68, 87;
    --tt-cyan-10: 0, 36, 48;
    --tt-green-1: 225, 245, 227;
    --tt-green-2: 176, 232, 182;
    --tt-green-3: 132, 219, 143;
    --tt-green-4: 91, 207, 110;
    --tt-green-5: 54, 194, 82;
    --tt-green-6: 21, 180, 59;
    --tt-green-7: 10, 143, 45;
    --tt-green-8: 2, 105, 33;
    --tt-green-9: 0, 66, 22;
    --tt-green-10: 0, 28, 10;
    --tt-lime-1: 255, 254, 240;
    --tt-lime-2: 255, 253, 199;
    --tt-lime-3: 245, 245, 152;
    --tt-lime-4: 228, 232, 107;
    --tt-lime-5: 209, 219, 66;
    --tt-lime-6: 188, 206, 29;
    --tt-lime-7: 148, 168, 15;
    --tt-lime-8: 109, 130, 5;
    --tt-lime-9: 73, 92, 0;
    --tt-lime-10: 41, 54, 0;
    --tt-yellow-1: 255, 255, 240;
    --tt-yellow-2: 255, 253, 209;
    --tt-yellow-3: 255, 249, 168;
    --tt-yellow-4: 255, 242, 128;
    --tt-yellow-5: 255, 233, 87;
    --tt-yellow-6: 249, 215, 44;
    --tt-yellow-7: 212, 175, 28;
    --tt-yellow-8: 173, 136, 14;
    --tt-yellow-9: 135, 100, 4;
    --tt-yellow-10: 97, 68, 2;
    --tt-amber-1: 250, 248, 225;
    --tt-amber-2: 237, 229, 166;
    --tt-amber-3: 224, 209, 121;
    --tt-amber-4: 212, 188, 80;
    --tt-amber-5: 199, 165, 44;
    --tt-amber-6: 187, 143, 11;
    --tt-amber-7: 148, 106, 1;
    --tt-amber-8: 110, 75, 0;
    --tt-amber-9: 71, 46, 0;
    --tt-amber-10: 33, 20, 0;
    --tt-orange-1: 255, 244, 230;
    --tt-orange-2: 255, 221, 181;
    --tt-orange-3: 255, 198, 140;
    --tt-orange-4: 255, 172, 99;
    --tt-orange-5: 250, 141, 57;
    --tt-orange-6: 238, 105, 17;
    --tt-orange-7: 199, 75, 4;
    --tt-orange-8: 161, 54, 0;
    --tt-orange-9: 122, 37, 0;
    --tt-orange-10: 84, 22, 0;
    --tt-deeporange-1: 255, 246, 237;
    --tt-deeporange-2: 255, 223, 196;
    --tt-deeporange-3: 255, 197, 156;
    --tt-deeporange-4: 255, 169, 115;
    --tt-deeporange-5: 255, 137, 74;
    --tt-deeporange-6: 255, 104, 34;
    --tt-deeporange-7: 217, 74, 17;
    --tt-deeporange-8: 179, 49, 5;
    --tt-deeporange-9: 140, 30, 0;
    --tt-deeporange-10: 102, 19, 0;
    --tt-grey-1: 247, 247, 247;
    --tt-grey-2: 243, 243, 243;
    --tt-grey-3: 238, 238, 238;
    --tt-grey-4: 224, 224, 224;
    --tt-grey-5: 189, 189, 189;
    --tt-grey-6: 158, 158, 158;
    --tt-grey-7: 117, 117, 117;
    --tt-grey-8: 97, 97, 97;
    --tt-grey-9: 66, 66, 66;
    --tt-grey-10: 33, 33, 33;
    --tt-primary-1: var(--tt-blue-1);
    --tt-primary-2: var(--tt-blue-2);
    --tt-primary-3: var(--tt-blue-3);
    --tt-primary-4: var(--tt-blue-4);
    --tt-primary-5: var(--tt-blue-5);
    --tt-primary-6: var(--tt-blue-6);
    --tt-primary-7: var(--tt-blue-7);
    --tt-primary-8: var(--tt-blue-8);
    --tt-primary-9: var(--tt-blue-9);
    --tt-primary-10: var(--tt-blue-10);
    --tt-color-foreground-1: rgb(var(--tt-grey-10));
    --tt-color-foreground-2: rgb(var(--tt-grey-9));
    --tt-color-foreground-3: rgb(var(--tt-grey-8));
    --tt-color-foreground-4: rgb(var(--tt-grey-7));
    --tt-color-foreground-tooltip: #fff;
    --tt-color-fill-1: rgb(var(--tt-grey-1));
    --tt-color-fill-2: rgb(var(--tt-grey-2));
    --tt-color-fill-3: rgb(var(--tt-grey-3));
    --tt-color-fill-4: rgb(var(--tt-grey-4));
    --tt-color-background-1: #fff;
    --tt-color-background-2: #fff;
    --tt-color-background-3: #fff;
    --tt-color-background-4: #fff;
    --tt-color-background-5: #fff;
    --tt-color-background-popup: #fff;
    --tt-color-background-tooltip: #414141;
    --tt-color-border-1: rgba(0, 0, 0, 0.2);
    --tt-color-border-2: rgba(0, 0, 0, 0.14);
    --tt-color-border-3: rgba(0, 0, 0, 0.1);
    --tt-color-border-4: rgba(0, 0, 0, 0.08);
    --tt-color-primary-1: rgb(var(--tt-primary-1));
    --tt-color-primary-2: rgb(var(--tt-primary-2));
    --tt-color-primary-3: rgb(var(--tt-primary-3));
    --tt-color-primary-4: rgb(var(--tt-primary-4));
    --tt-color-secondary-1: rgb(var(--tt-grey-2));
    --tt-color-secondary-2: rgb(var(--tt-grey-4));
    --tt-color-secondary-3: rgb(var(--tt-grey-5));
    --tt-color-secondary-4: rgb(var(--tt-grey-6));
    --tt-color-success-1: rgb(var(--tt-green-1));
    --tt-color-success-2: rgb(var(--tt-green-2));
    --tt-color-success-3: rgb(var(--tt-green-3));
    --tt-color-success-4: rgb(var(--tt-green-4));
    --tt-color-error-1: rgb(var(--tt-red-1));
    --tt-color-error-2: rgb(var(--tt-red-2));
    --tt-color-error-3: rgb(var(--tt-red-3));
    --tt-color-error-4: rgb(var(--tt-red-4));
    --tt-color-warning-1: rgb(var(--tt-orange-1));
    --tt-color-warning-2: rgb(var(--tt-orange-2));
    --tt-color-warning-3: rgb(var(--tt-orange-3));
    --tt-color-warning-4: rgb(var(--tt-orange-4));
    --tt-color-yellow-1: rgb(var(--tt-yellow-1));
    --tt-color-yellow-2: rgb(var(--tt-yellow-2));
    --tt-color-yellow-3: rgb(var(--tt-yellow-3));
    --tt-color-yellow-4: rgb(var(--tt-yellow-4));
    --tt-color-amber-1: rgb(var(--tt-amber-1));
    --tt-color-amber-2: rgb(var(--tt-amber-2));
    --tt-color-amber-3: rgb(var(--tt-amber-3));
    --tt-color-amber-4: rgb(var(--tt-amber-4));
    --tt-color-mask-bg: rgba(29, 33, 41, 0.6);
  }
}
@media (prefers-color-scheme: dark) {
  [data-color-mode="auto"][data-dark-theme*="dark"] {
    color-scheme: dark;
    --tt-red-1: 99, 0, 13;
    --tt-red-2: 138, 0, 14;
    --tt-red-3: 176, 4, 15;
    --tt-red-4: 214, 15, 22;
    --tt-red-5: 253, 30, 30;
    --tt-red-6: 255, 78, 71;
    --tt-red-7: 255, 122, 112;
    --tt-red-8: 255, 163, 153;
    --tt-red-9: 255, 202, 194;
    --tt-red-10: 255, 238, 235;
    --tt-pink-1: 102, 0, 48;
    --tt-pink-2: 140, 0, 61;
    --tt-pink-3: 179, 4, 74;
    --tt-pink-4: 217, 15, 89;
    --tt-pink-5: 255, 31, 106;
    --tt-pink-6: 255, 71, 126;
    --tt-pink-7: 255, 112, 150;
    --tt-pink-8: 255, 153, 177;
    --tt-pink-9: 255, 194, 206;
    --tt-pink-10: 255, 235, 238;
    --tt-purple-1: 73, 0, 102;
    --tt-purple-2: 105, 0, 140;
    --tt-purple-3: 140, 2, 179;
    --tt-purple-4: 179, 13, 217;
    --tt-purple-5: 221, 29, 255;
    --tt-purple-6: 233, 69, 255;
    --tt-purple-7: 243, 110, 255;
    --tt-purple-8: 250, 150, 255;
    --tt-purple-9: 254, 191, 255;
    --tt-purple-10: 255, 232, 255;
    --tt-deeppurple-1: 24, 0, 102;
    --tt-deeppurple-2: 37, 0, 140;
    --tt-deeppurple-3: 57, 5, 179;
    --tt-deeppurple-4: 84, 17, 217;
    --tt-deeppurple-5: 114, 33, 255;
    --tt-deeppurple-6: 146, 74, 255;
    --tt-deeppurple-7: 176, 115, 255;
    --tt-deeppurple-8: 202, 156, 255;
    --tt-deeppurple-9: 226, 196, 255;
    --tt-deeppurple-10: 247, 237, 255;
    --tt-blue-1: 0, 10, 43;
    --tt-blue-2: 0, 22, 82;
    --tt-blue-3: 1, 37, 120;
    --tt-blue-4: 9, 59, 158;
    --tt-blue-5: 21, 86, 197;
    --tt-blue-6: 56, 118, 209;
    --tt-blue-7: 95, 150, 222;
    --tt-blue-8: 138, 183, 235;
    --tt-blue-9: 186, 216, 247;
    --tt-blue-10: 232, 244, 255;
    --tt-cyan-1: 0, 36, 48;
    --tt-cyan-2: 0, 68, 87;
    --tt-cyan-3: 0, 102, 125;
    --tt-cyan-4: 0, 139, 163;
    --tt-cyan-5: 3, 178, 201;
    --tt-cyan-6: 36, 199, 214;
    --tt-cyan-7: 75, 219, 227;
    --tt-cyan-8: 117, 238, 240;
    --tt-cyan-9: 164, 252, 251;
    --tt-cyan-10: 230, 255, 254;
    --tt-green-1: 0, 28, 10;
    --tt-green-2: 0, 66, 22;
    --tt-green-3: 2, 105, 33;
    --tt-green-4: 10, 143, 45;
    --tt-green-5: 21, 180, 59;
    --tt-green-6: 54, 194, 82;
    --tt-green-7: 91, 207, 110;
    --tt-green-8: 132, 219, 143;
    --tt-green-9: 176, 232, 182;
    --tt-green-10: 225, 245, 227;
    --tt-lime-1: 41, 54, 0;
    --tt-lime-2: 73, 92, 0;
    --tt-lime-3: 109, 130, 5;
    --tt-lime-4: 148, 168, 15;
    --tt-lime-5: 188, 206, 29;
    --tt-lime-6: 209, 219, 66;
    --tt-lime-7: 228, 232, 107;
    --tt-lime-8: 245, 245, 152;
    --tt-lime-9: 255, 253, 199;
    --tt-lime-10: 255, 254, 240;
    --tt-yellow-1: 97, 68, 2;
    --tt-yellow-2: 135, 100, 4;
    --tt-yellow-3: 173, 136, 14;
    --tt-yellow-4: 212, 175, 28;
    --tt-yellow-5: 249, 215, 44;
    --tt-yellow-6: 255, 233, 87;
    --tt-yellow-7: 255, 242, 128;
    --tt-yellow-8: 255, 249, 168;
    --tt-yellow-9: 255, 253, 209;
    --tt-yellow-10: 255, 255, 240;
    --tt-amber-1: 33, 20, 0;
    --tt-amber-2: 71, 46, 0;
    --tt-amber-3: 110, 75, 0;
    --tt-amber-4: 148, 106, 1;
    --tt-amber-5: 187, 143, 11;
    --tt-amber-6: 199, 165, 44;
    --tt-amber-7: 212, 188, 80;
    --tt-amber-8: 224, 209, 121;
    --tt-amber-9: 237, 229, 166;
    --tt-amber-10: 250, 248, 225;
    --tt-orange-1: 84, 22, 0;
    --tt-orange-2: 122, 37, 0;
    --tt-orange-3: 161, 54, 0;
    --tt-orange-4: 199, 75, 4;
    --tt-orange-5: 238, 105, 17;
    --tt-orange-6: 250, 141, 57;
    --tt-orange-7: 255, 172, 99;
    --tt-orange-8: 255, 198, 140;
    --tt-orange-9: 255, 221, 181;
    --tt-orange-10: 255, 244, 230;
    --tt-deeporange-1: 102, 19, 0;
    --tt-deeporange-2: 140, 30, 0;
    --tt-deeporange-3: 179, 49, 5;
    --tt-deeporange-4: 217, 74, 17;
    --tt-deeporange-5: 255, 104, 34;
    --tt-deeporange-6: 255, 137, 74;
    --tt-deeporange-7: 255, 169, 115;
    --tt-deeporange-8: 255, 197, 156;
    --tt-deeporange-9: 255, 223, 196;
    --tt-deeporange-10: 255, 246, 237;
    --tt-grey-1: 33, 33, 33;
    --tt-grey-2: 66, 66, 66;
    --tt-grey-3: 97, 97, 97;
    --tt-grey-4: 117, 117, 117;
    --tt-grey-5: 158, 158, 158;
    --tt-grey-6: 189, 189, 189;
    --tt-grey-7: 224, 224, 224;
    --tt-grey-8: 238, 238, 238;
    --tt-grey-9: 243, 243, 243;
    --tt-grey-10: 247, 247, 247;
    --tt-primary-1: var(--tt-blue-1);
    --tt-primary-2: var(--tt-blue-2);
    --tt-primary-3: var(--tt-blue-3);
    --tt-primary-4: var(--tt-blue-4);
    --tt-primary-5: var(--tt-blue-5);
    --tt-primary-6: var(--tt-blue-6);
    --tt-primary-7: var(--tt-blue-7);
    --tt-primary-8: var(--tt-blue-8);
    --tt-primary-9: var(--tt-blue-9);
    --tt-primary-10: var(--tt-blue-10);
    --tt-color-foreground-1: #e8e8e8;
    --tt-color-foreground-2: #bbbbbb;
    --tt-color-foreground-3: #8b8b8b;
    --tt-color-foreground-4: #5d5d5d;
    --tt-color-foreground-tooltip: #fff;
    --tt-color-fill-1: rgba(255, 255, 255, 0.04);
    --tt-color-fill-2: rgba(255, 255, 255, 0.08);
    --tt-color-fill-3: rgba(255, 255, 255, 0.12);
    --tt-color-fill-4: rgba(255, 255, 255, 0.16);
    --tt-color-background-1: #161616;
    --tt-color-background-2: #232323;
    --tt-color-background-3: #2a2a2a;
    --tt-color-background-4: #313131;
    --tt-color-background-5: #373737;
    --tt-color-background-popup: #373737;
    --tt-color-background-tooltip: #616161;
    --tt-color-border-1: #4d4d4d;
    --tt-color-border-2: #464646;
    --tt-color-border-3: #414141;
    --tt-color-border-4: #353535;
    --tt-color-primary-1: rgba(var(--tt-primary-6), 0.3);
    --tt-color-primary-2: rgba(var(--tt-primary-6), 0.4);
    --tt-color-primary-3: rgba(var(--tt-primary-6), 0.5);
    --tt-color-primary-4: rgba(var(--tt-primary-6), 0.6);
    --tt-color-secondary-1: rgba(255, 255, 255, 0.15);
    --tt-color-secondary-2: rgba(255, 255, 255, 0.25);
    --tt-color-secondary-3: rgba(255, 255, 255, 0.35);
    --tt-color-secondary-4: rgba(255, 255, 255, 0.45);
    --tt-color-success-1: rgba(var(--tt-green-6), 0.25);
    --tt-color-success-2: rgba(var(--tt-green-6), 0.35);
    --tt-color-success-3: rgba(var(--tt-green-6), 0.45);
    --tt-color-success-4: rgba(var(--tt-green-6), 0.55);
    --tt-color-error-1: rgba(var(--tt-red-6), 0.2);
    --tt-color-error-2: rgba(var(--tt-red-6), 0.3);
    --tt-color-error-3: rgba(var(--tt-red-6), 0.4);
    --tt-color-error-4: rgba(var(--tt-red-6), 0.5);
    --tt-color-warning-1: rgba(var(--tt-orange-6), 0.2);
    --tt-color-warning-2: rgba(var(--tt-orange-6), 0.3);
    --tt-color-warning-3: rgba(var(--tt-orange-6), 0.4);
    --tt-color-warning-4: rgba(var(--tt-orange-6), 0.5);
    --tt-color-yellow-1: rgba(var(--tt-yellow-6), 0.2);
    --tt-color-yellow-2: rgba(var(--tt-yellow-6), 0.3);
    --tt-color-yellow-3: rgba(var(--tt-yellow-6), 0.4);
    --tt-color-yellow-4: rgba(var(--tt-yellow-6), 0.5);
    --tt-color-amber-1: rgba(var(--tt-amber-6), 0.2);
    --tt-color-amber-2: rgba(var(--tt-amber-6), 0.3);
    --tt-color-amber-3: rgba(var(--tt-amber-6), 0.4);
    --tt-color-amber-4: rgba(var(--tt-amber-6), 0.5);
    --tt-color-mask-bg: rgba(23, 23, 26, 0.6);
  }
}



.grid-examples {
  padding: 8px;
}
  .grid-examples .tui-col > div {
      padding: 16px;
      background: var(--color-primary-4);
      border-radius: 4px;
    }

