.teatak-button {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 16px;
  height: 36px;
  outline: none;
  border: none;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #4e4e4e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.teatak-button svg {
  font-size: 20px;
  vertical-align: middle;
}
.teatak-button.teatak-button-size-large {
  border-radius: 6px;
  padding: 0 24px;
  height: 42px;
  font-size: 16px;
}
.teatak-button.teatak-button-size-large svg {
  font-size: 24px;
}
.teatak-button.teatak-button-size-large .start-icon {
  margin-right: 4px;
}
.teatak-button.teatak-button-size-large .start-icon svg {
  font-size: 24px;
}
.teatak-button.teatak-button-size-large .end-icon {
  margin-left: 4px;
}
.teatak-button.teatak-button-size-large .end-icon svg {
  font-size: 24px;
}
.teatak-button.teatak-button-size-small {
  border-radius: 2px;
  padding: 0 12px;
  height: 28px;
  font-size: 12px;
}
.teatak-button.teatak-button-size-small svg {
  font-size: 16px;
}
.teatak-button.teatak-button-size-small .start-icon {
  margin-right: 4px;
}
.teatak-button.teatak-button-size-small .start-icon svg {
  font-size: 16px;
}
.teatak-button.teatak-button-size-small .end-icon {
  margin-left: 4px;
}
.teatak-button.teatak-button-size-small .end-icon svg {
  font-size: 16px;
}
.teatak-button.teatak-button-rounded {
  border-radius: 18px;
  padding: 8px;
}
.teatak-button.teatak-button-rounded.teatak-button-size-large {
  border-radius: 21px;
  padding: 9px;
}
.teatak-button.teatak-button-rounded.teatak-button-size-small {
  border-radius: 14px;
  padding: 6px;
}
.teatak-button .start-icon {
  margin-right: 4px;
}
.teatak-button .start-icon svg {
  font-size: 20px;
  vertical-align: middle;
}
.teatak-button .end-icon {
  margin-left: 4px;
}
.teatak-button .end-icon svg {
  font-size: 20px;
  vertical-align: middle;
}
.teatak-button-default {
  background-color: transparent;
  color: #4e4e4e;
}
.teatak-button-default:hover {
  background-color: #f7f7f7;
}
.teatak-button-default:active,
.teatak-button-default.clicked {
  background-color: #eaeaea;
}
.teatak-button-default[disabled] {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-default[disabled]:hover,
.teatak-button-default[disabled]:focus,
.teatak-button-default[disabled]:active {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-default.teatak-button-color-primary {
  color: #1974dc;
}
.teatak-button-default.teatak-button-color-primary:hover {
  background-color: #f6fafe;
}
.teatak-button-default.teatak-button-color-primary:active,
.teatak-button-default.teatak-button-color-primary.clicked {
  background-color: #dfecfb;
}
.teatak-button-default.teatak-button-color-danger {
  color: #dc1919;
}
.teatak-button-default.teatak-button-color-danger:hover {
  background-color: #fef6f6;
}
.teatak-button-default.teatak-button-color-danger:active,
.teatak-button-default.teatak-button-color-danger.clicked {
  background-color: #fbdfdf;
}
.teatak-button-outlined {
  background-color: transparent;
  color: #4e4e4e;
  border: solid 1px #777777;
  padding: 0 15px;
}
.teatak-button-outlined:hover {
  background-color: #f7f7f7;
  border: solid 1px #636363;
}
.teatak-button-outlined:active,
.teatak-button-outlined.clicked {
  background-color: #eaeaea;
  border: solid 1px #4e4e4e;
}
.teatak-button-outlined[disabled] {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #A6A6A6;
}
.teatak-button-outlined[disabled]:hover,
.teatak-button-outlined[disabled]:focus,
.teatak-button-outlined[disabled]:active {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #A6A6A6;
}
.teatak-button-outlined.teatak-button-color-primary {
  color: #1974dc;
  border: solid 1px #1974dc;
}
.teatak-button-outlined.teatak-button-color-primary:hover {
  background-color: #f6fafe;
  border: solid 1px #1561b7;
}
.teatak-button-outlined.teatak-button-color-primary:active,
.teatak-button-outlined.teatak-button-color-primary.clicked {
  background-color: #dfecfb;
  border: solid 1px #114d93;
}
.teatak-button-outlined.teatak-button-color-danger {
  color: #dc1919;
  border: solid 1px #dc1919;
}
.teatak-button-outlined.teatak-button-color-danger:hover {
  background-color: #fef6f6;
  border: solid 1px #b71515;
}
.teatak-button-outlined.teatak-button-color-danger:active,
.teatak-button-outlined.teatak-button-color-danger.clicked {
  background-color: #fbdfdf;
  border: solid 1px #931111;
}
.teatak-button-outlined.teatak-button-size-large {
  padding: 0 23px;
}
.teatak-button-outlined.teatak-button-size-small {
  padding: 0 11px;
}
.teatak-button-outlined.teatak-button-rounded {
  border-radius: 100px;
  padding: 7px;
}
.teatak-button-outlined.teatak-button-rounded.teatak-button-size-large {
  padding: 8px;
}
.teatak-button-outlined.teatak-button-rounded.teatak-button-size-small {
  padding: 5px;
}
.teatak-button-filled {
  -webkit-box-shadow: 0px 2px 1px -1px #dddddd, 0px 1px 1px 0px #dddddd, 0px 1px 3px 0px #dddddd;
          box-shadow: 0px 2px 1px -1px #dddddd, 0px 1px 1px 0px #dddddd, 0px 1px 3px 0px #dddddd;
  background-color: #f7f7f7;
}
.teatak-button-filled:hover {
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 2px 1px -1px #dddddd, 0px 1px 3px 0px #dddddd, 0px 1px 3px 0px #dddddd;
          box-shadow: 0px 2px 1px -1px #dddddd, 0px 1px 3px 0px #dddddd, 0px 1px 3px 0px #dddddd;
}
.teatak-button-filled:active,
.teatak-button-filled.clicked {
  background-color: #dddddd;
  -webkit-box-shadow: 0px 2px 1px -1px #dddddd, 0px 1px 2px 0px #dddddd, 0px 1px 2px 0px #dddddd;
          box-shadow: 0px 2px 1px -1px #dddddd, 0px 1px 2px 0px #dddddd, 0px 1px 2px 0px #dddddd;
}
.teatak-button-filled[disabled] {
  color: #A6A6A6;
  background: #efefef;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-filled[disabled]:hover,
.teatak-button-filled[disabled]:focus,
.teatak-button-filled[disabled]:active {
  color: #A6A6A6;
  background: #efefef;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-filled.teatak-button-color-primary {
  border: none;
  background: #1974dc;
  color: #FFF;
}
.teatak-button-filled.teatak-button-color-primary:hover {
  background-color: #1561b7;
}
.teatak-button-filled.teatak-button-color-primary:active,
.teatak-button-filled.teatak-button-color-primary.clicked {
  background-color: #114d93;
}
.teatak-button-filled.teatak-button-color-danger {
  border: none;
  background: #dc1919;
  color: #FFF;
}
.teatak-button-filled.teatak-button-color-danger:hover {
  background-color: #b71515;
}
.teatak-button-filled.teatak-button-color-danger:active,
.teatak-button-filled.teatak-button-color-danger.clicked {
  background-color: #931111;
}

.examples div {
    margin-bottom: 16px;
}
.examples button {
    margin-right: 8px;
}
.examples {
    margin-bottom: 16px;
}
