.tui-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.tui-check > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.tui-check .tui-check-inner {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-fill-3);
  border-radius: var(--border-radius-small);
  background-color: var(--color-background-2);
  transition: all 0.3s;
}
.tui-check .tui-check-inner::before {
  position: absolute;
  display: table;
  top: 5px;
  left: 1px;
  width: 10px;
  height: 2px;
  background: var(--color-background-2);
  transform: scale(0);
  opacity: 0;
  content: " ";
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0, 0, 0.48, 1.58);
}
.tui-check .tui-check-inner::after {
  position: absolute;
  top: 1px;
  left: -1px;
  display: table;
  width: 6px;
  height: 10px;
  border: 2px solid var(--color-background-2);
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0);
  transform-origin: bottom right;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0, 0, 0.48, 1.58);
  content: " ";
}
.tui-check .tui-check-text {
  margin-left: 8px;
}
.tui-check:hover .tui-check-inner {
  border-color: var(--color-fill-4);
}
.tui-check.tui-check-indeterminate .tui-check-inner {
  border: 2px solid rgb(var(--primary-6));
  background: rgb(var(--primary-6));
}
.tui-check.tui-check-indeterminate .tui-check-inner::before {
  transform: scale(1);
  opacity: 1;
}
.tui-check.tui-check-indeterminate .tui-check-inner::after {
  opacity: 0;
}
.tui-check.tui-check-checked .tui-check-inner {
  border: 2px solid rgb(var(--primary-6));
  background: rgb(var(--primary-6));
}
.tui-check.tui-check-checked .tui-check-inner::before {
  opacity: 0;
}
.tui-check.tui-check-checked .tui-check-inner::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
.tui-check.tui-check-disabled {
  cursor: default;
}
.tui-check.tui-check-disabled .tui-check-inner {
  border: 2px solid rgb(var(--grey-4));
  background: rgb(var(--grey-3));
}
.tui-check.tui-check-disabled.tui-check-indeterminate .tui-check-inner {
  border: 2px solid rgb(var(--grey-4));
  background: rgb(var(--grey-4));
}
.tui-check.tui-check-disabled.tui-check-indeterminate .tui-check-inner::before {
  transform: scale(1);
  opacity: 1;
}
.tui-check.tui-check-disabled.tui-check-indeterminate .tui-check-inner::after {
  opacity: 0;
}
.tui-check.tui-check-disabled.tui-check-checked:hover .tui-check-inner {
  border: 2px solid transparent;
}
.tui-check.tui-check-disabled.tui-check-checked .tui-check-inner {
  border: 2px solid transparent;
  background: var(--color-primary-3);
}
.tui-check.tui-check-disabled.tui-check-checked .tui-check-inner::before {
  opacity: 0;
}
.tui-check.tui-check-disabled.tui-check-checked .tui-check-inner::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
.tui-check.tui-check-disabled:hover .tui-check-inner {
  border: 2px solid rgb(var(--grey-4));
}
.tui-check.tui-check-disabled .tui-check-text {
  color: rgb(var(--grey-4));
}
.tui-check-group.tui-check-group-direction-horizontal > .tui-check {
  margin-right: 16px;
}
.tui-check-group.tui-check-group-direction-vertical > .tui-check {
  display: flex;
  margin-right: 0;
  line-height: 32px;
}

.tui-space {
  display: inline-flex;
  flex-wrap: wrap;
}
.tui-space.tui-space-horizontal {
  align-items: center;
  flex-direction: row;
}
.tui-space.tui-space-vertical {
  align-items: flex-start;
  flex-direction: column;
}
.tui-space .tui-space-item {
  display: flex;
}

.tui-notification-wrapper {
  position: fixed;
  z-index: 1003;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tui-notification-wrapper.tui-notification-wrapper-top {
  width: 100%;
  top: 20px;
}
.tui-notification-wrapper.tui-notification-wrapper-topLeft {
  left: 20px;
  top: 20px;
}
.tui-notification-wrapper.tui-notification-wrapper-topRight {
  right: 20px;
  top: 20px;
}
.tui-notification-wrapper.tui-notification-wrapper-bottom {
  width: 100%;
  bottom: 20px;
  flex-direction: column-reverse;
}
.tui-notification-wrapper.tui-notification-wrapper-bottomLeft {
  left: 20px;
  bottom: 20px;
  flex-direction: column-reverse;
}
.tui-notification-wrapper.tui-notification-wrapper-bottomRight {
  right: 20px;
  bottom: 20px;
  flex-direction: column-reverse;
}
.tui-notification-wrapper .tui-notification {
  position: relative;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-border-2);
  margin-bottom: 12px;
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup);
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s linear;
  pointer-events: auto;
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
  line-height: 1.5;
}
.tui-notification-wrapper .tui-notification .tui-notification-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 8px;
  height: 24px;
}
.tui-notification-wrapper .tui-notification .tui-notification-icon-wrapper svg {
  width: 1em;
  height: 1em;
  font-size: 22px;
}
.tui-notification-wrapper .tui-notification.tui-notification-info .tui-notification-icon-wrapper svg {
  color: rgb(var(--primary-6));
}
.tui-notification-wrapper .tui-notification.tui-notification-success .tui-notification-icon-wrapper svg {
  color: rgb(var(--green-6));
}
.tui-notification-wrapper .tui-notification.tui-notification-warning .tui-notification-icon-wrapper svg {
  color: rgb(var(--orange-6));
}
.tui-notification-wrapper .tui-notification.tui-notification-error .tui-notification-icon-wrapper svg {
  color: rgb(var(--red-6));
}
.tui-notification-wrapper .tui-notification .tui-notification-content-wrapper {
  flex: auto;
  line-height: 24px;
}
.tui-notification-wrapper .tui-notification .tui-notification-content-wrapper .tui-notification-title {
  margin-bottom: 12px;
  font-weight: 500;
}
.tui-notification-wrapper .tui-notification .tui-notification-actions-wrapper {
  margin-left: 6px;
}
.tui-notification-wrapper .tui-notification .tui-notification-btn-close {
  margin-left: 6px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
  color: var(--color-foreground-2);
  height: 24px;
  display: flex;
  align-items: center;
}
.tui-notification-wrapper .tui-notification .tui-notification-btn-close svg {
  font-size: 14px;
}

