.tui-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.tui-check > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.tui-check .tui-check-inner {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-fill-3);
  border-radius: var(--border-radius-small);
  background-color: var(--color-background-2);
  transition: all 0.3s;
}
.tui-check .tui-check-inner::before {
  position: absolute;
  display: table;
  top: 5px;
  left: 1px;
  width: 10px;
  height: 2px;
  background: var(--color-background-2);
  transform: scale(0);
  opacity: 0;
  content: " ";
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0, 0, 0.48, 1.58);
}
.tui-check .tui-check-inner::after {
  position: absolute;
  top: 1px;
  left: -1px;
  display: table;
  width: 6px;
  height: 10px;
  border: 2px solid var(--color-background-2);
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0);
  transform-origin: bottom right;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0, 0, 0.48, 1.58);
  content: " ";
}
.tui-check .tui-check-text {
  margin-left: 8px;
}
.tui-check:hover .tui-check-inner {
  border-color: var(--color-fill-4);
}
.tui-check.tui-check-indeterminate .tui-check-inner {
  border: 2px solid rgb(var(--primary-6));
  background: rgb(var(--primary-6));
}
.tui-check.tui-check-indeterminate .tui-check-inner::before {
  transform: scale(1);
  opacity: 1;
}
.tui-check.tui-check-indeterminate .tui-check-inner::after {
  opacity: 0;
}
.tui-check.tui-check-checked .tui-check-inner {
  border: 2px solid rgb(var(--primary-6));
  background: rgb(var(--primary-6));
}
.tui-check.tui-check-checked .tui-check-inner::before {
  opacity: 0;
}
.tui-check.tui-check-checked .tui-check-inner::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
.tui-check.tui-check-disabled {
  cursor: default;
}
.tui-check.tui-check-disabled .tui-check-inner {
  border: 2px solid rgb(var(--grey-4));
  background: rgb(var(--grey-3));
}
.tui-check.tui-check-disabled.tui-check-indeterminate .tui-check-inner {
  border: 2px solid rgb(var(--grey-4));
  background: rgb(var(--grey-4));
}
.tui-check.tui-check-disabled.tui-check-indeterminate .tui-check-inner::before {
  transform: scale(1);
  opacity: 1;
}
.tui-check.tui-check-disabled.tui-check-indeterminate .tui-check-inner::after {
  opacity: 0;
}
.tui-check.tui-check-disabled.tui-check-checked:hover .tui-check-inner {
  border: 2px solid transparent;
}
.tui-check.tui-check-disabled.tui-check-checked .tui-check-inner {
  border: 2px solid transparent;
  background: var(--color-primary-3);
}
.tui-check.tui-check-disabled.tui-check-checked .tui-check-inner::before {
  opacity: 0;
}
.tui-check.tui-check-disabled.tui-check-checked .tui-check-inner::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
.tui-check.tui-check-disabled:hover .tui-check-inner {
  border: 2px solid rgb(var(--grey-4));
}
.tui-check.tui-check-disabled .tui-check-text {
  color: rgb(var(--grey-4));
}
.tui-check-group.tui-check-group-direction-horizontal > .tui-check {
  margin-right: 16px;
}
.tui-check-group.tui-check-group-direction-vertical > .tui-check {
  display: flex;
  margin-right: 0;
  line-height: 32px;
}

.tui-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  padding: var(--size-button-padding-medium);
  height: var(--size-medium);
  outline: none;
  border: none;
  font-size: 14px;
  user-select: none;
  color: var(--color-foreground-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-button svg {
  font-size: 20px;
  vertical-align: middle;
}
.tui-button .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-large {
  border-radius: var(--border-radius-large);
  padding: var(--size-button-padding-large);
  height: var(--size-large);
  font-size: 14px;
}
.tui-button.tui-button-size-large svg {
  font-size: 22px;
}
.tui-button.tui-button-size-large .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button.tui-button-size-large .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-small {
  border-radius: var(--border-radius-small);
  padding: var(--size-button-padding-small);
  height: var(--size-small);
  font-size: 12px;
}
.tui-button.tui-button-size-small svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-start-icon {
  margin-right: 3px;
}
.tui-button.tui-button-size-small .tui-button-start-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-end-icon {
  margin-left: 3px;
}
.tui-button.tui-button-size-small .tui-button-end-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-tiny {
  border-radius: var(--border-radius-small);
  padding: var(--size-button-padding-tiny);
  height: var(--size-tiny);
  font-size: 12px;
}
.tui-button.tui-button-size-tiny svg {
  font-size: 14px;
}
.tui-button.tui-button-size-tiny .tui-button-start-icon {
  margin-right: 2px;
}
.tui-button.tui-button-size-tiny .tui-button-start-icon svg {
  font-size: 14px;
}
.tui-button.tui-button-size-tiny .tui-button-end-icon {
  margin-left: 2px;
}
.tui-button.tui-button-size-tiny .tui-button-end-icon svg {
  font-size: 14px;
}
.tui-button.tui-button-long {
  width: 100%;
}
.tui-button.tui-button-rounded {
  border-radius: 16px;
}
.tui-button.tui-button-rounded.tui-button-size-large {
  border-radius: 18px;
}
.tui-button.tui-button-rounded.tui-button-size-small {
  border-radius: 14px;
}
.tui-button.tui-button-rounded.tui-button-size-tiny {
  border-radius: 12px;
}
.tui-button.tui-button-circle {
  border-radius: 50%;
  width: var(--size-medium);
  height: var(--size-medium);
  padding: 0;
}
.tui-button.tui-button-circle.tui-button-size-large {
  width: var(--size-large);
  height: var(--size-large);
}
.tui-button.tui-button-circle.tui-button-size-small {
  width: var(--size-small);
  height: var(--size-small);
}
.tui-button.tui-button-circle.tui-button-size-tiny {
  width: var(--size-tiny);
  height: var(--size-tiny);
}
.tui-button.tui-button-outlined {
  padding: var(--size-button-outlined-padding-medium);
}
.tui-button.tui-button-outlined.tui-button-size-large {
  padding: var(--size-button-outlined-padding-large);
}
.tui-button.tui-button-outlined.tui-button-size-small {
  padding: var(--size-button-outlined-padding-small);
}
.tui-button.tui-button-outlined.tui-button-size-tiny {
  padding: var(--size-button-outlined-padding-tiny);
}
.tui-button.tui-button-outlined.tui-button-circle {
  padding: 0;
}
.tui-button-standard:not(disabled) {
  background-color: transparent;
  color: rgb(var(--primary-6));
  box-shadow: none;
}
.tui-button-standard:not(disabled):hover,
.tui-button-standard:not(disabled):focus {
  background-color: var(--color-primary-1);
  box-shadow: none;
}
.tui-button-standard:not(disabled):active,
.tui-button-standard:not(disabled).clicked {
  background-color: var(--color-primary-2);
  box-shadow: none;
}
.tui-button-standard:not(disabled):disabled {
  cursor: default;
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.tui-button-standard:not(disabled):disabled:hover,
.tui-button-standard:not(disabled):disabled:focus,
.tui-button-standard:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.tui-button-standard.tui-button-color-primary {
  color: rgb(var(--primary-6));
  border: none;
  background-color: transparent;
}
.tui-button-standard.tui-button-color-primary:hover,
.tui-button-standard.tui-button-color-primary:focus {
  border: none;
  background-color: var(--color-primary-1);
}
.tui-button-standard.tui-button-color-primary:active,
.tui-button-standard.tui-button-color-primary.clicked {
  border: none;
  background-color: var(--color-primary-2);
}
.tui-button-standard.tui-button-color-info {
  color: rgb(var(--primary-6));
  border: none;
  background-color: transparent;
}
.tui-button-standard.tui-button-color-info:hover,
.tui-button-standard.tui-button-color-info:focus {
  border: none;
  background-color: var(--color-primary-1);
}
.tui-button-standard.tui-button-color-info:active,
.tui-button-standard.tui-button-color-info.clicked {
  border: none;
  background-color: var(--color-primary-2);
}
.tui-button-standard.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: none;
  background-color: transparent;
}
.tui-button-standard.tui-button-color-secondary:hover,
.tui-button-standard.tui-button-color-secondary:focus {
  border: none;
  background-color: var(--color-secondary-1);
}
.tui-button-standard.tui-button-color-secondary:active,
.tui-button-standard.tui-button-color-secondary.clicked {
  border: none;
  background-color: var(--color-secondary-2);
}
.tui-button-standard.tui-button-color-success {
  color: rgb(var(--green-6));
  border: none;
  background-color: transparent;
}
.tui-button-standard.tui-button-color-success:hover,
.tui-button-standard.tui-button-color-success:focus {
  border: none;
  background-color: var(--color-success-1);
}
.tui-button-standard.tui-button-color-success:active,
.tui-button-standard.tui-button-color-success.clicked {
  border: none;
  background-color: var(--color-success-2);
}
.tui-button-standard.tui-button-color-error {
  color: rgb(var(--red-6));
  border: none;
  background-color: transparent;
}
.tui-button-standard.tui-button-color-error:hover,
.tui-button-standard.tui-button-color-error:focus {
  border: none;
  background-color: var(--color-error-1);
}
.tui-button-standard.tui-button-color-error:active,
.tui-button-standard.tui-button-color-error.clicked {
  border: none;
  background-color: var(--color-error-2);
}
.tui-button-standard.tui-button-color-warning {
  color: rgb(var(--orange-6));
  border: none;
  background-color: transparent;
}
.tui-button-standard.tui-button-color-warning:hover,
.tui-button-standard.tui-button-color-warning:focus {
  border: none;
  background-color: var(--color-warning-1);
}
.tui-button-standard.tui-button-color-warning:active,
.tui-button-standard.tui-button-color-warning.clicked {
  border: none;
  background-color: var(--color-warning-2);
}
.tui-button-filled:not(disabled) {
  background-color: rgb(var(--primary-6));
  color: #fff;
  box-shadow: none;
}
.tui-button-filled:not(disabled):hover,
.tui-button-filled:not(disabled):focus {
  background-color: rgb(var(--primary-5));
  box-shadow: var(--box-shadow-btn);
}
.tui-button-filled:not(disabled):active,
.tui-button-filled:not(disabled).clicked {
  background-color: rgb(var(--primary-7));
  box-shadow: var(--box-shadow-btn);
}
.tui-button-filled:not(disabled):disabled {
  cursor: default;
  color: rgb(var(--grey-5));
  background-color: rgb(var(--grey-2));
  box-shadow: none;
  border: none;
}
.tui-button-filled:not(disabled):disabled:hover,
.tui-button-filled:not(disabled):disabled:focus,
.tui-button-filled:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: rgb(var(--grey-2));
  box-shadow: none;
  border: none;
}
.tui-button-filled.tui-button-color-primary {
  color: #fff;
  border: none;
  background-color: rgb(var(--primary-6));
}
.tui-button-filled.tui-button-color-primary:hover,
.tui-button-filled.tui-button-color-primary:focus {
  border: none;
  background-color: rgb(var(--primary-5));
}
.tui-button-filled.tui-button-color-primary:active,
.tui-button-filled.tui-button-color-primary.clicked {
  border: none;
  background-color: rgb(var(--primary-7));
}
.tui-button-filled.tui-button-color-info {
  color: #fff;
  border: none;
  background-color: rgb(var(--primary-6));
}
.tui-button-filled.tui-button-color-info:hover,
.tui-button-filled.tui-button-color-info:focus {
  border: none;
  background-color: rgb(var(--primary-5));
}
.tui-button-filled.tui-button-color-info:active,
.tui-button-filled.tui-button-color-info.clicked {
  border: none;
  background-color: rgb(var(--primary-7));
}
.tui-button-filled.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: none;
  background-color: rgb(var(--grey-3));
}
.tui-button-filled.tui-button-color-secondary:hover,
.tui-button-filled.tui-button-color-secondary:focus {
  border: none;
  background-color: rgb(var(--grey-4));
}
.tui-button-filled.tui-button-color-secondary:active,
.tui-button-filled.tui-button-color-secondary.clicked {
  border: none;
  background-color: rgb(var(--grey-5));
}
.tui-button-filled.tui-button-color-success {
  color: #fff;
  border: none;
  background-color: rgb(var(--green-6));
}
.tui-button-filled.tui-button-color-success:hover,
.tui-button-filled.tui-button-color-success:focus {
  border: none;
  background-color: rgb(var(--green-5));
}
.tui-button-filled.tui-button-color-success:active,
.tui-button-filled.tui-button-color-success.clicked {
  border: none;
  background-color: rgb(var(--green-7));
}
.tui-button-filled.tui-button-color-error {
  color: #fff;
  border: none;
  background-color: rgb(var(--red-6));
}
.tui-button-filled.tui-button-color-error:hover,
.tui-button-filled.tui-button-color-error:focus {
  border: none;
  background-color: rgb(var(--red-5));
}
.tui-button-filled.tui-button-color-error:active,
.tui-button-filled.tui-button-color-error.clicked {
  border: none;
  background-color: rgb(var(--red-7));
}
.tui-button-filled.tui-button-color-warning {
  color: #fff;
  border: none;
  background-color: rgb(var(--orange-6));
}
.tui-button-filled.tui-button-color-warning:hover,
.tui-button-filled.tui-button-color-warning:focus {
  border: none;
  background-color: rgb(var(--orange-5));
}
.tui-button-filled.tui-button-color-warning:active,
.tui-button-filled.tui-button-color-warning.clicked {
  border: none;
  background-color: rgb(var(--orange-6));
}
.tui-button-outlined:not(disabled) {
  background-color: transparent;
  color: rgb(var(--primary-6));
  box-shadow: none;
}
.tui-button-outlined:not(disabled):hover,
.tui-button-outlined:not(disabled):focus {
  background-color: var(--color-primary-1);
  box-shadow: none;
}
.tui-button-outlined:not(disabled):active,
.tui-button-outlined:not(disabled).clicked {
  background-color: var(--color-primary-2);
  box-shadow: none;
}
.tui-button-outlined:not(disabled):disabled {
  cursor: default;
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: solid 1px rgb(var(--grey-4));
}
.tui-button-outlined:not(disabled):disabled:hover,
.tui-button-outlined:not(disabled):disabled:focus,
.tui-button-outlined:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: solid 1px rgb(var(--grey-4));
}
.tui-button-outlined.tui-button-color-primary {
  color: rgb(var(--primary-6));
  border: solid 1px rgb(var(--primary-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-primary:hover,
.tui-button-outlined.tui-button-color-primary:focus {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-primary-1);
}
.tui-button-outlined.tui-button-color-primary:active,
.tui-button-outlined.tui-button-color-primary.clicked {
  border: solid 1px rgb(var(--primary-7));
  background-color: var(--color-primary-2);
}
.tui-button-outlined.tui-button-color-info {
  color: rgb(var(--primary-6));
  border: solid 1px rgb(var(--primary-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-info:hover,
.tui-button-outlined.tui-button-color-info:focus {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-primary-1);
}
.tui-button-outlined.tui-button-color-info:active,
.tui-button-outlined.tui-button-color-info.clicked {
  border: solid 1px rgb(var(--primary-7));
  background-color: var(--color-primary-2);
}
.tui-button-outlined.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: solid 1px rgb(var(--grey-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-secondary:hover,
.tui-button-outlined.tui-button-color-secondary:focus {
  border: solid 1px rgb(var(--grey-6));
  background-color: var(--color-secondary-1);
}
.tui-button-outlined.tui-button-color-secondary:active,
.tui-button-outlined.tui-button-color-secondary.clicked {
  border: solid 1px rgb(var(--grey-7));
  background-color: var(--color-secondary-2);
}
.tui-button-outlined.tui-button-color-success {
  color: rgb(var(--green-6));
  border: solid 1px rgb(var(--green-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-success:hover,
.tui-button-outlined.tui-button-color-success:focus {
  border: solid 1px rgb(var(--green-6));
  background-color: var(--color-success-1);
}
.tui-button-outlined.tui-button-color-success:active,
.tui-button-outlined.tui-button-color-success.clicked {
  border: solid 1px rgb(var(--green-7));
  background-color: var(--color-success-2);
}
.tui-button-outlined.tui-button-color-error {
  color: rgb(var(--red-6));
  border: solid 1px rgb(var(--red-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-error:hover,
.tui-button-outlined.tui-button-color-error:focus {
  border: solid 1px rgb(var(--red-6));
  background-color: var(--color-error-1);
}
.tui-button-outlined.tui-button-color-error:active,
.tui-button-outlined.tui-button-color-error.clicked {
  border: solid 1px rgb(var(--red-7));
  background-color: var(--color-error-2);
}
.tui-button-outlined.tui-button-color-warning {
  color: rgb(var(--orange-6));
  border: solid 1px rgb(var(--orange-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-warning:hover,
.tui-button-outlined.tui-button-color-warning:focus {
  border: solid 1px rgb(var(--orange-6));
  background-color: var(--color-warning-1);
}
.tui-button-outlined.tui-button-color-warning:active,
.tui-button-outlined.tui-button-color-warning.clicked {
  border: solid 1px rgb(var(--orange-7));
  background-color: var(--color-warning-2);
}

.tui-space {
  display: inline-flex;
  flex-wrap: wrap;
}
.tui-space.tui-space-horizontal {
  align-items: center;
  flex-direction: row;
}
.tui-space.tui-space-vertical {
  align-items: flex-start;
  flex-direction: column;
}
.tui-space .tui-space-item {
  display: flex;
}

.tui-notification-wrapper {
  position: fixed;
  z-index: 1003;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tui-notification-wrapper.tui-notification-wrapper-top {
  width: 100%;
  top: 20px;
}
.tui-notification-wrapper.tui-notification-wrapper-topLeft {
  left: 20px;
  top: 20px;
}
.tui-notification-wrapper.tui-notification-wrapper-topRight {
  right: 20px;
  top: 20px;
}
.tui-notification-wrapper.tui-notification-wrapper-bottom {
  width: 100%;
  bottom: 20px;
  flex-direction: column-reverse;
}
.tui-notification-wrapper.tui-notification-wrapper-bottomLeft {
  left: 20px;
  bottom: 20px;
  flex-direction: column-reverse;
}
.tui-notification-wrapper.tui-notification-wrapper-bottomRight {
  right: 20px;
  bottom: 20px;
  flex-direction: column-reverse;
}
.tui-notification-wrapper .tui-notification {
  position: relative;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-border-2);
  margin-bottom: 12px;
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup);
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s linear;
  pointer-events: auto;
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
  line-height: 1.5;
}
.tui-notification-wrapper .tui-notification .tui-notification-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 8px;
  height: 24px;
}
.tui-notification-wrapper .tui-notification .tui-notification-icon-wrapper svg {
  width: 1em;
  height: 1em;
  font-size: 22px;
}
.tui-notification-wrapper .tui-notification.tui-notification-info .tui-notification-icon-wrapper svg {
  color: rgb(var(--primary-6));
}
.tui-notification-wrapper .tui-notification.tui-notification-success .tui-notification-icon-wrapper svg {
  color: rgb(var(--green-6));
}
.tui-notification-wrapper .tui-notification.tui-notification-warning .tui-notification-icon-wrapper svg {
  color: rgb(var(--orange-6));
}
.tui-notification-wrapper .tui-notification.tui-notification-error .tui-notification-icon-wrapper svg {
  color: rgb(var(--red-6));
}
.tui-notification-wrapper .tui-notification .tui-notification-content-wrapper {
  flex: auto;
  line-height: 24px;
}
.tui-notification-wrapper .tui-notification .tui-notification-content-wrapper .tui-notification-title {
  margin-bottom: 12px;
  font-weight: 500;
}
.tui-notification-wrapper .tui-notification .tui-notification-actions-wrapper {
  margin-left: 6px;
}
.tui-notification-wrapper .tui-notification .tui-notification-btn-close {
  margin-left: 6px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
  color: var(--color-foreground-2);
  height: 24px;
  display: flex;
  align-items: center;
}
.tui-notification-wrapper .tui-notification .tui-notification-btn-close svg {
  font-size: 14px;
}

