.tui-input-wrapper {
  display: inline-flex;
  align-items: center;
  color: var(--color-foreground-1);
  position: relative;
  width: 100%;
}
.tui-input-wrapper.disabled {
  color: rgb(var(--grey-5));
}
.tui-input-wrapper .tui-input-start-icon {
  display: inline-flex;
  position: absolute;
  margin-left: 7px;
  line-height: 0;
}
.tui-input-wrapper .tui-input-start-icon svg {
  font-size: 20px;
}
.tui-input-wrapper .tui-input-end-icon {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  line-height: 0;
}
.tui-input-wrapper .tui-input-end-icon svg {
  font-size: 20px;
}
.tui-input-wrapper .tui-input {
  font-size: 14px;
  height: var(--size-medium);
  padding: 0 12px;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius-small);
  color: var(--color-foreground-1);
  background: var(--color-fill-2);
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-input-wrapper .tui-input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-foreground-1);
  box-shadow: inset 0 0 0 32px var(--color-fill-2) !important;
  border: solid 1px var(--color-fill-2);
}
.tui-input-wrapper .tui-input:-webkit-autofill:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
  box-shadow: inset 0 0 0 32px var(--color-fill-3) !important;
}
.tui-input-wrapper .tui-input:-webkit-autofill:focus {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2), inset 0 0 0 32px var(--color-fill-2) !important;
}
.tui-input-wrapper .tui-input.tui-input-has-start-icon {
  padding-left: 32px;
}
.tui-input-wrapper .tui-input.tui-input-has-end-icon {
  padding-right: 32px;
}
.tui-input-wrapper .tui-input[disabled] {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-input-wrapper .tui-input[disabled]:hover,
.tui-input-wrapper .tui-input[disabled]:focus {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-input-wrapper .tui-input:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
}
.tui-input-wrapper .tui-input:focus {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2);
}
.tui-input-wrapper.tui-input-size-large .tui-input-start-icon {
  margin-left: 8px;
}
.tui-input-wrapper.tui-input-size-large .tui-input-start-icon svg {
  font-size: 22px;
}
.tui-input-wrapper.tui-input-size-large .tui-input-end-icon {
  margin-right: 8px;
}
.tui-input-wrapper.tui-input-size-large .tui-input-end-icon svg {
  font-size: 22px;
}
.tui-input-wrapper.tui-input-size-large .tui-input {
  font-size: 14px;
  height: var(--size-large);
  padding: 0 16px;
  border-radius: var(--border-radius-small);
}
.tui-input-wrapper.tui-input-size-large .tui-input.tui-input-has-start-icon {
  padding-left: 36px;
}
.tui-input-wrapper.tui-input-size-large .tui-input.tui-input-has-end-icon {
  padding-right: 36px;
}
.tui-input-wrapper.tui-input-size-small .tui-input-start-icon {
  margin-left: 7px;
}
.tui-input-wrapper.tui-input-size-small .tui-input-start-icon svg {
  font-size: 16px;
}
.tui-input-wrapper.tui-input-size-small .tui-input-end-icon {
  margin-right: 7px;
}
.tui-input-wrapper.tui-input-size-small .tui-input-end-icon svg {
  font-size: 16px;
}
.tui-input-wrapper.tui-input-size-small .tui-input {
  font-size: 12px;
  height: var(--size-small);
  padding: 0 8px;
  border-radius: var(--border-radius-small);
}
.tui-input-wrapper.tui-input-size-small .tui-input.tui-input-has-start-icon {
  padding-left: 28px;
}
.tui-input-wrapper.tui-input-size-small .tui-input.tui-input-has-end-icon {
  padding-right: 28px;
}
.tui-input-wrapper.tui-input-size-tiny .tui-input-start-icon {
  margin-left: 6px;
}
.tui-input-wrapper.tui-input-size-tiny .tui-input-start-icon svg {
  font-size: 14px;
}
.tui-input-wrapper.tui-input-size-tiny .tui-input-end-icon {
  margin-right: 6px;
}
.tui-input-wrapper.tui-input-size-tiny .tui-input-end-icon svg {
  font-size: 14px;
}
.tui-input-wrapper.tui-input-size-tiny .tui-input {
  font-size: 12px;
  height: var(--size-tiny);
  padding: 0 6px;
  border-radius: var(--border-radius-small);
}
.tui-input-wrapper.tui-input-size-tiny .tui-input.tui-input-has-start-icon {
  padding-left: 24px;
}
.tui-input-wrapper.tui-input-size-tiny .tui-input.tui-input-has-end-icon {
  padding-right: 24px;
}

.tui-select {
  font-size: 14px;
  height: var(--size-medium);
  padding: 0 12px;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius-small);
  color: var(--color-foreground-1);
  background-color: var(--color-fill-2);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 4px center;
  max-width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-right: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.tui-select[disabled] {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-select[disabled]:hover,
.tui-select[disabled]:focus {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-select:hover {
  border: solid 1px rgb(var(--primary-5));
  background-color: var(--color-fill-3);
}
.tui-select:focus {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2);
}
.tui-select.tui-select-size-large {
  font-size: 14px;
  height: var(--size-large);
  padding: 0 16px;
  border-radius: var(--border-radius-small);
  padding-right: 28px;
}
.tui-select.tui-select-size-small {
  font-size: 12px;
  height: var(--size-small);
  padding: 0 8px;
  border-radius: var(--border-radius-small);
  padding-right: 20px;
}
.tui-select.tui-select-size-tiny {
  font-size: 12px;
  height: var(--size-tiny);
  padding: 0 6px;
  border-radius: var(--border-radius-small);
  padding-right: 20px;
}

.tui-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  padding: var(--size-button-padding-medium);
  height: var(--size-medium);
  outline: none;
  border: none;
  font-size: 14px;
  user-select: none;
  color: var(--color-foreground-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-button svg {
  font-size: 20px;
  vertical-align: middle;
}
.tui-button .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-large {
  border-radius: var(--border-radius-large);
  padding: var(--size-button-padding-large);
  height: var(--size-large);
  font-size: 14px;
}
.tui-button.tui-button-size-large svg {
  font-size: 22px;
}
.tui-button.tui-button-size-large .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button.tui-button-size-large .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-small {
  border-radius: var(--border-radius-small);
  padding: var(--size-button-padding-small);
  height: var(--size-small);
  font-size: 12px;
}
.tui-button.tui-button-size-small svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-start-icon {
  margin-right: 3px;
}
.tui-button.tui-button-size-small .tui-button-start-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-end-icon {
  margin-left: 3px;
}
.tui-button.tui-button-size-small .tui-button-end-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-tiny {
  border-radius: var(--border-radius-small);
  padding: var(--size-button-padding-tiny);
  height: var(--size-tiny);
  font-size: 12px;
}
.tui-button.tui-button-size-tiny svg {
  font-size: 14px;
}
.tui-button.tui-button-size-tiny .tui-button-start-icon {
  margin-right: 2px;
}
.tui-button.tui-button-size-tiny .tui-button-start-icon svg {
  font-size: 14px;
}
.tui-button.tui-button-size-tiny .tui-button-end-icon {
  margin-left: 2px;
}
.tui-button.tui-button-size-tiny .tui-button-end-icon svg {
  font-size: 14px;
}
.tui-button.tui-button-long {
  width: 100%;
}
.tui-button.tui-button-rounded {
  border-radius: 16px;
}
.tui-button.tui-button-rounded.tui-button-size-large {
  border-radius: 18px;
}
.tui-button.tui-button-rounded.tui-button-size-small {
  border-radius: 14px;
}
.tui-button.tui-button-rounded.tui-button-size-tiny {
  border-radius: 12px;
}
.tui-button.tui-button-circle {
  border-radius: 50%;
  width: var(--size-medium);
  height: var(--size-medium);
  padding: 0;
}
.tui-button.tui-button-circle.tui-button-size-large {
  width: var(--size-large);
  height: var(--size-large);
}
.tui-button.tui-button-circle.tui-button-size-small {
  width: var(--size-small);
  height: var(--size-small);
}
.tui-button.tui-button-circle.tui-button-size-tiny {
  width: var(--size-tiny);
  height: var(--size-tiny);
}
.tui-button.tui-button-outlined {
  padding: var(--size-button-outlined-padding-medium);
}
.tui-button.tui-button-outlined.tui-button-size-large {
  padding: var(--size-button-outlined-padding-large);
}
.tui-button.tui-button-outlined.tui-button-size-small {
  padding: var(--size-button-outlined-padding-small);
}
.tui-button.tui-button-outlined.tui-button-size-tiny {
  padding: var(--size-button-outlined-padding-tiny);
}
.tui-button.tui-button-outlined.tui-button-circle {
  padding: 0;
}
.tui-button-text:not(disabled) {
  background-color: transparent;
  color: rgb(var(--primary-6));
  box-shadow: none;
}
.tui-button-text:not(disabled):hover {
  background-color: var(--color-primary-1);
  box-shadow: none;
}
.tui-button-text:not(disabled):active,
.tui-button-text:not(disabled).clicked {
  background-color: var(--color-primary-2);
  box-shadow: none;
}
.tui-button-text:not(disabled):disabled {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.tui-button-text:not(disabled):disabled:hover,
.tui-button-text:not(disabled):disabled:focus,
.tui-button-text:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.tui-button-text.tui-button-color-primary {
  color: rgb(var(--primary-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-primary:hover {
  border: none;
  background-color: var(--color-primary-1);
}
.tui-button-text.tui-button-color-primary:active,
.tui-button-text.tui-button-color-primary.clicked {
  border: none;
  background-color: var(--color-primary-2);
}
.tui-button-text.tui-button-color-info {
  color: rgb(var(--primary-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-info:hover {
  border: none;
  background-color: var(--color-primary-1);
}
.tui-button-text.tui-button-color-info:active,
.tui-button-text.tui-button-color-info.clicked {
  border: none;
  background-color: var(--color-primary-2);
}
.tui-button-text.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-secondary:hover {
  border: none;
  background-color: var(--color-secondary-1);
}
.tui-button-text.tui-button-color-secondary:active,
.tui-button-text.tui-button-color-secondary.clicked {
  border: none;
  background-color: var(--color-secondary-2);
}
.tui-button-text.tui-button-color-success {
  color: rgb(var(--green-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-success:hover {
  border: none;
  background-color: var(--color-success-1);
}
.tui-button-text.tui-button-color-success:active,
.tui-button-text.tui-button-color-success.clicked {
  border: none;
  background-color: var(--color-success-2);
}
.tui-button-text.tui-button-color-error {
  color: rgb(var(--red-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-error:hover {
  border: none;
  background-color: var(--color-error-1);
}
.tui-button-text.tui-button-color-error:active,
.tui-button-text.tui-button-color-error.clicked {
  border: none;
  background-color: var(--color-error-2);
}
.tui-button-text.tui-button-color-warning {
  color: rgb(var(--orange-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-warning:hover {
  border: none;
  background-color: var(--color-warning-1);
}
.tui-button-text.tui-button-color-warning:active,
.tui-button-text.tui-button-color-warning.clicked {
  border: none;
  background-color: var(--color-warning-2);
}
.tui-button-filled:not(disabled) {
  background-color: rgb(var(--primary-6));
  color: #fff;
  box-shadow: none;
}
.tui-button-filled:not(disabled):hover {
  background-color: rgb(var(--primary-5));
  box-shadow: var(--btn-box-shadow);
}
.tui-button-filled:not(disabled):active,
.tui-button-filled:not(disabled).clicked {
  background-color: rgb(var(--primary-7));
  box-shadow: var(--btn-box-shadow);
}
.tui-button-filled:not(disabled):disabled {
  color: rgb(var(--grey-5));
  background-color: rgb(var(--grey-2));
  box-shadow: none;
  border: none;
}
.tui-button-filled:not(disabled):disabled:hover,
.tui-button-filled:not(disabled):disabled:focus,
.tui-button-filled:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: rgb(var(--grey-2));
  box-shadow: none;
  border: none;
}
.tui-button-filled.tui-button-color-primary {
  color: #fff;
  border: none;
  background-color: rgb(var(--primary-6));
}
.tui-button-filled.tui-button-color-primary:hover {
  border: none;
  background-color: rgb(var(--primary-5));
}
.tui-button-filled.tui-button-color-primary:active,
.tui-button-filled.tui-button-color-primary.clicked {
  border: none;
  background-color: rgb(var(--primary-7));
}
.tui-button-filled.tui-button-color-info {
  color: #fff;
  border: none;
  background-color: rgb(var(--primary-6));
}
.tui-button-filled.tui-button-color-info:hover {
  border: none;
  background-color: rgb(var(--primary-5));
}
.tui-button-filled.tui-button-color-info:active,
.tui-button-filled.tui-button-color-info.clicked {
  border: none;
  background-color: rgb(var(--primary-7));
}
.tui-button-filled.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: none;
  background-color: rgb(var(--grey-3));
}
.tui-button-filled.tui-button-color-secondary:hover {
  border: none;
  background-color: rgb(var(--grey-4));
}
.tui-button-filled.tui-button-color-secondary:active,
.tui-button-filled.tui-button-color-secondary.clicked {
  border: none;
  background-color: rgb(var(--grey-5));
}
.tui-button-filled.tui-button-color-success {
  color: #fff;
  border: none;
  background-color: rgb(var(--green-6));
}
.tui-button-filled.tui-button-color-success:hover {
  border: none;
  background-color: rgb(var(--green-5));
}
.tui-button-filled.tui-button-color-success:active,
.tui-button-filled.tui-button-color-success.clicked {
  border: none;
  background-color: rgb(var(--green-7));
}
.tui-button-filled.tui-button-color-error {
  color: #fff;
  border: none;
  background-color: rgb(var(--red-6));
}
.tui-button-filled.tui-button-color-error:hover {
  border: none;
  background-color: rgb(var(--red-5));
}
.tui-button-filled.tui-button-color-error:active,
.tui-button-filled.tui-button-color-error.clicked {
  border: none;
  background-color: rgb(var(--red-7));
}
.tui-button-filled.tui-button-color-warning {
  color: #fff;
  border: none;
  background-color: rgb(var(--orange-6));
}
.tui-button-filled.tui-button-color-warning:hover {
  border: none;
  background-color: rgb(var(--orange-5));
}
.tui-button-filled.tui-button-color-warning:active,
.tui-button-filled.tui-button-color-warning.clicked {
  border: none;
  background-color: rgb(var(--orange-6));
}
.tui-button-outlined:not(disabled) {
  background-color: transparent;
  color: rgb(var(--primary-6));
  box-shadow: none;
}
.tui-button-outlined:not(disabled):hover {
  background-color: var(--color-primary-1);
  box-shadow: none;
}
.tui-button-outlined:not(disabled):active,
.tui-button-outlined:not(disabled).clicked {
  background-color: var(--color-primary-2);
  box-shadow: none;
}
.tui-button-outlined:not(disabled):disabled {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: solid 1px rgb(var(--grey-4));
}
.tui-button-outlined:not(disabled):disabled:hover,
.tui-button-outlined:not(disabled):disabled:focus,
.tui-button-outlined:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: solid 1px rgb(var(--grey-4));
}
.tui-button-outlined.tui-button-color-primary {
  color: rgb(var(--primary-6));
  border: solid 1px rgb(var(--primary-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-primary:hover {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-primary-1);
}
.tui-button-outlined.tui-button-color-primary:active,
.tui-button-outlined.tui-button-color-primary.clicked {
  border: solid 1px rgb(var(--primary-7));
  background-color: var(--color-primary-2);
}
.tui-button-outlined.tui-button-color-info {
  color: rgb(var(--primary-6));
  border: solid 1px rgb(var(--primary-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-info:hover {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-primary-1);
}
.tui-button-outlined.tui-button-color-info:active,
.tui-button-outlined.tui-button-color-info.clicked {
  border: solid 1px rgb(var(--primary-7));
  background-color: var(--color-primary-2);
}
.tui-button-outlined.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: solid 1px rgb(var(--grey-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-secondary:hover {
  border: solid 1px rgb(var(--grey-6));
  background-color: var(--color-secondary-1);
}
.tui-button-outlined.tui-button-color-secondary:active,
.tui-button-outlined.tui-button-color-secondary.clicked {
  border: solid 1px rgb(var(--grey-7));
  background-color: var(--color-secondary-2);
}
.tui-button-outlined.tui-button-color-success {
  color: rgb(var(--green-6));
  border: solid 1px rgb(var(--green-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-success:hover {
  border: solid 1px rgb(var(--green-6));
  background-color: var(--color-success-1);
}
.tui-button-outlined.tui-button-color-success:active,
.tui-button-outlined.tui-button-color-success.clicked {
  border: solid 1px rgb(var(--green-7));
  background-color: var(--color-success-2);
}
.tui-button-outlined.tui-button-color-error {
  color: rgb(var(--red-6));
  border: solid 1px rgb(var(--red-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-error:hover {
  border: solid 1px rgb(var(--red-6));
  background-color: var(--color-error-1);
}
.tui-button-outlined.tui-button-color-error:active,
.tui-button-outlined.tui-button-color-error.clicked {
  border: solid 1px rgb(var(--red-7));
  background-color: var(--color-error-2);
}
.tui-button-outlined.tui-button-color-warning {
  color: rgb(var(--orange-6));
  border: solid 1px rgb(var(--orange-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-warning:hover {
  border: solid 1px rgb(var(--orange-6));
  background-color: var(--color-warning-1);
}
.tui-button-outlined.tui-button-color-warning:active,
.tui-button-outlined.tui-button-color-warning.clicked {
  border: solid 1px rgb(var(--orange-7));
  background-color: var(--color-warning-2);
}

.tui-form {
  display: flex;
  flex-direction: column;
}
.tui-form.tui-form-size-medium .tui-form-item-label label {
  line-height: var(--size-medium);
}
.tui-form.tui-form-size-medium .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 16px;
}
.tui-form.tui-form-size-large .tui-form-item-label label {
  line-height: var(--size-large);
}
.tui-form.tui-form-size-large .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 20px;
}
.tui-form.tui-form-size-small .tui-form-item-label label {
  line-height: var(--size-small);
}
.tui-form.tui-form-size-small .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 12px;
}
.tui-form.tui-form-size-tiny .tui-form-item-label label {
  line-height: var(--size-tiny);
}
.tui-form.tui-form-size-tiny .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 10px;
}
.tui-form.tui-form-layout-vertical .tui-form-item {
  display: block;
}
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-label,
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-wrapper {
  display: block;
  flex: auto;
  max-width: 100%;
}
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-label {
  text-align: left !important;
}
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-label label {
  padding-right: 0;
}
.tui-form.tui-form-layout-inline {
  flex-flow: row wrap;
}
.tui-form.tui-form-layout-inline .tui-form-item {
  display: flex;
  margin-bottom: 8px;
  margin-right: 4px;
}
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-label,
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-wrapper {
  display: block;
  flex: auto;
  max-width: 100%;
}
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-label {
  padding: 0 4px;
  text-align: left !important;
}
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-label label {
  padding-right: 0;
}
.tui-form.tui-form-layout-inline .tui-form-item.tui-form-item-has-error .tui-form-item-tip {
  position: relative;
}
.tui-form .tui-form-item {
  margin-bottom: 20px;
}
.tui-form .tui-form-item .tui-form-item-label.tui-form-item-label-left {
  text-align: left;
}
.tui-form .tui-form-item .tui-form-item-label.tui-form-item-label-right {
  text-align: right;
}
.tui-form .tui-form-item .tui-form-item-label.tui-form-item-label-ceter {
  text-align: center;
}
.tui-form .tui-form-item .tui-form-item-label label.tui-form-item-required::before {
  display: inline-block;
  margin-right: 4px;
  color: rgb(var(--red-5));
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
.tui-form .tui-form-item .tui-form-item-control {
  padding: 0;
}
.tui-form .tui-form-item .tui-form-item-tip {
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  margin: 4px 0;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-form-item-tip {
  position: absolute;
  color: rgb(var(--red-5));
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input {
  border: solid 1px transparent;
  background: var(--color-error-1);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-foreground-1);
  border: solid 1px var(--color-error-1);
  box-shadow: inset 0 0 0 32px var(--color-error-1) !important;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:-webkit-autofill:hover {
  border: solid 1px rgb(var(--red-5));
  background: var(--color-error-2);
  box-shadow: inset 0 0 0 32px var(--color-error-2) !important;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:-webkit-autofill:focus {
  border: solid 1px rgb(var(--red-6));
  background: var(--color-error-1);
  box-shadow: 0px 0px 0px 3px var(--color-error-2), inset 0 0 0 32px var(--color-error-1) !important;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:hover {
  border: solid 1px rgb(var(--red-5));
  background: var(--color-error-2);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:focus {
  border: solid 1px rgb(var(--red-6));
  background: var(--color-error-1);
  box-shadow: 0px 0px 0px 3px var(--color-error-2);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-select {
  border: solid 1px transparent;
  background: var(--color-error-1);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-select:hover {
  border: solid 1px rgb(var(--red-5));
  background: var(--color-error-2);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-select:focus {
  border: solid 1px rgb(var(--red-6));
  background: var(--color-error-1);
  box-shadow: 0px 0px 0px 3px var(--color-error-2);
}

.tui-space {
  display: flex;
  flex-wrap: wrap;
}
.tui-space .tui-space-item {
  display: flex;
}

.examples {
    padding: 16px;
}
