.teatak-input-root {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4e4e4e;
  position: relative;
}
.teatak-input-root.disabled {
  color: #A6A6A6;
}
.teatak-input-root .teatak-input-start-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  margin-left: 7px;
  line-height: 0;
}
.teatak-input-root .teatak-input-start-icon svg {
  font-size: 20px;
}
.teatak-input-root .teatak-input-end-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  line-height: 0;
}
.teatak-input-root .teatak-input-end-icon svg {
  font-size: 20px;
}
.teatak-input-root .teatak-input {
  font-size: 14px;
  height: 32px;
  padding: 0 8px;
  outline: none;
  border: solid 1px #777777;
  border-radius: 3px;
  color: #4e4e4e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.teatak-input-root .teatak-input.teatak-input-has-start-icon {
  padding-left: 32px;
}
.teatak-input-root .teatak-input.teatak-input-has-end-icon {
  padding-right: 32px;
}
.teatak-input-root .teatak-input[disabled] {
  color: #A6A6A6;
  background-color: #efefef;
  border: solid 1px #A6A6A6;
}
.teatak-input-root .teatak-input[disabled]:hover,
.teatak-input-root .teatak-input[disabled]:focus {
  border: solid 1px #A6A6A6;
}
.teatak-input-root .teatak-input:hover {
  border: solid 1px #1974dc;
}
.teatak-input-root .teatak-input:focus {
  border: solid 1px #1974dc;
  -webkit-box-shadow: 0px 0px 0px 3px #dfecfb;
          box-shadow: 0px 0px 0px 3px #dfecfb;
}
.teatak-input-root.teatak-input-large .teatak-input-start-icon {
  margin-left: 9px;
}
.teatak-input-root.teatak-input-large .teatak-input-start-icon svg {
  font-size: 24px;
}
.teatak-input-root.teatak-input-large .teatak-input-end-icon {
  margin-right: 9px;
}
.teatak-input-root.teatak-input-large .teatak-input-end-icon svg {
  font-size: 24px;
}
.teatak-input-root.teatak-input-large .teatak-input {
  font-size: 16px;
  height: 40px;
  padding: 0 8px;
  border-radius: 4px;
}
.teatak-input-root.teatak-input-large .teatak-input.teatak-input-has-start-icon {
  padding-left: 40px;
}
.teatak-input-root.teatak-input-large .teatak-input.teatak-input-has-end-icon {
  padding-right: 40px;
}
.teatak-input-root.teatak-input-small .teatak-input-start-icon {
  margin-left: 5px;
}
.teatak-input-root.teatak-input-small .teatak-input-start-icon svg {
  font-size: 16px;
}
.teatak-input-root.teatak-input-small .teatak-input-end-icon {
  margin-right: 5px;
}
.teatak-input-root.teatak-input-small .teatak-input-end-icon svg {
  font-size: 16px;
}
.teatak-input-root.teatak-input-small .teatak-input {
  font-size: 12px;
  height: 24px;
  padding: 0 8px;
  border-radius: 2px;
}
.teatak-input-root.teatak-input-small .teatak-input.teatak-input-has-start-icon {
  padding-left: 24px;
}
.teatak-input-root.teatak-input-small .teatak-input.teatak-input-has-end-icon {
  padding-right: 24px;
}

.teatak-button {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 16px;
  height: 32px;
  outline: none;
  border: none;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #4e4e4e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.teatak-button svg {
  font-size: 20px;
  vertical-align: middle;
}
.teatak-button.teatak-button-size-large {
  border-radius: 4px;
  padding: 0 24px;
  height: 40px;
  font-size: 16px;
}
.teatak-button.teatak-button-size-large svg {
  font-size: 24px;
}
.teatak-button.teatak-button-size-large .teatak-button-start-icon {
  margin-right: 4px;
}
.teatak-button.teatak-button-size-large .teatak-button-start-icon svg {
  font-size: 24px;
}
.teatak-button.teatak-button-size-large .teatak-button-end-icon {
  margin-left: 4px;
}
.teatak-button.teatak-button-size-large .teatak-button-end-icon svg {
  font-size: 24px;
}
.teatak-button.teatak-button-size-small {
  border-radius: 2px;
  padding: 0 12px;
  height: 24px;
  font-size: 12px;
}
.teatak-button.teatak-button-size-small svg {
  font-size: 16px;
}
.teatak-button.teatak-button-size-small .teatak-button-start-icon {
  margin-right: 4px;
}
.teatak-button.teatak-button-size-small .teatak-button-start-icon svg {
  font-size: 16px;
}
.teatak-button.teatak-button-size-small .teatak-button-end-icon {
  margin-left: 4px;
}
.teatak-button.teatak-button-size-small .teatak-button-end-icon svg {
  font-size: 16px;
}
.teatak-button.teatak-button-rounded {
  border-radius: 16px;
  padding: 6px;
}
.teatak-button.teatak-button-rounded.teatak-button-size-large {
  border-radius: 20px;
  padding: 8px;
}
.teatak-button.teatak-button-rounded.teatak-button-size-small {
  border-radius: 12px;
  padding: 4px;
}
.teatak-button .teatak-button-start-icon {
  margin-right: 4px;
}
.teatak-button .teatak-button-start-icon svg {
  font-size: 20px;
  vertical-align: middle;
}
.teatak-button .teatak-button-end-icon {
  margin-left: 4px;
}
.teatak-button .teatak-button-end-icon svg {
  font-size: 20px;
  vertical-align: middle;
}
.teatak-button-default {
  background-color: transparent;
  color: #4e4e4e;
}
.teatak-button-default:hover {
  background-color: #f7f7f7;
}
.teatak-button-default:active,
.teatak-button-default.clicked {
  background-color: #eaeaea;
}
.teatak-button-default[disabled] {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-default[disabled]:hover,
.teatak-button-default[disabled]:focus,
.teatak-button-default[disabled]:active {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-default.teatak-button-color-primary {
  color: #1974dc;
}
.teatak-button-default.teatak-button-color-primary:hover {
  background-color: #f6fafe;
}
.teatak-button-default.teatak-button-color-primary:active,
.teatak-button-default.teatak-button-color-primary.clicked {
  background-color: #dfecfb;
}
.teatak-button-default.teatak-button-color-danger {
  color: #dc1919;
}
.teatak-button-default.teatak-button-color-danger:hover {
  background-color: #fef6f6;
}
.teatak-button-default.teatak-button-color-danger:active,
.teatak-button-default.teatak-button-color-danger.clicked {
  background-color: #fbdfdf;
}
.teatak-button-outlined {
  background-color: transparent;
  color: #4e4e4e;
  border: solid 1px #777777;
  padding: 0 15px;
}
.teatak-button-outlined:hover {
  background-color: #f7f7f7;
  border: solid 1px #636363;
}
.teatak-button-outlined:active,
.teatak-button-outlined.clicked {
  background-color: #eaeaea;
  border: solid 1px #4e4e4e;
}
.teatak-button-outlined[disabled] {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #A6A6A6;
}
.teatak-button-outlined[disabled]:hover,
.teatak-button-outlined[disabled]:focus,
.teatak-button-outlined[disabled]:active {
  color: #A6A6A6;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #A6A6A6;
}
.teatak-button-outlined.teatak-button-color-primary {
  color: #1974dc;
  border: solid 1px #1974dc;
}
.teatak-button-outlined.teatak-button-color-primary:hover {
  background-color: #f6fafe;
  border: solid 1px #1561b7;
}
.teatak-button-outlined.teatak-button-color-primary:active,
.teatak-button-outlined.teatak-button-color-primary.clicked {
  background-color: #dfecfb;
  border: solid 1px #114d93;
}
.teatak-button-outlined.teatak-button-color-danger {
  color: #dc1919;
  border: solid 1px #dc1919;
}
.teatak-button-outlined.teatak-button-color-danger:hover {
  background-color: #fef6f6;
  border: solid 1px #b71515;
}
.teatak-button-outlined.teatak-button-color-danger:active,
.teatak-button-outlined.teatak-button-color-danger.clicked {
  background-color: #fbdfdf;
  border: solid 1px #931111;
}
.teatak-button-outlined.teatak-button-size-large {
  padding: 0 23px;
}
.teatak-button-outlined.teatak-button-size-small {
  padding: 0 11px;
}
.teatak-button-outlined.teatak-button-rounded {
  border-radius: 100px;
  padding: 5px;
}
.teatak-button-outlined.teatak-button-rounded.teatak-button-size-large {
  padding: 7px;
}
.teatak-button-outlined.teatak-button-rounded.teatak-button-size-small {
  padding: 3px;
}
.teatak-button-filled {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .15), 0px 1px 1px 0px rgba(0, 0, 0, .15), 0px 1px 3px 0px rgba(0, 0, 0, .15);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .15), 0px 1px 1px 0px rgba(0, 0, 0, .15), 0px 1px 3px 0px rgba(0, 0, 0, .15);
  background-color: #f7f7f7;
}
.teatak-button-filled:hover {
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .15), 0px 1px 3px 0px rgba(0, 0, 0, .15), 0px 1px 3px 0px rgba(0, 0, 0, .15);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .15), 0px 1px 3px 0px rgba(0, 0, 0, .15), 0px 1px 3px 0px rgba(0, 0, 0, .15);
}
.teatak-button-filled:active,
.teatak-button-filled.clicked {
  background-color: #dddddd;
  -webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, .15), 0px 0px 2px 0px rgba(0, 0, 0, .15), 0px 0px 2px 0px rgba(0, 0, 0, .15);
          box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, .15), 0px 0px 2px 0px rgba(0, 0, 0, .15), 0px 0px 2px 0px rgba(0, 0, 0, .15);
}
.teatak-button-filled[disabled] {
  color: #A6A6A6;
  background: #efefef;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-filled[disabled]:hover,
.teatak-button-filled[disabled]:focus,
.teatak-button-filled[disabled]:active {
  color: #A6A6A6;
  background: #efefef;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.teatak-button-filled.teatak-button-color-primary {
  border: none;
  background: #1974dc;
  color: #FFF;
}
.teatak-button-filled.teatak-button-color-primary:hover {
  background-color: #1561b7;
}
.teatak-button-filled.teatak-button-color-primary:active,
.teatak-button-filled.teatak-button-color-primary.clicked {
  background-color: #114d93;
}
.teatak-button-filled.teatak-button-color-danger {
  border: none;
  background: #dc1919;
  color: #FFF;
}
.teatak-button-filled.teatak-button-color-danger:hover {
  background-color: #b71515;
}
.teatak-button-filled.teatak-button-color-danger:active,
.teatak-button-filled.teatak-button-color-danger.clicked {
  background-color: #931111;
}

.examples {
    padding: 16px;
}
