.tui-space {
  display: flex;
  flex-wrap: wrap;
}
.tui-space .tui-space-item {
  display: flex;
}

:root {
  --blue: #0366d6;
  --blue-5: var(--blue);
  --blue-1: color(#0366d6 lightness(+55%));
  --blue-2: color(#0366d6 lightness(+53%));
  --blue-3: color(#0366d6 lightness(+45%));
  --blue-4: color(#0366d6 lightness(+30%));
  --blue-6: color(#0366d6 blackness(+10%));
  --blue-7: color(#0366d6 blackness(+30%));
  --blue-8: color(#0366d6 blackness(+45%));
  --blue-9: color(#0366d6 blackness(+55%));

  --green: #03d66d;
  --green-5: var(--green);
  --green-1: color(#03d66d lightness(+55%));
  --green-2: color(#03d66d lightness(+53%));
  --green-3: color(#03d66d lightness(+45%));
  --green-4: color(#03d66d lightness(+30%));
  --green-6: color(#03d66d blackness(+10%));
  --green-7: color(#03d66d blackness(+30%));
  --green-8: color(#03d66d blackness(+45%));
  --green-9: color(#03d66d blackness(+55%));

  --red: #e6443b;
  --red-5: var(--red);
  --red-1: color(#e6443b lightness(+42%));
  --red-2: color(#e6443b lightness(+40%));
  --red-3: color(#e6443b lightness(+35%));
  --red-4: color(#e6443b lightness(+30%));
  --red-6: color(#e6443b blackness(+10%));
  --red-7: color(#e6443b blackness(+30%));
  --red-8: color(#e6443b blackness(+45%));
  --red-9: color(#e6443b blackness(+55%));

  --orange: #fc6d26;
  --orange-5: var(--orange);
  --orange-1: color(#fc6d26 lightness(+42%));
  --orange-2: color(#fc6d26 lightness(+40%));
  --orange-3: color(#fc6d26 lightness(+35%));
  --orange-4: color(#fc6d26 lightness(+30%));
  --orange-6: color(#fc6d26 blackness(+10%));
  --orange-7: color(#fc6d26 blackness(+30%));
  --orange-8: color(#fc6d26 blackness(+45%));
  --orange-9: color(#fc6d26 blackness(+55%));

  --yellow: #fbc12c;
  --purple: #6654C6;

  --black-1: color(#202123 a(60%));
  --black-2: color(#202123 a(65%));
  --black-3: color(#202123 a(70%));
  --black-4: color(#202123 a(75%));
  --black-5: color(#202123 a(80%));
  --black-6: color(#202123 a(85%));
  --black-7: color(#202123 a(90%));
  --black-8: color(#202123 a(95%));
  --black-9: color(#202123 a(100%));

  --black: var(--black-9);

  --heading-color: var(--black-9);
  --text-color: var(--black-8);
  --text-color-secondary: var(--black-7);

  --grey-1: color(#202123 a(5%));
  --grey-2: color(#202123 a(10%));
  --grey-3: color(#202123 a(15%));
  --grey-4: color(#202123 a(25%));
  --grey-5: color(#202123 a(35%));
  --grey-6: color(#202123 a(40%));
  --grey-7: color(#202123 a(45%));
  --grey-8: color(#202123 a(50%));
  --grey-9: color(#202123 a(55%));
  --grey: var(--grey-5);

  --white: #FFFFFF;

  --box-shadow: rgb(46 41 51 / 8%) 0px 4px 16px, rgb(71 63 79 / 16%) 0px 8px 24px;
  --box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  --box-shadow-sign: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 6px 12px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-main: 0 1px 8px rgba(0, 0, 0, .3);

  --border-radius: 4px;
  --border-radius-lg: 8px;
  --border-radius-sm: 2px;
}

.space-examples {
    padding: 8px;
}

.space-examples .tui-space .tui-space-item > div {
            }
