.tui-select {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  padding: 0 10px;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius-small);
  color: var(--color-foreground-1);
  background: var(--color-fill-3);
  max-width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  user-select: none;
}
.tui-select:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
}
.tui-select[disabled] {
  cursor: default;
  color: rgb(var(--grey-4));
  background: var(--color-fill-3);
  border: solid 1px transparent;
}
.tui-select[disabled]:hover,
.tui-select[disabled]:focus {
  color: rgb(var(--grey-4));
  background: var(--color-fill-3);
  border: solid 1px transparent;
}
.tui-select[disabled] .tui-select-suffix .tui-select-arrow {
  color: rgb(var(--grey-4));
  background: var(--color-fill-3);
}
.tui-select .tui-select-hidden {
  padding: 0 !important;
  border: none !important;
  width: 0 !important;
  position: absolute;
}
.tui-select.tui-select-no-border {
  border: solid 1px transparent;
  box-shadow: none;
  background: none;
}
.tui-select.tui-select-no-border:hover,
.tui-select.tui-select-no-border:focus,
.tui-select.tui-select-no-border.tui-select-focused {
  border: solid 1px transparent;
  box-shadow: none;
  background: none;
}
.tui-select.tui-select-single .tui-select-view-values {
  display: flex;
  flex: auto;
  overflow: hidden;
}
.tui-select.tui-select-single .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-single .tui-select-view-values .tui-select-view-value {
  font-size: 14px;
  height: 30px;
}
.tui-select.tui-select-single .tui-select-view-values .tui-select-view-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.tui-select.tui-select-single .tui-select-view-values .tui-select-view-value {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}
.tui-select.tui-select-single .tui-select-view-values .tui-select-view-value span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tui-select.tui-select-single.tui-select-size-large {
  padding: 0 12px;
}
.tui-select.tui-select-single.tui-select-size-large .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-single.tui-select-size-large .tui-select-view-values .tui-select-view-value {
  font-size: 14px;
  height: 34px;
}
.tui-select.tui-select-single.tui-select-size-large .tui-select-suffix {
  margin-left: 12px;
}
.tui-select.tui-select-single.tui-select-size-small {
  padding: 0 8px;
}
.tui-select.tui-select-single.tui-select-size-small .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-single.tui-select-size-small .tui-select-view-values .tui-select-view-value {
  font-size: 12px;
  height: 26px;
}
.tui-select.tui-select-single.tui-select-size-small .tui-select-suffix {
  margin-left: 8px;
}
.tui-select.tui-select-single.tui-select-size-tiny {
  padding: 0 6px;
}
.tui-select.tui-select-single.tui-select-size-tiny .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-single.tui-select-size-tiny .tui-select-view-values .tui-select-view-value {
  font-size: 12px;
  height: 22px;
}
.tui-select.tui-select-single.tui-select-size-tiny .tui-select-suffix {
  margin-left: 6px;
}
.tui-select.tui-select-multi {
  padding: 0 10px 0 2px;
}
.tui-select.tui-select-multi .tui-select-view-values {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  padding: 1px 0;
  overflow: hidden;
}
.tui-select.tui-select-multi .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-multi .tui-select-view-values .tui-select-view-value {
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 26px;
}
.tui-select.tui-select-multi .tui-select-view-values .tui-select-view-input {
  width: 100%;
  padding-left: 8px;
  background: transparent;
  border: none;
  outline: none;
}
.tui-select.tui-select-multi .tui-select-view-values .tui-select-view-value {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  padding: 0 8px;
  border: solid 1px var(--color-border-1);
  background: var(--color-fill-1);
  border-radius: var(--border-radius-small);
  margin-right: 2px;
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-select.tui-select-multi .tui-select-view-values .tui-select-view-value span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tui-select.tui-select-multi.tui-select-focused .tui-select-view-value {
  border: solid 1px var(--color-border-4);
  background: var(--color-fill-4);
}
.tui-select.tui-select-multi.tui-select-size-large {
  padding: 0 12px 0 2px;
}
.tui-select.tui-select-multi.tui-select-size-large .tui-select-view-values .tui-select-view-input {
  padding-left: 10px;
}
.tui-select.tui-select-multi.tui-select-size-large .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-multi.tui-select-size-large .tui-select-view-values .tui-select-view-value {
  font-size: 14px;
  height: 30px;
}
.tui-select.tui-select-multi.tui-select-size-large .tui-select-suffix {
  margin-left: 12px;
}
.tui-select.tui-select-multi.tui-select-size-small {
  padding: 0 8px 0 2px;
}
.tui-select.tui-select-multi.tui-select-size-small .tui-select-view-values .tui-select-view-input {
  padding-left: 6px;
}
.tui-select.tui-select-multi.tui-select-size-small .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-multi.tui-select-size-small .tui-select-view-values .tui-select-view-value {
  font-size: 12px;
  height: 22px;
}
.tui-select.tui-select-multi.tui-select-size-small .tui-select-suffix {
  margin-left: 8px;
}
.tui-select.tui-select-multi.tui-select-size-tiny {
  padding: 0 6px 0 2px;
}
.tui-select.tui-select-multi.tui-select-size-tiny .tui-select-view-values .tui-select-view-input {
  padding-left: 4px;
}
.tui-select.tui-select-multi.tui-select-size-tiny .tui-select-view-values .tui-select-view-input,
.tui-select.tui-select-multi.tui-select-size-tiny .tui-select-view-values .tui-select-view-value {
  font-size: 12px;
  height: 18px;
}
.tui-select.tui-select-multi.tui-select-size-tiny .tui-select-suffix {
  margin-left: 6px;
}
.tui-select.tui-select-focused {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2);
}
.tui-select .tui-select-suffix {
  margin-left: 10px;
}
.tui-select .tui-select-suffix .tui-select-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 12px;
  margin-top: 4px;
  color: var(--color-foreground-1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.tui-select .tui-select-suffix .tui-select-arrow::before {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  transform: rotate(-45deg) translate(2.5px);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}
.tui-select .tui-select-suffix .tui-select-arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  transform: rotate(45deg) translate(-2.5px);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}
.tui-select.tui-select-open .tui-select-suffix .tui-select-arrow {
  transform: translateY(-4px);
}
.tui-select.tui-select-open .tui-select-suffix .tui-select-arrow::before {
  transform: rotate(45deg) translate(2.5px);
}
.tui-select.tui-select-open .tui-select-suffix .tui-select-arrow::after {
  transform: rotate(-45deg) translate(-2.5px);
}
.tui-select-trigger .tui-trigger-inner {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  border: solid 1px var(--color-border-2);
  box-shadow: var(--box-shadow-select-trigger) !important;
}
.tui-select-trigger .tui-trigger-inner .tui-select-options {
  cursor: pointer;
  list-style: none;
  margin: 4px 0;
}
.tui-select-trigger .tui-trigger-inner .tui-select-options li {
  padding: 8px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-select-trigger .tui-trigger-inner .tui-select-options li.tui-select-option-selected {
  color: rgb(var(--primary-6));
}
.tui-select-trigger .tui-trigger-inner .tui-select-options li.tui-select-option-hover {
  background: var(--color-fill-3);
}
.tui-select-trigger .tui-trigger-inner .tui-select-options li.tui-select-option-disabled {
  color: rgb(var(--grey-5));
  background-color: transparent;
  cursor: default;
}
.tui-select-trigger.tui-select-trigger-multi .tui-trigger-inner .tui-select-options li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tui-select-trigger.tui-select-trigger-multi .tui-trigger-inner .tui-select-options li span {
  display: none;
}
.tui-select-trigger.tui-select-trigger-multi .tui-trigger-inner .tui-select-options li.tui-select-option-selected span {
  display: block;
  width: 8px;
  height: 10px;
  border: solid 2px rgb(var(--blue-5));
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
}

.tui-space {
  display: flex;
  flex-wrap: wrap;
}
.tui-space .tui-space-item {
  display: flex;
}

.tui-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  padding: var(--size-button-padding-medium);
  height: var(--size-medium);
  outline: none;
  border: none;
  font-size: 14px;
  user-select: none;
  color: var(--color-foreground-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-button svg {
  font-size: 20px;
  vertical-align: middle;
}
.tui-button .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-large {
  border-radius: var(--border-radius-large);
  padding: var(--size-button-padding-large);
  height: var(--size-large);
  font-size: 14px;
}
.tui-button.tui-button-size-large svg {
  font-size: 22px;
}
.tui-button.tui-button-size-large .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button.tui-button-size-large .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-small {
  border-radius: var(--border-radius-small);
  padding: var(--size-button-padding-small);
  height: var(--size-small);
  font-size: 12px;
}
.tui-button.tui-button-size-small svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-start-icon {
  margin-right: 3px;
}
.tui-button.tui-button-size-small .tui-button-start-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-end-icon {
  margin-left: 3px;
}
.tui-button.tui-button-size-small .tui-button-end-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-tiny {
  border-radius: var(--border-radius-small);
  padding: var(--size-button-padding-tiny);
  height: var(--size-tiny);
  font-size: 12px;
}
.tui-button.tui-button-size-tiny svg {
  font-size: 14px;
}
.tui-button.tui-button-size-tiny .tui-button-start-icon {
  margin-right: 2px;
}
.tui-button.tui-button-size-tiny .tui-button-start-icon svg {
  font-size: 14px;
}
.tui-button.tui-button-size-tiny .tui-button-end-icon {
  margin-left: 2px;
}
.tui-button.tui-button-size-tiny .tui-button-end-icon svg {
  font-size: 14px;
}
.tui-button.tui-button-long {
  width: 100%;
}
.tui-button.tui-button-rounded {
  border-radius: 16px;
}
.tui-button.tui-button-rounded.tui-button-size-large {
  border-radius: 18px;
}
.tui-button.tui-button-rounded.tui-button-size-small {
  border-radius: 14px;
}
.tui-button.tui-button-rounded.tui-button-size-tiny {
  border-radius: 12px;
}
.tui-button.tui-button-circle {
  border-radius: 50%;
  width: var(--size-medium);
  height: var(--size-medium);
  padding: 0;
}
.tui-button.tui-button-circle.tui-button-size-large {
  width: var(--size-large);
  height: var(--size-large);
}
.tui-button.tui-button-circle.tui-button-size-small {
  width: var(--size-small);
  height: var(--size-small);
}
.tui-button.tui-button-circle.tui-button-size-tiny {
  width: var(--size-tiny);
  height: var(--size-tiny);
}
.tui-button.tui-button-outlined {
  padding: var(--size-button-outlined-padding-medium);
}
.tui-button.tui-button-outlined.tui-button-size-large {
  padding: var(--size-button-outlined-padding-large);
}
.tui-button.tui-button-outlined.tui-button-size-small {
  padding: var(--size-button-outlined-padding-small);
}
.tui-button.tui-button-outlined.tui-button-size-tiny {
  padding: var(--size-button-outlined-padding-tiny);
}
.tui-button.tui-button-outlined.tui-button-circle {
  padding: 0;
}
.tui-button-text:not(disabled) {
  background-color: transparent;
  color: rgb(var(--primary-6));
  box-shadow: none;
}
.tui-button-text:not(disabled):hover,
.tui-button-text:not(disabled):focus {
  background-color: var(--color-primary-1);
  box-shadow: none;
}
.tui-button-text:not(disabled):active,
.tui-button-text:not(disabled).clicked {
  background-color: var(--color-primary-2);
  box-shadow: none;
}
.tui-button-text:not(disabled):disabled {
  cursor: default;
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.tui-button-text:not(disabled):disabled:hover,
.tui-button-text:not(disabled):disabled:focus,
.tui-button-text:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.tui-button-text.tui-button-color-primary {
  color: rgb(var(--primary-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-primary:hover,
.tui-button-text.tui-button-color-primary:focus {
  border: none;
  background-color: var(--color-primary-1);
}
.tui-button-text.tui-button-color-primary:active,
.tui-button-text.tui-button-color-primary.clicked {
  border: none;
  background-color: var(--color-primary-2);
}
.tui-button-text.tui-button-color-info {
  color: rgb(var(--primary-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-info:hover,
.tui-button-text.tui-button-color-info:focus {
  border: none;
  background-color: var(--color-primary-1);
}
.tui-button-text.tui-button-color-info:active,
.tui-button-text.tui-button-color-info.clicked {
  border: none;
  background-color: var(--color-primary-2);
}
.tui-button-text.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-secondary:hover,
.tui-button-text.tui-button-color-secondary:focus {
  border: none;
  background-color: var(--color-secondary-1);
}
.tui-button-text.tui-button-color-secondary:active,
.tui-button-text.tui-button-color-secondary.clicked {
  border: none;
  background-color: var(--color-secondary-2);
}
.tui-button-text.tui-button-color-success {
  color: rgb(var(--green-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-success:hover,
.tui-button-text.tui-button-color-success:focus {
  border: none;
  background-color: var(--color-success-1);
}
.tui-button-text.tui-button-color-success:active,
.tui-button-text.tui-button-color-success.clicked {
  border: none;
  background-color: var(--color-success-2);
}
.tui-button-text.tui-button-color-error {
  color: rgb(var(--red-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-error:hover,
.tui-button-text.tui-button-color-error:focus {
  border: none;
  background-color: var(--color-error-1);
}
.tui-button-text.tui-button-color-error:active,
.tui-button-text.tui-button-color-error.clicked {
  border: none;
  background-color: var(--color-error-2);
}
.tui-button-text.tui-button-color-warning {
  color: rgb(var(--orange-6));
  border: none;
  background-color: transparent;
}
.tui-button-text.tui-button-color-warning:hover,
.tui-button-text.tui-button-color-warning:focus {
  border: none;
  background-color: var(--color-warning-1);
}
.tui-button-text.tui-button-color-warning:active,
.tui-button-text.tui-button-color-warning.clicked {
  border: none;
  background-color: var(--color-warning-2);
}
.tui-button-filled:not(disabled) {
  background-color: rgb(var(--primary-6));
  color: #fff;
  box-shadow: none;
}
.tui-button-filled:not(disabled):hover,
.tui-button-filled:not(disabled):focus {
  background-color: rgb(var(--primary-5));
  box-shadow: var(--box-shadow-btn);
}
.tui-button-filled:not(disabled):active,
.tui-button-filled:not(disabled).clicked {
  background-color: rgb(var(--primary-7));
  box-shadow: var(--box-shadow-btn);
}
.tui-button-filled:not(disabled):disabled {
  cursor: default;
  color: rgb(var(--grey-5));
  background-color: rgb(var(--grey-2));
  box-shadow: none;
  border: none;
}
.tui-button-filled:not(disabled):disabled:hover,
.tui-button-filled:not(disabled):disabled:focus,
.tui-button-filled:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: rgb(var(--grey-2));
  box-shadow: none;
  border: none;
}
.tui-button-filled.tui-button-color-primary {
  color: #fff;
  border: none;
  background-color: rgb(var(--primary-6));
}
.tui-button-filled.tui-button-color-primary:hover,
.tui-button-filled.tui-button-color-primary:focus {
  border: none;
  background-color: rgb(var(--primary-5));
}
.tui-button-filled.tui-button-color-primary:active,
.tui-button-filled.tui-button-color-primary.clicked {
  border: none;
  background-color: rgb(var(--primary-7));
}
.tui-button-filled.tui-button-color-info {
  color: #fff;
  border: none;
  background-color: rgb(var(--primary-6));
}
.tui-button-filled.tui-button-color-info:hover,
.tui-button-filled.tui-button-color-info:focus {
  border: none;
  background-color: rgb(var(--primary-5));
}
.tui-button-filled.tui-button-color-info:active,
.tui-button-filled.tui-button-color-info.clicked {
  border: none;
  background-color: rgb(var(--primary-7));
}
.tui-button-filled.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: none;
  background-color: rgb(var(--grey-3));
}
.tui-button-filled.tui-button-color-secondary:hover,
.tui-button-filled.tui-button-color-secondary:focus {
  border: none;
  background-color: rgb(var(--grey-4));
}
.tui-button-filled.tui-button-color-secondary:active,
.tui-button-filled.tui-button-color-secondary.clicked {
  border: none;
  background-color: rgb(var(--grey-5));
}
.tui-button-filled.tui-button-color-success {
  color: #fff;
  border: none;
  background-color: rgb(var(--green-6));
}
.tui-button-filled.tui-button-color-success:hover,
.tui-button-filled.tui-button-color-success:focus {
  border: none;
  background-color: rgb(var(--green-5));
}
.tui-button-filled.tui-button-color-success:active,
.tui-button-filled.tui-button-color-success.clicked {
  border: none;
  background-color: rgb(var(--green-7));
}
.tui-button-filled.tui-button-color-error {
  color: #fff;
  border: none;
  background-color: rgb(var(--red-6));
}
.tui-button-filled.tui-button-color-error:hover,
.tui-button-filled.tui-button-color-error:focus {
  border: none;
  background-color: rgb(var(--red-5));
}
.tui-button-filled.tui-button-color-error:active,
.tui-button-filled.tui-button-color-error.clicked {
  border: none;
  background-color: rgb(var(--red-7));
}
.tui-button-filled.tui-button-color-warning {
  color: #fff;
  border: none;
  background-color: rgb(var(--orange-6));
}
.tui-button-filled.tui-button-color-warning:hover,
.tui-button-filled.tui-button-color-warning:focus {
  border: none;
  background-color: rgb(var(--orange-5));
}
.tui-button-filled.tui-button-color-warning:active,
.tui-button-filled.tui-button-color-warning.clicked {
  border: none;
  background-color: rgb(var(--orange-6));
}
.tui-button-outlined:not(disabled) {
  background-color: transparent;
  color: rgb(var(--primary-6));
  box-shadow: none;
}
.tui-button-outlined:not(disabled):hover,
.tui-button-outlined:not(disabled):focus {
  background-color: var(--color-primary-1);
  box-shadow: none;
}
.tui-button-outlined:not(disabled):active,
.tui-button-outlined:not(disabled).clicked {
  background-color: var(--color-primary-2);
  box-shadow: none;
}
.tui-button-outlined:not(disabled):disabled {
  cursor: default;
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: solid 1px rgb(var(--grey-4));
}
.tui-button-outlined:not(disabled):disabled:hover,
.tui-button-outlined:not(disabled):disabled:focus,
.tui-button-outlined:not(disabled):disabled:active {
  color: rgb(var(--grey-5));
  background-color: transparent;
  box-shadow: none;
  border: solid 1px rgb(var(--grey-4));
}
.tui-button-outlined.tui-button-color-primary {
  color: rgb(var(--primary-6));
  border: solid 1px rgb(var(--primary-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-primary:hover,
.tui-button-outlined.tui-button-color-primary:focus {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-primary-1);
}
.tui-button-outlined.tui-button-color-primary:active,
.tui-button-outlined.tui-button-color-primary.clicked {
  border: solid 1px rgb(var(--primary-7));
  background-color: var(--color-primary-2);
}
.tui-button-outlined.tui-button-color-info {
  color: rgb(var(--primary-6));
  border: solid 1px rgb(var(--primary-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-info:hover,
.tui-button-outlined.tui-button-color-info:focus {
  border: solid 1px rgb(var(--primary-6));
  background-color: var(--color-primary-1);
}
.tui-button-outlined.tui-button-color-info:active,
.tui-button-outlined.tui-button-color-info.clicked {
  border: solid 1px rgb(var(--primary-7));
  background-color: var(--color-primary-2);
}
.tui-button-outlined.tui-button-color-secondary {
  color: rgb(var(--grey-8));
  border: solid 1px rgb(var(--grey-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-secondary:hover,
.tui-button-outlined.tui-button-color-secondary:focus {
  border: solid 1px rgb(var(--grey-6));
  background-color: var(--color-secondary-1);
}
.tui-button-outlined.tui-button-color-secondary:active,
.tui-button-outlined.tui-button-color-secondary.clicked {
  border: solid 1px rgb(var(--grey-7));
  background-color: var(--color-secondary-2);
}
.tui-button-outlined.tui-button-color-success {
  color: rgb(var(--green-6));
  border: solid 1px rgb(var(--green-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-success:hover,
.tui-button-outlined.tui-button-color-success:focus {
  border: solid 1px rgb(var(--green-6));
  background-color: var(--color-success-1);
}
.tui-button-outlined.tui-button-color-success:active,
.tui-button-outlined.tui-button-color-success.clicked {
  border: solid 1px rgb(var(--green-7));
  background-color: var(--color-success-2);
}
.tui-button-outlined.tui-button-color-error {
  color: rgb(var(--red-6));
  border: solid 1px rgb(var(--red-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-error:hover,
.tui-button-outlined.tui-button-color-error:focus {
  border: solid 1px rgb(var(--red-6));
  background-color: var(--color-error-1);
}
.tui-button-outlined.tui-button-color-error:active,
.tui-button-outlined.tui-button-color-error.clicked {
  border: solid 1px rgb(var(--red-7));
  background-color: var(--color-error-2);
}
.tui-button-outlined.tui-button-color-warning {
  color: rgb(var(--orange-6));
  border: solid 1px rgb(var(--orange-5));
  background-color: transparent;
}
.tui-button-outlined.tui-button-color-warning:hover,
.tui-button-outlined.tui-button-color-warning:focus {
  border: solid 1px rgb(var(--orange-6));
  background-color: var(--color-warning-1);
}
.tui-button-outlined.tui-button-color-warning:active,
.tui-button-outlined.tui-button-color-warning.clicked {
  border: solid 1px rgb(var(--orange-7));
  background-color: var(--color-warning-2);
}

