.tui-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tui-space .tui-space-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples {
    padding: 16px;
}
