input::placeholder {
  color: #929292;
}
input::-webkit-input-placeholder {
  color: #929292;
}
input:-moz-placeholder {
  color: #929292;
}
input::-moz-placeholder {
  color: #929292;
}
input:-ms-input-placeholder {
  color: #929292;
}
.light-variable {
  --color: red;
  --background-color: red;
}
.dark-variable {
  --color: #fff;
  --background-color: #000;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --color: red;
  --background-color: red;
}
body,
button {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  color: rgba(0, 0, 0, 0.85);
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.tui-button {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 16px;
  height: 32px;
  outline: none;
  border: none;
  font-size: 14px;
  user-select: none;
  color: #4e4e4e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-button svg {
  font-size: 20px;
  vertical-align: middle;
}
.tui-button.tui-button-size-large {
  border-radius: 4px;
  padding: 0 24px;
  height: 40px;
  font-size: 16px;
}
.tui-button.tui-button-size-large svg {
  font-size: 24px;
}
.tui-button.tui-button-size-large .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button.tui-button-size-large .tui-button-start-icon svg {
  font-size: 24px;
}
.tui-button.tui-button-size-large .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-large .tui-button-end-icon svg {
  font-size: 24px;
}
.tui-button.tui-button-size-small {
  border-radius: 2px;
  padding: 0 12px;
  height: 24px;
  font-size: 12px;
}
.tui-button.tui-button-size-small svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button.tui-button-size-small .tui-button-start-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-size-small .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button.tui-button-size-small .tui-button-end-icon svg {
  font-size: 16px;
}
.tui-button.tui-button-rounded {
  border-radius: 16px;
  padding: 6px;
}
.tui-button.tui-button-rounded.tui-button-size-large {
  border-radius: 20px;
  padding: 8px;
}
.tui-button.tui-button-rounded.tui-button-size-small {
  border-radius: 12px;
  padding: 4px;
}
.tui-button .tui-button-start-icon {
  margin-right: 4px;
}
.tui-button .tui-button-start-icon svg {
  font-size: 20px;
  vertical-align: middle;
}
.tui-button .tui-button-end-icon {
  margin-left: 4px;
}
.tui-button .tui-button-end-icon svg {
  font-size: 20px;
  vertical-align: middle;
}
.tui-button-default {
  background-color: transparent;
  color: #4e4e4e;
}
.tui-button-default:hover {
  background-color: rgba(119, 119, 119, 0.1);
}
.tui-button-default:active,
.tui-button-default.clicked {
  background-color: rgba(119, 119, 119, 0.25);
}
.tui-button-default[disabled] {
  color: #dadada;
  background-color: transparent;
  box-shadow: none;
}
.tui-button-default[disabled]:hover,
.tui-button-default[disabled]:focus,
.tui-button-default[disabled]:active {
  color: #dadada;
  background-color: transparent;
  box-shadow: none;
}
.tui-button-default.tui-button-color-primary {
  color: #1974dc;
}
.tui-button-default.tui-button-color-primary:hover {
  background-color: rgba(26, 115, 232, 0.1);
}
.tui-button-default.tui-button-color-primary:active,
.tui-button-default.tui-button-color-primary.clicked {
  background-color: rgba(26, 115, 232, 0.25);
}
.tui-button-default.tui-button-color-danger {
  color: #dc1919;
}
.tui-button-default.tui-button-color-danger:hover {
  background-color: rgba(220, 25, 25, 0.1);
}
.tui-button-default.tui-button-color-danger:active,
.tui-button-default.tui-button-color-danger.clicked {
  background-color: rgba(220, 25, 25, 0.25);
}
.tui-button-outlined {
  background-color: transparent;
  color: #4e4e4e;
  border: solid 1px #777777;
  padding: 0 15px;
}
.tui-button-outlined:hover {
  background-color: rgba(119, 119, 119, 0.1);
  border: solid 1px #636363;
}
.tui-button-outlined:active,
.tui-button-outlined.clicked {
  background-color: rgba(119, 119, 119, 0.25);
  border: solid 1px #4e4e4e;
}
.tui-button-outlined[disabled] {
  color: #dadada;
  background-color: transparent;
  box-shadow: none;
  border: solid 1px #dadada;
}
.tui-button-outlined[disabled]:hover,
.tui-button-outlined[disabled]:focus,
.tui-button-outlined[disabled]:active {
  color: #dadada;
  background-color: transparent;
  box-shadow: none;
  border: solid 1px #dadada;
}
.tui-button-outlined.tui-button-color-primary {
  color: #1974dc;
  border: solid 1px #1974dc;
}
.tui-button-outlined.tui-button-color-primary:hover {
  background-color: rgba(26, 115, 232, 0.1);
  border: solid 1px #1561b7;
}
.tui-button-outlined.tui-button-color-primary:active,
.tui-button-outlined.tui-button-color-primary.clicked {
  background-color: rgba(26, 115, 232, 0.25);
  border: solid 1px #114d93;
}
.tui-button-outlined.tui-button-color-danger {
  color: #dc1919;
  border: solid 1px #dc1919;
}
.tui-button-outlined.tui-button-color-danger:hover {
  background-color: rgba(220, 25, 25, 0.1);
  border: solid 1px #b71515;
}
.tui-button-outlined.tui-button-color-danger:active,
.tui-button-outlined.tui-button-color-danger.clicked {
  background-color: rgba(220, 25, 25, 0.25);
  border: solid 1px #931111;
}
.tui-button-outlined.tui-button-size-large {
  padding: 0 23px;
}
.tui-button-outlined.tui-button-size-small {
  padding: 0 11px;
}
.tui-button-outlined.tui-button-rounded {
  border-radius: 100px;
  padding: 5px;
}
.tui-button-outlined.tui-button-rounded.tui-button-size-large {
  padding: 7px;
}
.tui-button-outlined.tui-button-rounded.tui-button-size-small {
  padding: 3px;
}
.tui-button-filled {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.15), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(119, 119, 119, 0.1);
}
.tui-button-filled:hover {
  background-color: rgba(119, 119, 119, 0.25);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.tui-button-filled:active,
.tui-button-filled.clicked {
  background-color: rgba(119, 119, 119, 0.4);
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.tui-button-filled[disabled] {
  color: #dadada;
  background: #f1f1f1;
  box-shadow: none;
}
.tui-button-filled[disabled]:hover,
.tui-button-filled[disabled]:focus,
.tui-button-filled[disabled]:active {
  color: #dadada;
  background: #f1f1f1;
  box-shadow: none;
}
.tui-button-filled.tui-button-color-primary {
  border: none;
  background: #1974dc;
  color: #FFF;
}
.tui-button-filled.tui-button-color-primary:hover {
  background-color: #1561b7;
}
.tui-button-filled.tui-button-color-primary:active,
.tui-button-filled.tui-button-color-primary.clicked {
  background-color: #114d93;
}
.tui-button-filled.tui-button-color-danger {
  border: none;
  background: #dc1919;
  color: #FFF;
}
.tui-button-filled.tui-button-color-danger:hover {
  background-color: #b71515;
}
.tui-button-filled.tui-button-color-danger:active,
.tui-button-filled.tui-button-color-danger.clicked {
  background-color: #931111;
}

.tui-menu {
  list-style: none;
  padding: 0;
}
.tui-menu .tui-menu-item {
  cursor: pointer;
}
.tui-menu .tui-menu-item a {
  display: block;
  padding: 8px 16px;
  color: #4e4e4e;
  transition: all 0.3s cubic-bezier(0.44, 0.9, 0.6, 0.94);
}
.tui-menu .tui-menu-item a:hover {
  color: #1974dc;
}
.tui-menu .tui-menu-item a.active {
  background: rgba(26, 115, 232, 0.1);
  color: #1974dc;
}

:root {
  --blue: #0366d6;
  --blue-5: var(--blue);
  --blue-1: color(#0366d6 lightness(+55%));
  --blue-2: color(#0366d6 lightness(+53%));
  --blue-3: color(#0366d6 lightness(+45%));
  --blue-4: color(#0366d6 lightness(+30%));
  --blue-6: color(#0366d6 blackness(+10%));
  --blue-7: color(#0366d6 blackness(+30%));
  --blue-8: color(#0366d6 blackness(+45%));
  --blue-9: color(#0366d6 blackness(+55%));

  --green: #03d66d;
  --green-5: var(--green);
  --green-1: color(#03d66d lightness(+55%));
  --green-2: color(#03d66d lightness(+53%));
  --green-3: color(#03d66d lightness(+45%));
  --green-4: color(#03d66d lightness(+30%));
  --green-6: color(#03d66d blackness(+10%));
  --green-7: color(#03d66d blackness(+30%));
  --green-8: color(#03d66d blackness(+45%));
  --green-9: color(#03d66d blackness(+55%));

  --red: #e6443b;
  --red-5: var(--red);
  --red-1: color(#e6443b lightness(+42%));
  --red-2: color(#e6443b lightness(+40%));
  --red-3: color(#e6443b lightness(+35%));
  --red-4: color(#e6443b lightness(+30%));
  --red-6: color(#e6443b blackness(+10%));
  --red-7: color(#e6443b blackness(+30%));
  --red-8: color(#e6443b blackness(+45%));
  --red-9: color(#e6443b blackness(+55%));

  --orange: #fc6d26;
  --orange-5: var(--orange);
  --orange-1: color(#fc6d26 lightness(+42%));
  --orange-2: color(#fc6d26 lightness(+40%));
  --orange-3: color(#fc6d26 lightness(+35%));
  --orange-4: color(#fc6d26 lightness(+30%));
  --orange-6: color(#fc6d26 blackness(+10%));
  --orange-7: color(#fc6d26 blackness(+30%));
  --orange-8: color(#fc6d26 blackness(+45%));
  --orange-9: color(#fc6d26 blackness(+55%));

  --yellow: #fbc12c;
  --purple: #6654C6;

  --black-1: color(#202123 a(60%));
  --black-2: color(#202123 a(65%));
  --black-3: color(#202123 a(70%));
  --black-4: color(#202123 a(75%));
  --black-5: color(#202123 a(80%));
  --black-6: color(#202123 a(85%));
  --black-7: color(#202123 a(90%));
  --black-8: color(#202123 a(95%));
  --black-9: color(#202123 a(100%));

  --black: var(--black-9);

  --heading-color: var(--black-9);
  --text-color: var(--black-8);
  --text-color-secondary: var(--black-7);

  --grey-1: color(#202123 a(5%));
  --grey-2: color(#202123 a(10%));
  --grey-3: color(#202123 a(15%));
  --grey-4: color(#202123 a(25%));
  --grey-5: color(#202123 a(35%));
  --grey-6: color(#202123 a(40%));
  --grey-7: color(#202123 a(45%));
  --grey-8: color(#202123 a(50%));
  --grey-9: color(#202123 a(55%));
  --grey: var(--grey-5);

  --white: #FFFFFF;

  --box-shadow: rgb(46 41 51 / 8%) 0px 4px 16px, rgb(71 63 79 / 16%) 0px 8px 24px;
  --box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  --box-shadow-sign: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 6px 12px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-main: 0 1px 8px rgba(0, 0, 0, .3);

  --border-radius: 4px;
  --border-radius-lg: 8px;
  --border-radius-sm: 2px;
}

.ui-spinner {
  width: 32px;
  height: 32px;
  color: var(--blue);
  stroke: currentColor;
  animation: spinner 2s infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    transform: rotate(360deg);
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    transform: rotate(360deg);
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
:root {
  --blue: #0366d6;
  --blue-5: var(--blue);
  --blue-1: color(#0366d6 lightness(+55%));
  --blue-2: color(#0366d6 lightness(+53%));
  --blue-3: color(#0366d6 lightness(+45%));
  --blue-4: color(#0366d6 lightness(+30%));
  --blue-6: color(#0366d6 blackness(+10%));
  --blue-7: color(#0366d6 blackness(+30%));
  --blue-8: color(#0366d6 blackness(+45%));
  --blue-9: color(#0366d6 blackness(+55%));

  --green: #03d66d;
  --green-5: var(--green);
  --green-1: color(#03d66d lightness(+55%));
  --green-2: color(#03d66d lightness(+53%));
  --green-3: color(#03d66d lightness(+45%));
  --green-4: color(#03d66d lightness(+30%));
  --green-6: color(#03d66d blackness(+10%));
  --green-7: color(#03d66d blackness(+30%));
  --green-8: color(#03d66d blackness(+45%));
  --green-9: color(#03d66d blackness(+55%));

  --red: #e6443b;
  --red-5: var(--red);
  --red-1: color(#e6443b lightness(+42%));
  --red-2: color(#e6443b lightness(+40%));
  --red-3: color(#e6443b lightness(+35%));
  --red-4: color(#e6443b lightness(+30%));
  --red-6: color(#e6443b blackness(+10%));
  --red-7: color(#e6443b blackness(+30%));
  --red-8: color(#e6443b blackness(+45%));
  --red-9: color(#e6443b blackness(+55%));

  --orange: #fc6d26;
  --orange-5: var(--orange);
  --orange-1: color(#fc6d26 lightness(+42%));
  --orange-2: color(#fc6d26 lightness(+40%));
  --orange-3: color(#fc6d26 lightness(+35%));
  --orange-4: color(#fc6d26 lightness(+30%));
  --orange-6: color(#fc6d26 blackness(+10%));
  --orange-7: color(#fc6d26 blackness(+30%));
  --orange-8: color(#fc6d26 blackness(+45%));
  --orange-9: color(#fc6d26 blackness(+55%));

  --yellow: #fbc12c;
  --purple: #6654C6;

  --black-1: color(#202123 a(60%));
  --black-2: color(#202123 a(65%));
  --black-3: color(#202123 a(70%));
  --black-4: color(#202123 a(75%));
  --black-5: color(#202123 a(80%));
  --black-6: color(#202123 a(85%));
  --black-7: color(#202123 a(90%));
  --black-8: color(#202123 a(95%));
  --black-9: color(#202123 a(100%));

  --black: var(--black-9);

  --heading-color: var(--black-9);
  --text-color: var(--black-8);
  --text-color-secondary: var(--black-7);

  --grey-1: color(#202123 a(5%));
  --grey-2: color(#202123 a(10%));
  --grey-3: color(#202123 a(15%));
  --grey-4: color(#202123 a(25%));
  --grey-5: color(#202123 a(35%));
  --grey-6: color(#202123 a(40%));
  --grey-7: color(#202123 a(45%));
  --grey-8: color(#202123 a(50%));
  --grey-9: color(#202123 a(55%));
  --grey: var(--grey-5);

  --white: #FFFFFF;

  --box-shadow: rgb(46 41 51 / 8%) 0px 4px 16px, rgb(71 63 79 / 16%) 0px 8px 24px;
  --box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  --box-shadow-sign: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 6px 12px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-main: 0 1px 8px rgba(0, 0, 0, .3);

  --border-radius: 4px;
  --border-radius-lg: 8px;
  --border-radius-sm: 2px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

main {
  display: flex;
}

main .menu {
    flex: 0 0 200px;
    border-right: solid 1px #eee;
  }

main .menu .tui-menu {
      padding-top: 16px;
    }

main .content {
    margin: 16px;
    flex: auto;
    position: relative;
  }

.markdown blockquote {
      padding: 20px 45px 20px 26px;
      background-color: rgba(255,229,100,0.3);
      border-left: 8px #ffe564 solid;
      margin: 24px 0;
      margin-top: 8px;
    }

.markdown blockquote p {
        margin: 0;
      }

.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
      margin: 24px 0;
      margin-top: 8px;
    }

.markdown ul {
      margin-left: 24px;
      list-style: disc;
    }

.markdown pre,.markdown code {
      font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
      font-size: 14px;
      margin: 24px 0;
      margin-top: 8px;
    }

.markdown p > code {
      padding: 0 3px;
      background: rgba(255,229,100,0.2);
    }

.markdown table {
      border-collapse: collapse;
      border-spacing: 0;
      margin: 24px 0;
      margin-top: 8px;
    }

.markdown table tr {
        border-top: 1px solid #c6cbd1;
        background: #fff;
      }

.markdown table tr th, .markdown table tr td {
          text-align: left;
          font-size: 14px;
          padding: 6px 13px;
          border: 1px solid #dfe2e5;
        }

/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

