input::-webkit-input-placeholder {
  color: #929292;
}
input::-moz-placeholder {
  color: #929292;
}
input::-ms-input-placeholder {
  color: #929292;
}
input::placeholder {
  color: #929292;
}
input::-webkit-input-placeholder {
  color: #929292;
}
input:-moz-placeholder {
  color: #929292;
}
input::-moz-placeholder {
  color: #929292;
}
input:-ms-input-placeholder {
  color: #929292;
}
* {
  margin: 0;
  padding: 0;
}
body,
button {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  color: rgba(0, 0, 0, .85);
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.ui-menu {
  cursor: pointer;
}

.ui-spinner {
  width: 32px;
  height: 32px;
  color: #0366d6;
  stroke: currentColor;
  -webkit-animation: spinner 2s infinite linear;
          animation: spinner 2s infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
  color: #0366d6;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

main .menu {
  width: 200px;
  border-right: solid 1px #eee;
}

main .menu ul {
  margin: 16px;
}

main .content {
  margin: 16px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  position: relative;
}

.markdown blockquote {
  padding: 20px 45px 20px 26px;
  background-color: rgba(255, 229, 100, .3);
  border-left: 8px #ffe564 solid;
  margin: 24px 0;
  margin-top: 8px;
}

.markdown blockquote p {
  margin: 0;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
  margin: 24px 0;
  margin-top: 8px;
}

.markdown ul {
  margin-left: 24px;
  list-style: disc;
}

.markdown pre,.markdown code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  font-size: 14px;
  margin: 24px 0;
  margin-top: 8px;
}

.markdown p > code {
  padding: 0 3px;
  background: rgba(255, 229, 100, .2);
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 24px 0;
  margin-top: 8px;
}

.markdown table tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

.markdown table tr th, .markdown table tr td {
  text-align: left;
  font-size: 14px;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #29d, 0 0 5px #29d;
          box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

