.tui-trigger {
  position: absolute;
}
.tui-trigger .tui-trigger-inner {
  background-color: var(--color-background-popup);
  border-radius: var(--border-radius-medium);
  padding: 8px 12px;
}
.tui-trigger .tui-trigger-arrow {
  position: absolute;
  display: block;
  width: 20px;
  height: 16px;
  overflow: hidden;
  background: 0 0;
  pointer-events: none;
}
.tui-trigger .tui-trigger-arrow::before {
  position: absolute;
  inset: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  content: "";
  border-radius: 0 0 2px;
  pointer-events: none;
  box-sizing: border-box;
}
.tui-trigger.tui-trigger-bottom {
  padding-top: 8px;
}
.tui-trigger.tui-trigger-bottom .tui-trigger-inner {
  box-shadow: var(--box-shadow-popup-down);
}
.tui-trigger.tui-trigger-bottom .tui-trigger-arrow {
  top: -7px;
  left: calc(50% - 10px);
}
.tui-trigger.tui-trigger-bottom .tui-trigger-arrow::before {
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup-arrow);
  transform: translateY(8px) rotate(-135deg);
}
.tui-trigger.tui-trigger-bottomLeft {
  padding-top: 8px;
}
.tui-trigger.tui-trigger-bottomLeft .tui-trigger-inner {
  box-shadow: var(--box-shadow-popup-down);
}
.tui-trigger.tui-trigger-bottomLeft .tui-trigger-arrow {
  top: -7px;
  left: 16px;
}
.tui-trigger.tui-trigger-bottomLeft .tui-trigger-arrow::before {
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup-arrow);
  transform: translateY(8px) rotate(-135deg);
}
.tui-trigger.tui-trigger-bottomRight {
  padding-top: 8px;
}
.tui-trigger.tui-trigger-bottomRight .tui-trigger-inner {
  box-shadow: var(--box-shadow-popup-down);
}
.tui-trigger.tui-trigger-bottomRight .tui-trigger-arrow {
  top: -7px;
  right: 16px;
}
.tui-trigger.tui-trigger-bottomRight .tui-trigger-arrow::before {
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup-arrow);
  transform: translateY(8px) rotate(-135deg);
}
.tui-trigger.tui-trigger-top {
  padding-bottom: 8px;
}
.tui-trigger.tui-trigger-top .tui-trigger-inner {
  box-shadow: var(--box-shadow-popup-up);
}
.tui-trigger.tui-trigger-top .tui-trigger-arrow {
  bottom: -7px;
  left: calc(50% - 10px);
}
.tui-trigger.tui-trigger-top .tui-trigger-arrow::before {
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup-arrow);
  transform: translateY(-8px) rotate(45deg);
}
.tui-trigger.tui-trigger-topLeft {
  padding-bottom: 8px;
}
.tui-trigger.tui-trigger-topLeft .tui-trigger-inner {
  box-shadow: var(--box-shadow-popup-up);
}
.tui-trigger.tui-trigger-topLeft .tui-trigger-arrow {
  bottom: -7px;
  left: 16px;
}
.tui-trigger.tui-trigger-topLeft .tui-trigger-arrow::before {
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup-arrow);
  transform: translateY(-8px) rotate(45deg);
}
.tui-trigger.tui-trigger-topRight {
  padding-bottom: 8px;
}
.tui-trigger.tui-trigger-topRight .tui-trigger-inner {
  box-shadow: var(--box-shadow-popup-up);
}
.tui-trigger.tui-trigger-topRight .tui-trigger-arrow {
  bottom: -7px;
  right: 16px;
}
.tui-trigger.tui-trigger-topRight .tui-trigger-arrow::before {
  background-color: var(--color-background-popup);
  box-shadow: var(--box-shadow-popup-arrow);
  transform: translateY(-8px) rotate(45deg);
}
.tui-trigger.tui-trigger-no-arrow {
  padding: 0;
}
.tui-trigger.tui-trigger-tooltip {
  color: var(--color-foreground-tooltip);
}
.tui-trigger.tui-trigger-tooltip .tui-trigger-inner {
  background-color: var(--color-background-tooltip);
  border: solid 1px var(--color-fill-3);
}
.tui-trigger.tui-trigger-tooltip .tui-trigger-arrow::before {
  background-color: var(--color-background-tooltip);
  border: solid 1px var(--color-fill-3);
}
.tui-trigger.tui-trigger-fade-enter {
  opacity: 0;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1), transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tui-trigger.tui-trigger-fade-enter.tui-trigger-fade-enter-active {
  opacity: 1;
}
.tui-trigger.tui-trigger-fade-exit {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1), transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tui-trigger.tui-trigger-fade-exit.tui-trigger-fade-exit-active {
  opacity: 0;
}


