.tui-input-root {
  display: inline-flex;
  align-items: center;
  color: var(--color-foreground-1);
  position: relative;
  width: 100%;
}
.tui-input-root.disabled {
  color: rgb(var(--grey-5));
}
.tui-input-root .tui-input-start-icon {
  display: inline-flex;
  position: absolute;
  margin-left: 7px;
  line-height: 0;
}
.tui-input-root .tui-input-start-icon svg {
  font-size: 20px;
}
.tui-input-root .tui-input-end-icon {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  line-height: 0;
}
.tui-input-root .tui-input-end-icon svg {
  font-size: 20px;
}
.tui-input-root .tui-input {
  font-size: 14px;
  height: 32px;
  padding: 0 8px;
  outline: none;
  border: solid 1px var(--color-border-3);
  border-radius: var(--border-radius-medium);
  color: var(--color-foreground-1);
  background: var(--color-fill-2);
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-input-root .tui-input.tui-input-has-start-icon {
  padding-left: 32px;
}
.tui-input-root .tui-input.tui-input-has-end-icon {
  padding-right: 32px;
}
.tui-input-root .tui-input[disabled] {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-input-root .tui-input[disabled]:hover,
.tui-input-root .tui-input[disabled]:focus {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-input-root .tui-input:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
}
.tui-input-root .tui-input:focus {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-1);
}
.tui-input-root.tui-input-size-large .tui-input-start-icon {
  margin-left: 9px;
}
.tui-input-root.tui-input-size-large .tui-input-start-icon svg {
  font-size: 24px;
}
.tui-input-root.tui-input-size-large .tui-input-end-icon {
  margin-right: 9px;
}
.tui-input-root.tui-input-size-large .tui-input-end-icon svg {
  font-size: 24px;
}
.tui-input-root.tui-input-size-large .tui-input {
  font-size: 16px;
  height: 40px;
  padding: 0 8px;
  border-radius: var(--border-radius-large);
}
.tui-input-root.tui-input-size-large .tui-input.tui-input-has-start-icon {
  padding-left: 40px;
}
.tui-input-root.tui-input-size-large .tui-input.tui-input-has-end-icon {
  padding-right: 40px;
}
.tui-input-root.tui-input-size-small .tui-input-start-icon {
  margin-left: 5px;
}
.tui-input-root.tui-input-size-small .tui-input-start-icon svg {
  font-size: 16px;
}
.tui-input-root.tui-input-size-small .tui-input-end-icon {
  margin-right: 5px;
}
.tui-input-root.tui-input-size-small .tui-input-end-icon svg {
  font-size: 16px;
}
.tui-input-root.tui-input-size-small .tui-input {
  font-size: 12px;
  height: 24px;
  padding: 0 8px;
  border-radius: var(--border-radius-small);
}
.tui-input-root.tui-input-size-small .tui-input.tui-input-has-start-icon {
  padding-left: 24px;
}
.tui-input-root.tui-input-size-small .tui-input.tui-input-has-end-icon {
  padding-right: 24px;
}

.tui-form-item {
  margin-bottom: 16px;
}
.tui-form-item .tui-form-item-tip {
  font-size: 12px;
  margin: 8px 0 0;
}
.tui-form-item.has-error .tui-form-item-tip {
  color: rgb(var(--red-6));
}
.tui-form-item.has-error .tui-input-root .tui-input {
  border: solid 1px rgb(var(--red-6));
}
.tui-form-item.has-error .tui-input-root .tui-input:hover {
  border: solid 1px rgb(var(--red-6));
}
.tui-form-item.has-error .tui-input-root .tui-input:focus {
  box-shadow: 0px 0px 0px 3px rgb(var(--red-2));
}

.examples {
    padding: 16px;
}
