.tui-input-root {
  display: inline-flex;
  align-items: center;
  color: var(--color-foreground-1);
  position: relative;
  width: 100%;
}
.tui-input-root.disabled {
  color: rgb(var(--grey-5));
}
.tui-input-root .tui-input-start-icon {
  display: inline-flex;
  position: absolute;
  margin-left: 7px;
  line-height: 0;
}
.tui-input-root .tui-input-start-icon svg {
  font-size: 20px;
}
.tui-input-root .tui-input-end-icon {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  line-height: 0;
}
.tui-input-root .tui-input-end-icon svg {
  font-size: 20px;
}
.tui-input-root .tui-input {
  font-size: 14px;
  height: var(--size-medium);
  padding: 0 12px;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius-small);
  color: var(--color-foreground-1);
  background: var(--color-fill-3);
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tui-input-root .tui-input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-foreground-1);
  box-shadow: inset 0 0 0 32px var(--color-fill-3) !important;
  border: solid 1px var(--color-fill-3);
}
.tui-input-root .tui-input:-webkit-autofill:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
  box-shadow: inset 0 0 0 32px var(--color-fill-3) !important;
}
.tui-input-root .tui-input:-webkit-autofill:focus {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2), inset 0 0 0 32px var(--color-fill-2) !important;
}
.tui-input-root .tui-input.tui-input-has-start-icon {
  padding-left: 32px;
}
.tui-input-root .tui-input.tui-input-has-end-icon {
  padding-right: 32px;
}
.tui-input-root .tui-input[disabled] {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-input-root .tui-input[disabled]:hover,
.tui-input-root .tui-input[disabled]:focus {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-input-root .tui-input:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
}
.tui-input-root .tui-input:focus {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2);
}
.tui-input-root.tui-input-size-large .tui-input-start-icon {
  margin-left: 8px;
}
.tui-input-root.tui-input-size-large .tui-input-start-icon svg {
  font-size: 22px;
}
.tui-input-root.tui-input-size-large .tui-input-end-icon {
  margin-right: 8px;
}
.tui-input-root.tui-input-size-large .tui-input-end-icon svg {
  font-size: 22px;
}
.tui-input-root.tui-input-size-large .tui-input {
  font-size: 14px;
  height: var(--size-large);
  padding: 0 16px;
  border-radius: var(--border-radius-small);
}
.tui-input-root.tui-input-size-large .tui-input.tui-input-has-start-icon {
  padding-left: 36px;
}
.tui-input-root.tui-input-size-large .tui-input.tui-input-has-end-icon {
  padding-right: 36px;
}
.tui-input-root.tui-input-size-small .tui-input-start-icon {
  margin-left: 7px;
}
.tui-input-root.tui-input-size-small .tui-input-start-icon svg {
  font-size: 16px;
}
.tui-input-root.tui-input-size-small .tui-input-end-icon {
  margin-right: 7px;
}
.tui-input-root.tui-input-size-small .tui-input-end-icon svg {
  font-size: 16px;
}
.tui-input-root.tui-input-size-small .tui-input {
  font-size: 12px;
  height: var(--size-small);
  padding: 0 8px;
  border-radius: var(--border-radius-small);
}
.tui-input-root.tui-input-size-small .tui-input.tui-input-has-start-icon {
  padding-left: 28px;
}
.tui-input-root.tui-input-size-small .tui-input.tui-input-has-end-icon {
  padding-right: 28px;
}
.tui-input-root.tui-input-size-tiny .tui-input-start-icon {
  margin-left: 6px;
}
.tui-input-root.tui-input-size-tiny .tui-input-start-icon svg {
  font-size: 14px;
}
.tui-input-root.tui-input-size-tiny .tui-input-end-icon {
  margin-right: 6px;
}
.tui-input-root.tui-input-size-tiny .tui-input-end-icon svg {
  font-size: 14px;
}
.tui-input-root.tui-input-size-tiny .tui-input {
  font-size: 12px;
  height: var(--size-tiny);
  padding: 0 6px;
  border-radius: var(--border-radius-small);
}
.tui-input-root.tui-input-size-tiny .tui-input.tui-input-has-start-icon {
  padding-left: 24px;
}
.tui-input-root.tui-input-size-tiny .tui-input.tui-input-has-end-icon {
  padding-right: 24px;
}

.tui-select {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  height: var(--size-medium);
  padding: 0 10px;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius-small);
  color: var(--color-foreground-1);
  background: var(--color-fill-3);
  max-width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.tui-select[disabled] {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-select[disabled]:hover,
.tui-select[disabled]:focus {
  color: rgb(var(--grey-5));
  background: rbg(var(--grey-2));
  border: solid 1px rgb(var(--grey-3));
}
.tui-select:hover {
  border: solid 1px rgb(var(--primary-5));
  background: var(--color-fill-3);
}
.tui-select.tui-select-focused {
  border: solid 1px rgb(var(--primary-6));
  background: var(--color-fill-2);
  box-shadow: 0px 0px 0px 3px var(--color-primary-2);
}
.tui-select.disabled {
  color: rgb(var(--grey-5));
}
.tui-select .tui-select-suffix {
  margin-left: 10px;
}
.tui-select.tui-select-size-large {
  font-size: 14px;
  height: var(--size-large);
  padding: 0 12px;
  border-radius: var(--border-radius-small);
}
.tui-select.tui-select-size-large .tui-select-suffix {
  margin-left: 12px;
}
.tui-select.tui-select-size-small {
  font-size: 12px;
  height: var(--size-small);
  padding: 0 8px;
  border-radius: var(--border-radius-small);
}
.tui-select.tui-select-size-small .tui-select-suffix {
  margin-left: 8px;
}
.tui-select.tui-select-size-tiny {
  font-size: 12px;
  height: var(--size-tiny);
  padding: 0 6px;
  border-radius: var(--border-radius-small);
}
.tui-select.tui-select-size-tiny .tui-select-suffix {
  margin-left: 6px;
}
.tui-select .tui-select-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 12px;
  margin-top: 4px;
  color: var(--color-foreground-1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.tui-select .tui-select-arrow::before {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  transform: rotate(-45deg) translate(2.5px);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}
.tui-select .tui-select-arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  transform: rotate(45deg) translate(-2.5px);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}
.tui-select.tui-select-open .tui-select-arrow {
  transform: translateY(-4px);
}
.tui-select.tui-select-open .tui-select-arrow::before {
  transform: rotate(45deg) translate(2.5px);
}
.tui-select.tui-select-open .tui-select-arrow::after {
  transform: rotate(-45deg) translate(-2.5px);
}
.tui-select-options {
  cursor: pointer;
  list-style: none;
  margin: 6px 0;
}
.tui-select-options li {
  padding: 8px 16px;
}
.tui-select-options li:hover {
  background: var(--color-fill-4);
}

.tui-form {
  display: flex;
  flex-direction: column;
}
.tui-form.tui-form-size-medium .tui-form-item-label label {
  line-height: var(--size-medium);
}
.tui-form.tui-form-size-medium .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 16px;
}
.tui-form.tui-form-size-large .tui-form-item-label label {
  line-height: var(--size-large);
}
.tui-form.tui-form-size-large .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 20px;
}
.tui-form.tui-form-size-small .tui-form-item-label label {
  line-height: var(--size-small);
}
.tui-form.tui-form-size-small .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 12px;
}
.tui-form.tui-form-size-tiny .tui-form-item-label label {
  line-height: var(--size-tiny);
}
.tui-form.tui-form-size-tiny .tui-form-item-label.tui-form-item-label-right label {
  padding-right: 10px;
}
.tui-form.tui-form-layout-vertical .tui-form-item {
  display: block;
}
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-label,
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-wrapper {
  display: block;
  flex: auto;
  max-width: 100%;
}
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-label {
  text-align: left !important;
}
.tui-form.tui-form-layout-vertical .tui-form-item .tui-form-item-label label {
  padding-right: 0;
}
.tui-form.tui-form-layout-inline {
  flex-flow: row wrap;
}
.tui-form.tui-form-layout-inline .tui-form-item {
  display: flex;
  margin-bottom: 8px;
  margin-right: 4px;
}
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-label,
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-wrapper {
  display: block;
  flex: auto;
  max-width: 100%;
}
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-label {
  padding: 0 4px;
  text-align: left !important;
}
.tui-form.tui-form-layout-inline .tui-form-item .tui-form-item-label label {
  padding-right: 0;
}
.tui-form.tui-form-layout-inline .tui-form-item.tui-form-item-has-error .tui-form-item-tip {
  position: relative;
}
.tui-form .tui-form-item {
  margin-bottom: 20px;
}
.tui-form .tui-form-item .tui-form-item-label.tui-form-item-label-left {
  text-align: left;
}
.tui-form .tui-form-item .tui-form-item-label.tui-form-item-label-right {
  text-align: right;
}
.tui-form .tui-form-item .tui-form-item-label.tui-form-item-label-ceter {
  text-align: center;
}
.tui-form .tui-form-item .tui-form-item-label label.tui-form-item-required::before {
  display: inline-block;
  margin-right: 4px;
  color: rgb(var(--red-5));
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
.tui-form .tui-form-item .tui-form-item-control {
  padding: 0;
}
.tui-form .tui-form-item .tui-form-item-tip {
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  margin: 4px 0;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-form-item-tip {
  position: absolute;
  color: rgb(var(--red-5));
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input {
  border: solid 1px transparent;
  background: var(--color-error-1);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-foreground-1);
  border: solid 1px var(--color-error-1);
  box-shadow: inset 0 0 0 32px var(--color-error-1) !important;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:-webkit-autofill:hover {
  border: solid 1px rgb(var(--red-5));
  background: var(--color-error-1);
  box-shadow: inset 0 0 0 32px var(--color-error-1) !important;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:-webkit-autofill:focus {
  border: solid 1px rgb(var(--red-6));
  background: var(--color-error-1);
  box-shadow: 0px 0px 0px 3px var(--color-error-2), inset 0 0 0 32px var(--color-error-1) !important;
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:hover {
  border: solid 1px rgb(var(--red-5));
  background: var(--color-error-1);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-input:focus {
  border: solid 1px rgb(var(--red-6));
  background: var(--color-error-1);
  box-shadow: 0px 0px 0px 3px var(--color-error-2);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-select {
  border: solid 1px transparent;
  background: var(--color-error-1);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-select:hover {
  border: solid 1px rgb(var(--red-5));
  background: var(--color-error-1);
}
.tui-form .tui-form-item.tui-form-item-has-error .tui-select:focus {
  border: solid 1px rgb(var(--red-6));
  background: var(--color-error-1);
  box-shadow: 0px 0px 0px 3px var(--color-error-2);
}


